@import '../../../.././../variables.scss';

.card {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 25px;
    padding-bottom: 25px;
    background-color: $panel-background-color;

    .amount-label {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            opacity: 0.8;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    
        img {
            height: 35px;
        }
    }

    .unavailable {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column !important;
        gap: 30px;

        .details {
            display: flex;
            flex-direction: column;
            gap: 5px;
            list-style-type: none;
            padding: 0 5px;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                opacity: 0.9;
            }
        }

        .details-placeholder {
            height: 76px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            opacity: 0.5;

            div {
                height: 100%;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        .separator {
            flex-grow: 1;
        }
    }
}