@import 'variables.scss';

.native-fee-estimation {
    font-weight: 500;
}

.discount-label {
    color: $c-turquoise;
}

.warning-label {
    color: $warning-color;
}

.balance-error {
    padding: 1em 0;
    font-size: 18px;
    font-weight: bold;
    color: $danger-color;
}

.section-title {
    display: flex;
    justify-content: space-between;

    .gas-tank-enabled {
        color: $c-turquoise;
    }

    .gas-tank-disabled {
        color: $danger-color;
    }
}

#fee-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;

    .feeSquare {
        height: 90px;
        width: 95px;
        @include flex-center-center;
        flex-direction: column;
        padding: 0 1em;
        background: $c-mirage;
        border-radius: 12px;
        cursor: default;
        transition: all 0.1s ease-in-out;
        position: relative;

        .speed, .feeEstimation {
            font-size: 15px;
            font-weight: 500;
        }

        .speed {
            text-transform: uppercase;
        }

        .feeEstimation {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            opacity: 0.5;
            &.symbol {
                font-size: 12px;
                text-align: center;
            }
        }

        &.disabled {
            opacity: 0.4;
        }

        &:not(.disabled):hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.4);
        }

        &.selected {
            box-shadow: 0 0 0 3px $ambire-dark-blue inset;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .discount-badge {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $c-turquoise;
        }
    }
}

.fee-select {
    .discount {
        @include flex-center-center;
        color: $c-turquoise;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.fee-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 1em;

    .fee-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        gap: 1em;
        &:nth-of-type(odd) {
            background-color: $c-mirage;
        }
    }

    .fee-amounts {
        text-align: right;
        div {
            &:nth-child(2) {
                font-size: 0.69rem;
                opacity: 0.69;
            }
        }       
    }

    .section, .fees-breakdown {
        flex-grow: 1;
    }   
}

.no-relayer-msg {
    color: $warning-color
}

.code-2fa-not-required-msg {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: mix($c-ebony-clay, $c-turquoise, 90%);
    color: $c-turquoise;
    padding: 15px;
    font-size: 14px;
}

#edit-custom-fee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25em;
    font-weight: 500;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

#custom-fee-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .title {
        font-size: 15px;
        font-weight: 500;
    }

    .text-input {
        &.selected {
            input {
                box-shadow: 0 0 0 3px $ambire-dark-blue inset;
                background-color: $c-mirage;
            }
        }
    }
    
    .price-warning {
        color: $warning-color;
        font-size: 14.20px;
    }
}

.failingTxn {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    cursor: default;

    .error-title {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: $danger-color;

        svg {
            font-size: 20px;
        }
    }

    .error-message {
        font-size: 18px;
        font-weight: 500;
        color: $danger-color;
        opacity: 0.9;
        word-break: break-word;
    }
}

.row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;    
    flex-wrap: wrap;
}

.wallet-discount-banner {
    font-size: 1.23em;
    font-weight: 500;
    padding: 0.5em;
    background-color: $ambire-purple;
    justify-content: space-between;
    gap: 1em;
    
    .buttonComponent {
        margin-left: 0.25em;
    }

    .swap-info {
        font-size: 18px;
        .link {
            color: $c-turquoise;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #fee-selector {
        overflow-x: auto;
    }
}