@import '../../variables.scss';

$titleBar-height: 90px;

#sendTransaction {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: $background-color;
    /*
    background-color: rgba(40, 43, 51, 0.95);
    backdrop-filter: blur(8px);
    */

    .panel {
        padding: 2em;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.2);
        display: block;
        box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            font-size: 1.5em;
            font-weight: bold;
            color: $primary-accent-color;
            text-transform: uppercase;
        }

        .heading {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            margin-bottom: 1.5em;
        }
    }

    #titleBar {
        z-index: 49;
        height: $titleBar-height;
        width: 100%;
        position: sticky;
        top: 0;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vw;
        background-color: $background-color;

        .dismiss {
            @include flex-center-center;
            gap: 1vw;
            cursor: pointer;
            color: #ccc;
            text-transform: uppercase;
            line-height: 35px;
            height: 35px;
            font-size: 20px;

            span {
                float: right;
            }

            &:hover {
                color: white;
            }
        }

        h2 {
            margin: 0;
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
            color: #ccc;
        }

        .separator {
            flex: 0 1 auto;
        }
    }

    .container {
        width: 75em;
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 2em;

        #topPanel {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 1em;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.5em;
                flex-wrap: wrap;

                .account,
                .network {
                    display: flex;
                    align-items: center;

                    .icon {
                        height: 20px;
                        width: 20px;
                        border-radius: 100%;
                    }
                }

                .account {
                    gap: 10px;
                    font-family: monospace;
                    font-size: 15px;
                    font-weight: bold;
                    word-break: break-word;
                }

                .network {
                    gap: 7px;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }

        #panelHolder {
            display: flex;
            align-items: normal;
            gap: 2em;

            .listOfTransactions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                min-height: 300px;
                min-width: 350px;

                &.frozen {
                    opacity: 0.5;
                }
            }

            .secondaryPanel {
                flex: 0 0 45%;
                display: flex;
                flex-direction: column;
                gap: 2em;

                .feePanel {
                    justify-content: center;
                    display: flex;

                    .loading {
                        margin: 1em auto;
                    }

                    .feeAmountSelectors {
                        overflow: hidden;
                        margin: 1em 0px;
                        min-width: 360px;
                        display: flex;
                        justify-content: center;

                        .feeSquare {
                            box-sizing: border-box;
                            background-color: #ccc;
                            color: black;
                            text-align: center;
                            min-height: 80px;
                            width: 90px;
                            float: left;
                            margin-right: 10px;
                            padding: 10px;
                            box-sizing: border-box;
                            border: 5px solid transparent;
                            overflow: hidden;
                            cursor: pointer;
                            user-select: none;

                            &.disabled {
                                opacity: 0.5;
                                cursor: default;
                            }

                            &.selected {
                                border: 5px solid $primary-accent-color;
                            }

                            .speed {
                                text-transform: uppercase;
                                font-size: 0.8em;
                                font-weight: bold;
                                margin-bottom: 5px;
                            }

                            .feeEstimation {
                                width: 80px;
                                margin: auto;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }

                    .failingTxn {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 50px;
                            height: 50px;

                            &:first-child {
                                color: red;
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }
                }

                .actions {
                    .buttons {
                        justify-content: center;
                        display: flex;
                    }

                    .text-input {
                        margin: 6px;
                        display: inline-block;
                        width: 47%;
                    }

                    button {
                        width: 45%;
                        margin: 2em 2.5% 0em;
                        text-transform: uppercase;
                        font-weight: 800;
                        display: inline-block;
                        min-height: 75px;
                        font-size: 1em;
                        vertical-align: middle;
                        position: relative;

                        &.rejectTxn {
                            background-color: rgb(255, 132, 128);
                        }

                        &.approveTxn {
                            .loading {
                                position: absolute;
                                top: 20px;
                                left: 15px;
                                display: block;
                                width: auto;
                                height: auto;
                            }
                        }
                    }

                    input {
                        box-shadow: 0 2px 0 #b3c4e6;
                        color: white;
                        background-color: transparent;
                    }

                    .quickAccSigningForm {
                        display: inline;

                        button {
                            min-height: 50px;

                            .loading {
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #sendTransaction .container {
        width: 60em;
    }
}

@media screen and (max-width: 1000px) {
    #sendTransaction .container {
        width: 40em;
    }

    #sendTransaction #panelHolder {
        flex-direction: column;
    }

    #sendTransaction #topPanel {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    #sendTransaction .container {
        width: 100%;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #sendTransaction {
        .panel {
            padding: 1.5em 1em;

            .title {
                text-align: center;
            }
        }

        .container {
            gap: 1em;

            #topPanel {
                flex-direction: column;

                .content {
                    width: 100%;
                    justify-content: flex-start;
                }
            }

            #panelHolder {
                gap: 1em;

                .listOfTransactions {
                    min-width: 100%;
                }

                .secondaryPanel {
                    gap: 1em;
                }
            }
        }

        #titleBar {
            h2 {
                font-size: 4vw;
            }
        }
    }
}