@import "variables.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: theme(background-gradient);
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 46px;
    max-width: 1760px;
    padding: 37px 40px;
    
    .containerBody {
      overflow: hidden;
      flex: 1;
      display: flex;
      gap: 16px;

      .panel {
        flex: 1;
        padding: 30px 40px;
  
        &:first-child {
          flex: 2;
        }
    
        & > div { // Panel .content div
          justify-content: space-between;
        }
  
        .panelTitle {
          margin: 0;
          margin-bottom: 27px;
          font-size: 25px;
          font-weight: 400;
          text-align: center;
        }
      }
    }

  }
}
// Here we are not using a breakpoint from variables.scss, but SendTransaction
// covers the whole screen, so it shouldn't be a problem.
@media screen and (max-width: 1600px) { 
  .wrapper {
    .container {
      .containerBody {
        .panel {
          &:first-child {
            flex: 1.5;
          }
  
          .panelTitle {
            font-size: 23px;
          }
        }
      }
    }
  }
}

@include lg-breakpoint {
  .wrapper {
    .container {
      padding: 40px 20px;
      padding-top: 5px; // Fix for the Back Icon being cut
      max-width: 900px;
      margin: 0 auto;
      margin-top: 30px;
      overflow-y: auto;
      
      .containerBody {
        overflow: unset;
        flex-direction: column;
        gap: 40px;
        flex: unset;

        .panel {
          overflow-y: unset;
          padding: 20px;
  
          .panelTitle {
            font-size: 20px;
          }
        }
      }

    }
  }
}

@include sm-breakpoint {
  .wrapper {
    .container {
      padding: 30px 15px;
      padding-top: 5px;
      margin-top: 15px;

      .containerBody {
        .panel {
          padding: 15px;
        }
      }
    }
  }
}
