#sendTransaction {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    background-color: #282b33;
    /*
    background-color: rgba(40, 43, 51, 0.95);
    backdrop-filter: blur(8px);
    */
}

#sendTransaction .dismiss {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    color: #ccc;
    text-transform: uppercase;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
}
#sendTransaction .dismiss:hover {
    color: white;
}

#sendTransaction .dismiss span {
    float: right;
    margin-left: 15px;
}

#sendTransaction h2 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 30px;
}

#sendTransaction .panelHolder {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em;
}

#sendTransaction .panel {
    padding: 2em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    max-width: 650px;
    display: block;
}

#sendTransaction .panel .heading {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#sendTransaction .panel .heading .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(128, 255, 219);
    text-transform: uppercase;
}

#sendTransaction .secondaryPanel {
    min-width: 500px;
    max-width: 550px;
}

#sendTransaction .feePanel {
    justify-content: center;
    display: flex;
}
#sendTransaction .feePanel .loading {
    margin: 1em auto;
}

#sendTransaction .feeAmountSelectors {
    overflow: hidden;
    margin: 1em 0px;
    min-width: 360px;
    display: flex;
    justify-content: center;
}

#sendTransaction .feeSquare {
    box-sizing: border-box;
    background-color: #ccc;
    color: black;
    text-align: center;
    min-height: 80px;
    width: 90px;
    float: left;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid transparent;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
#sendTransaction .feeSquare.selected {
    border: 5px solid rgb(128, 255, 219);
}
#sendTransaction .feeSquare .speed {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}
#sendTransaction .feeEstimation {
    width: 80px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sendTransaction .actions button {
    background-color: rgb(128, 255, 219);
    width: 45%;
    margin: 2em 2.5% 0em;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    min-height: 75px;
    font-size: 1em;
    vertical-align: middle;
    position: relative;
}

#sendTransaction .buttons {
    justify-content: center;
    display: flex;
}

#sendTransaction button.rejectTxn {
    background-color: rgb(255, 132, 128);
}

#sendTransaction button.approveTxn .loading {
    position: absolute;
    top: 20px;
    left: 8px;
}

#sendTransaction .listOfTransactions {
    min-height: 300px;
    min-width: 350px;
}
#sendTransaction .txnSummary {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px auto;
    min-height: 50px;
    position: relative;
    user-select: none;
}

#sendTransaction .txnSummary > div {
    width: calc(100% - 70px);
}

#sendTransaction .txnSummary .dismissTxn > svg {
    right: 20px;
}
#sendTransaction .txnSummary .expandTxn > svg {
    right: 70px;
}
#sendTransaction .txnSummary svg {
    position: absolute;
    top: 30px;
    bottom: 0px;
    width: 25px;
    height: 30px;
    color: #ccc;
    cursor: pointer;
}
#sendTransaction .txnSummary svg:hover {
    color: #fff;
}

#sendTransaction .txnSummary .firstFailingLabel {
    font-weight: bold;
    color: red;
}

#sendTransaction .advanced {
    word-wrap: break-word;
    max-width: 600px;
    font-family: monospace;
    margin-top: 30px;
}
#sendTransaction .advanced div {
    margin-bottom: 20px;
    user-select: text;
}

#sendTransaction .failingTxn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendTransaction .failingTxn svg {
    width: 50px;
    height: 50px;
}

#sendTransaction .failingTxn svg:first-child {
    color: red;
    width: 90px;
    height: 90px;
}

#sendTransaction input {
    border-bottom: 2px solid #b3c4e6;
    margin: 6px;
    color: white;
}


#sendTransaction .quickAccSigningForm {
    display: inline;
}

#sendTransaction .quickAccSigningForm button {
    min-height: 50px;
}

#sendTransaction .quickAccSigningForm button .loading {
    top: 15px;
}
