@import 'variables.scss';

$titleBar-height: 90px;

#sendTransaction {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(61,68,106);
    background: transparent linear-gradient(180deg, $c-fiord 0%, $c-ebony-clay 100%) 0% 0% no-repeat padding-box;

    #titleBar {
        z-index: 49;
        height: $titleBar-height;
        width: 100%;
        position: sticky;
        top: 0;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vw;

        .dismiss {
            @include flex-center-center;
            gap: 1vw;
            cursor: pointer;
            color: #ccc;
            text-transform: uppercase;
            line-height: 35px;
            height: 35px;
            font-size: 20px;

            span {
                float: right;
            }

            &:hover {
                color: white;
            }
        }
    }

    .container {
        height: 100%;
        width: 100%;
        max-width: $wide-breakpoint-min-width;
        display: flex;
        flex-direction: row;
        align-items: normal;
        gap: 2.5em;
        padding: 2em 5em;
        padding-bottom: 4em;
        overflow-y: auto;

        .separator {
            flex-grow: 1;
        }

        #transactionPanel {
            min-width: 0;
            flex: 0 1 70%;
            background: $c-ebony-clay;
            border: 1px solid $c-fiord;
            border-radius: 12px;

            .content {
                height: 100%;
                gap: 15px;
                overflow: hidden;

                .listOfTransactions {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    overflow-y: auto;
                }

                .transactionsNote {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    padding: 1em 1.5em;
                    border-bottom: 3px solid $ambire-dark-blue;
                    background: $c-mirage;
                    border-radius: 12px;

                    b {
                        display: flex;
                        align-items: center;
                        gap: 0.75em;
                    }

                    span {
                        font-weight: 500;
                        opacity: 0.6;
                    }
                }
            }
        }

        #detailsPanel {
            flex: 0 1 30%;
            justify-content: space-between;
            gap: 2em;
            background: $c-ebony-clay;
            border: 1px solid $c-fiord;
            border-radius: 12px;

            .section {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .section-title {
                    font-size: 16px;
                    font-weight: 500;
                }

                .section-content {
                    display: flex;
                    flex-direction: column;

                }
            }

            .icon {
                flex: 0 0 auto;
                border-radius: 100%;
                background-size: contain;
                background-position: center center;
            }

            #options-container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                flex: 1 1 auto;
                overflow: hidden;
                overflow-y: auto;
                padding-bottom: 10px;

                #signing-details {
                    .section-content {
                        gap: 0.5em;

                        .account,
                        .network {
                            display: flex;
                            align-items: center;
                        }

                        .account {
                            gap: 0.75em;

                            .icon {
                                height: 25px;
                                width: 25px;
                            }

                            .address {
                                font-size: 17px;
                                font-weight: bold;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        .network {
                            justify-content: flex-end;
                            gap: 0.5em;
                            opacity: 0.8;

                            .icon {
                                height: 20px;
                                width: 20px;
                            }

                            .address {
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .first-tx-note,
            .confirmation-code-info {
                display: flex;
                flex-direction: column;
                gap: 0.25em;

                .first-tx-note-title,
                .confirmation-code-info-title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5em;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .first-tx-note-message,
                .confirmation-code-info-message {
                    font-size: 17px;
                    font-weight: 500;
                    opacity: 0.8;
                }
            }

            #actions-container {
                #actions {
                    gap: 1.5em;

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        .inputs-container {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            .text-input {
                                flex: 0 1 50%;
                            }
                        }

                        .buttons {
                            margin-top: 1em;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row;
                        gap: 1.5em;
                        flex-wrap: wrap;

                        .buttonComponent {
                            height: 75px;
                            // flex: 0 1 50%;
                            flex-grow: 1;

                            &.danger {
                                color: white;

                                .icon-button {
                                    svg {
                                        color: white;
                                    }
                                }
                            }

                            &.approveTxn {
                                // flex: 1 0 auto;

                                .loading {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .replaceInfo {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px;

        &.info {
            background-color: mix($panel-background-color, $info-color, 90%);
            color: $info-color;
        }

        &.warning {
            background-color: mix($panel-background-color, $warning-color, 90%);
            color: $warning-color;
        }

        margin-bottom: 16px;
    }

    #actions-container-replace {
        .buttons {
            display: flex;
            flex-direction: row;
            gap: 1.5em;
            flex-wrap: wrap;

            .buttonComponent {
                height: 75px;
                // flex: 0 1 50%;
                flex-grow: 1;

                &.danger {
                    color: white;

                    .icon-button {
                        svg {
                            color: white;
                        }
                    }
                }

                &.approveTxn {
                    // flex: 1 0 auto;

                    .loading {
                        width: auto;
                    }
                }
            }
        }
    }

}

// Wide
@media screen and (min-width: $wide-breakpoint-min-width) {
    #sendTransaction {
        .container {
            #actions-container {
                #actions {
                    form {
                        .inputs-container {
                            flex-direction: column !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $small-breakpoint-max-width) {
    #sendTransaction {
        .container {
            gap: 1em;
            flex-direction: column;

            #signing-details {
                .section-content {
                    flex-direction: row !important;
                }
            }

            #fee-selector {
                justify-content: start;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #sendTransaction {
        .container {
            padding: 1em;

            #signing-details {
                .section-content {
                    flex-direction: column !important;
                }
            }

            #actions-container {
                #actions {
                    form {
                        .inputs-container {
                            flex-direction: column !important;
                        }
                    }
                }
            }
        }
    }
}