@import 'variables';

.wrapper {
  margin-bottom: 30px;

  .title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: theme(text-primary);
  }
}

@media (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    margin-bottom: 15px;

    &.sdk {
      margin-bottom: 5px;

      .title {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    
    .title {
      text-align: center;
    }
  }
}
