@import "variables";

.wrapper {
  overflow-y: auto;
  .details {
    margin-bottom: 30px;

    .detailsTitle {
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 300;
      color: $c-titan-white;
    }

    .accountAndNetwork {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .account {
        display: flex;
        align-items: center;
        gap: 20px;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 12px;
        }

        .address {
          color: $c-titan-white;
          font-size: 16px;
          margin: 0;
          word-break: break-all;
        }
      }

      .network {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $c-scampi;
        font-size: 14px;
        margin: 0;

        .icon {
          border-radius: 12px;
          width: 24px;
          height: 24px;
          background-color: rgba($c-titan-white, 0.05);
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    .details {
      .detailsTitle {
        text-align: center;
      }
      .accountAndNetwork {
        flex-direction: column;
        gap: 10px;

        .account {
          flex-direction: column;

          .address {
            font-size: 13px;
            text-align: center;
          }
        }
      }
    }
  }
}
