@import 'variables.scss';
$WCBlue: #0078db;
$faveColor: #FFFF00;
$gap: .75rem;

.wrapper {
  height: 100%;
  @include flex-full-grow-container;
  position: relative;

  .dappCatalogInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .filterInput {
    flex: 1;
  }

  .textInputContainer {
    padding-left: 1.25rem;
    border-radius: 12px;

    input {
      background-color: $c-mirage!important;
    }
    
    ::placeholder {
      color: $c-titan-white!important;
    }
  }

  .filterSection {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    margin-bottom: ($gap * 2);

    .categories {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-end;
      gap: $gap;

      .category {
        cursor: pointer;
        padding: .7188rem .875rem;
        border-radius: 12px;
        border: 2px solid mix($c-titan-white, $c-mirage);
        color: mix($c-titan-white, $c-mirage);
        text-transform: lowercase;

        &:hover {
          background: mix($c-ebony-clay, $text-container-color, 85%);
        }

        &.selected {
          border: 2px solid $c-turquoise;
          color: $c-turquoise;

          &.categoryintegrated {
            color: $c-heliotrope;
            border-color: $c-heliotrope;
          }

          &.categorywalletconnect {
            color: $WCBlue;
            border-color: $WCBlue;
          }

          &.categoryfavorites {
            color: $faveColor;
            border-color: $faveColor;
          }
        }
      }
    }

  }

  .dappIframe {
    border: 1px solid $c-heliotrope;
  }

  .catalogItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    gap: $gap;

    .catalogItem {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $gap;
      padding: ($gap + .875rem) .625rem 1.6875rem 1.5625rem;
      background-color: $c-ebony-clay;
      border-radius: 12px;
      border: 1px solid transparent;
      transition: 100ms;
      position: relative;
      overflow: hidden;
      transition: .1s ease-out border;

      &.addCustomDapp {
        cursor: default;
      }

      .tools {
        position: absolute;
        right: .625rem;
        top: .625rem;
        display: flex;
        flex-direction: row;
        gap: .25rem;
        align-items: center;

        .favorite, .customDapp, NaNpxoveDapp, .hotDapp, .infoBtn {
          .icon, &.icon {
            font-size: 1.25rem;
            height: 1.25rem;
            cursor: pointer;
          }      
          height: .875rem;
          width: auto;
          color: mix($c-titan-white, $c-mirage, 20%);
  
          &.selected {
            color: $faveColor;
          }
  
          &:hover {
            color: $faveColor;
          }
        }

        .favorite {
          height: 1.125rem;
          width: 1.125rem;
        }

        NaNpxoveDapp {          
          &:hover {
            color: $danger-color;
          }         
        }
        .infoBtn {
          color: $ambire-purple;
          opacity: 0.5;
          &:hover {
            color: $ambire-purple;
            opacity: 1;
          }         
        }
      }      

      &.notSupported {
        cursor: not-allowed;
        opacity: 0.2;

        &:hover {
          background-color: $c-martinique;
        }

        .logoSplit {
          opacity: 0.4;
        }

        .tools :not(.tooltipLabel) {
          opacity: 0.5;
        }

        .tagRow {
          opacity: 0.5;
          .tag.unsupported {
            background-color: transparent;
            border-color: mix($c-titan-white, $c-mirage, 50%);
            color: mix($c-titan-white, $c-mirage, 50%);
          }
        }
      }

      &.addCustomDapp {
        align-items: center;
        gap: $gap * 2;
        .customDappIconWrapper {
          border: 1px dashed $c-fiord;
          border-radius: 12px;
          padding: 1.375rem;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;

          img {
            background-color: $c-mirage;
            padding: .5rem;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 12px;
          }
        }
      } 

      .logoSplit {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 1.25rem;

        .logo {
          min-width: 3.5rem;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 12px;
          background: $c-mirage;
          //padding: .5rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 2.75rem;
            max-height: 2.75rem;
            border-radius: 12px;
          }
        }
      }

      .title {
        font-weight: 400;
        display: block;
        font-size: 1.25rem;
      }

      .description {
        margin-top: $gap;
        font-size: .875rem;
        color: $c-titan-white;
        opacity: .5;
        margin-top: 1.25rem;
      }

      .alignedTagRows {
        display: flex;
        flex-wrap: wrap;
      }

      .tagRow {
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
        gap: .5rem;

        &.networkTagRow {
          gap: .25rem;
          justify-content: left;
        }

        &.tagTypes {
          flex-grow: 1;
          margin-left: .625rem; //fixes hover issue with network tags
        }

        &.unsupported {
          justify-content: left;
          margin: 0;
          margin-top: .5rem;
        }

        .tooltipNetworks {

          .tooltipNetwork {
            display: flex;
            gap: .5rem;
            align-items: center;
            margin: .25rem 0;

            .tooltipNetworkIcon {
              border: 0;
              display: block;
              height: 1rem;
              width: 1rem;
              background-size: 1rem 1rem;
              background-color: transparent;
              border-radius: 2rem;
            }
          }

        }

        .tag {
          // background-color: mix($c-heliotrope, $c-mirage, 30%);
          border: 1px solid $c-heliotrope;
          color: mix($c-heliotrope, $c-titan-white, 70%);
          padding: .2188rem 1.3438rem;
          font-size: .75rem;
          border-radius: 2rem;
          text-transform: capitalize;

          &.typeTagwalletconnect {
            // background-color: mix($WCBlue, $c-mirage, 30%);
            border: .0625rem solid $WCBlue;
            color: mix($WCBlue, $c-titan-white, 70%);
          }

          &.typeTaghot {
            border: .0625rem solid $ambire-dark-blue;
            color: mix($ambire-dark-blue, $c-titan-white, 70%);
          }

          &.networkTag {
            border: 2px solid $c-ebony-clay;
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            padding: 0 0;
            background-size: 1rem 1rem;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $c-titan-white;
            border-radius: 2rem;
            margin-right: -0.625rem;
            cursor: initial;
          }

          &.networkTagMore {
            background: transparent;
            border: 0;
            margin-left: .25rem;
            margin-right: 0;
            font-weight: bold;
            font-size: 1rem;
            margin-left: .625rem;
            color: $text-container-color;
          }
        }
      }

      &:hover:not(.addCustomDapp) {
        background-color: $c-martinique;
        border: 1px solid $c-turquoise;
      }
    }
  }

  .noDappFound {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5rem;
    background-color: $c-mirage;
    border-radius: 12px;
    margin-top: 1.25rem;
    color: rgba($c-titan-white, 0.8);
  }

  .infoWc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: .625rem;
    padding: .75rem;
    background-color: $c-mirage;
    border-radius: 12px;
    color: rgba($c-titan-white, 0.8);
  }
}

@media screen and (max-width: $small-breakpoint-max-width) {
  .wrapper {
    .catalogItems {
      grid-template-columns: repeat(3, 1fr [col-start]);
    }
    .infoWc {
      border-radius: 12px 12px 0 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    .catalogItems {
      grid-template-columns: repeat(2, 1fr [col-start]);
    }
  }
}

@include lg-breakpoint {
  .wrapper {
    .filterSection { 
      flex-direction: column;
      max-width: 28.125rem;
      margin: 0 auto;
      margin-bottom: 1.875rem;
      width: 100%;

      .filterInput {
        width: 100%;
      }
    }

    .catalogItems {
      grid-template-columns: repeat(1, 1fr [col-start]);

      .catalogItem {
        max-width: 28.125rem;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}


