@import 'variables.scss';
$WCBlue: #0078db;
$faveColor: #FFFF00;
$gap: 12px;

#dappCatalog {
  height: 100%;
  @include flex-full-grow-container;
  position: relative;

  .text-input-container {
    padding-left: 20px;
    border-radius: 12px;
  }

  .filter-section {
    margin-bottom: ($gap * 2);

    .categories {
      margin-top: $gap * 2;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-end;
      gap: $gap;

      .category {
        cursor: pointer;
        padding:5px 16px;
        border-radius: 100px;
        border: 1px solid mix($text-color, $input-background-color-darker);
        color: mix($text-color, $input-background-color-darker);
        text-transform: capitalize;

        &:hover {
          background: mix($panel-background-color, $text-container-color, 85%);
        }

        &.selected {
          padding:4px 15px;// border hack not jittering
          border: 2px solid $primary-accent-color;
          color: $primary-accent-color;

          &.category-integrated {
            color: $secondary-accent-color;
            border-color: $secondary-accent-color;
          }

          &.category-walletconnect {
            color: $WCBlue;
            border-color: $WCBlue;
          }

          &.category-favorites {
            color: $faveColor;
            border-color: $faveColor;
          }
        }
      }
    }

  }

  .dapp-iframe {
    border: 1px solid $secondary-accent-color;
  }

  .catalogItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    gap: $gap;

    .catalogItem {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $gap;
      padding: $gap;
      padding-top: $gap + 14px;
      background-color: $c-ebony-clay;
      border-radius: 12px;
      border: 1px solid transparent;
      transition: 100ms;
      position: relative;
      overflow: hidden;

      &.add-custom-dapp {
        cursor: default;
      }

      .tools {
        position: absolute;
        right: 8px;
        top: 8px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;

        .favorite, .custom-dapp, .remove-dapp, .hot-dapp, .info-btn {
          .icon, &.icon {
            font-size: 20px;
            height: 20px;
            cursor: pointer;
          }      
          height: 20px;
          width: auto;
          color: mix($text-color, $input-background-color-darker, 20%);
  
          &.selected {
            color: $faveColor;
          }
  
          &:hover {
            color: $faveColor;
          }
        }

        .remove-dapp {          
          &:hover {
            color: $danger-color;
          }         
        }
        .info-btn {
          color: $ambire-purple;
          opacity: 0.5;
          &:hover {
            color: $ambire-purple;
            opacity: 1;
          }         
        }
      }      

      &.not-supported {
        cursor: not-allowed;
        opacity: 0.2;

        &:hover {
          background-color: $c-martinique;
        }

        .logoSplit {
          opacity: 0.4;
        }

        .tools :not(.tooltip-label) {
          opacity: 0.5;
        }

        .tag-row {
          opacity: 0.5;
          .tag.unsupported {
            background-color: transparent;
            border-color: mix($text-color, $input-background-color, 50%);
            color: mix($text-color, $input-background-color, 50%);
          }
        }
      }

      &.add-custom-dapp {
        align-items: center;
        gap: $gap * 2;
        .custom-dapp-icon-wrapper {
          width: 96px;
          height: 96px;
          border: 1px dashed #333641;
          padding: 22px;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: center;
        }
      } 

      .logoSplit {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: $gap;

        .logo {
          min-width: 68px;
          width: 68px;
          height: 68px;
          background: $c-mirage;
          //padding: 8px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;

          img {
            max-width: 60px;
            max-height: 60px;
            border-radius: 4px;
          }
        }
      }

      .title {
        font-weight: bold;
        display: block;
        font-size: 1em;
      }

      .description {
        margin-top: $gap;
        font-size: 0.9em;
        color: $text-container-color;
      }

      .aligned-tag-rows {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
      }

      .tag-row {
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
        gap: 8px;
        margin: 8px 0;

        &.network-tag-row {
          gap: 4px;
          justify-content: left;
        }

        &.tag-types {
          flex-grow: 1;
          margin-left: 10px; //fixes hover issue with network tags
        }

        &.unsupported {
          justify-content: left;
          margin: 0;
          margin-top: 8px;
        }

        .tooltipNetworks {

          .tooltipNetwork {
            display: flex;
            gap: 8px;
            align-items: center;
            margin: 4px 0;

            .tooltipNetwork-icon {
              border: 0;
              display: block;
              height: 16px;
              width: 16px;
              background-size: 16px 16px;
              background-color: transparent;
              border-radius: 100px;
            }
          }

        }

        .tag {
          // background-color: mix($secondary-accent-color, $input-background-color, 30%);
          border: 1px solid $secondary-accent-color;
          color: mix($secondary-accent-color, $text-color, 70%);
          padding: 1px 4px;
          font-size: 11px;
          border-radius: 32px;
          text-transform: capitalize;

          &.type-tag-walletconnect {
            // background-color: mix($WCBlue, $input-background-color, 30%);
            border: 1px solid $WCBlue;
            color: mix($WCBlue, $text-color, 70%);
          }

          &.type-tag-hot {
            border: 1px solid $ambire-dark-blue;
            color: mix($ambire-dark-blue, $text-color, 70%);
          }

          &.network-tag {
            border: 2px solid $input-background-color;
            display: block;
            height: 20px;
            width: 20px;
            background-size: 16px 16px;
            background-color: transparent;
            border-radius: 100px;
            margin-right: -10px;
            cursor: initial;
          }

          &.network-tag-more {
            background: transparent;
            border: 0;
            margin-left: 4px;
            margin-right: 0;
            font-weight: bold;
            font-size: 16px;
            color: $text-container-color;
          }
        }
      }

      &:hover:not(.add-custom-dapp) {
        background-color: $c-martinique;
        border: 1px solid $c-turquoise;
      }
    }
  }

  .no-dapp-found {
    font-size: 1.2em;
    text-align: center;
    padding: 24px;
    background-color: $input-background-color;
    color: mix($text-color, $input-background-color);
  }

  .info-wc {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    padding: 12px;
    background-color: $input-background-color-darker;
    color: mix($text-color, $input-background-color-darker);
  }
}

@media screen and (max-width: $small-breakpoint-max-width) {
  #dappCatalog {
    .catalogItems {
      grid-template-columns: repeat(3, 1fr [col-start]);
    }
  }
}

@media screen and (max-width: 1000px) {
  #dappCatalog {
    .catalogItems {
      grid-template-columns: repeat(2, 1fr [col-start]);
    }
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  #dappCatalog {
    .catalogItems {
      grid-template-columns: repeat(1, 1fr [col-start]);
    }
  }
}


