@import 'variables.scss';
$WCBlue: #0078db;
$faveColor: #FFFF00;

#dappCatalog {
  height: 100%;
  @include flex-full-grow-container;
  border: 1px solid green;
  position: relative;

  .filter-section {
    margin-bottom: 24px;

    .categories {
      padding-top: 12px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 12px;

      .category {
        cursor: pointer;
        padding:5px 16px;
        border-radius: 100px;
        border: 1px solid mix($text-color, $input-background-color-darker);
        color: mix($text-color, $input-background-color-darker);

        &:hover {
          background: mix($panel-background-color, $text-container-color, 85%);
        }

        &.selected {
          padding:4px 15px;// border hack not jittering
          border: 2px solid $primary-accent-color;
          color: $primary-accent-color;

          &.category-integrated {
            color: $secondary-accent-color;
            border-color: $secondary-accent-color;
          }

          &.category-walletconnect {
            color: $WCBlue;
            border-color: $WCBlue;
          }

          &.category-favorites {
            color: $faveColor;
            border-color: $faveColor;
          }

        }
      }
    }

  }

  .catalogItems {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .catalogItem {
      cursor: pointer;
      flex: 1 1 30%;
      max-width: 33.333333%;
      padding: 18px;
      background-color: $input-background-color;
      border:1px solid transparent;
      transition: 100ms;
      position: relative;

      .favorite {
        position: absolute;
        right: 8px;
        top: 8px;
        color: mix($text-color, $input-background-color-darker, 20%);

        &.selected {
          color: $faveColor;
        }

        &:hover {
          color: $faveColor;
        }
      }

      &.not-supported {
        background-color: mix($input-background-color, $background-color, 50%);

        .logoSplit {
          opacity: 0.2;
        }

        .tag {
          opacity: 0.2;

          &.unsupported {
            opacity: 0.5;
            background-color: transparent;
            border-color: mix($text-color, $input-background-color, 50%);
            color: mix($text-color, $input-background-color, 50%);
          }
        }
      }

      .logoSplit {
        display: flex;
        gap: 16px;

        .logo {
          min-width: 48px;
          width: 48px;
          height: 48px;
          background: $input-background-color-darker;
          //padding: 8px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;

          img {
            max-width: 40px;
            max-height: 40px;
            border-radius: 4px;
          }
        }
      }

      .title {
        font-weight: bold;
        display: block;
        font-size: 1.1em;
      }

      .description {
        font-size: 0.95em;
        color: $text-container-color;
      }

      .aligned-tag-rows {
        margin-top: 8px;
        display: flex;
      }

      .tag-row {
        display: flex;
        justify-content: right;
        gap: 8px;
        margin: 8px 0;

        &.network-tag-row {
          gap: 4px;
          justify-content: left;
        }

        &.tag-types {
          flex-grow: 1;
        }


        .tooltipNetworks {

          .tooltipNetwork {
            display: flex;
            gap: 8px;
            align-items: center;
            margin: 4px 0;

            .tooltipNetwork-icon {
              border: 0;
              display: block;
              height: 16px;
              width: 16px;
              background-size: 16px 16px;
              background-color: transparent;
              border-radius: 100px;
            }
          }

        }

        .tag {
          background-color: mix($secondary-accent-color, $input-background-color, 30%);
          border: 1px solid $secondary-accent-color;
          color: mix($secondary-accent-color, $text-color, 70%);
          padding: 1px 4px;
          font-size: 11px;
          border-radius: 32px;

          &.type-tag-walletconnect {
            background-color: mix($WCBlue, $input-background-color, 30%);
            border: 1px solid $WCBlue;
            color: mix($WCBlue, $text-color, 70%);
          }

          &.network-tag {
            border: 2px solid $input-background-color;
            display: block;
            height: 20px;
            width: 20px;
            background-size: 16px 16px;
            background-color: transparent;
            border-radius: 100px;
            margin-right: -10px;
          }

          &.network-tag-more {
            background: transparent;
            border: 0;
            margin-left: 4px;
            margin-right: 0;
            font-weight: bold;
            font-size: 16px;
            color: $text-container-color;
          }
        }
      }

      &:hover {
        background-color: mix($input-background-color, #FFF, 98%);
        border:1px solid $ambire-dark-blue;
      }
    }

    .catalogItem-filler {
      flex: 1 1 30%;
      //need some css flex expert to trick this
      //flex-basis: 30%;
      max-width: 33.333333%;
    }
  }

  .no-dapp-found {
    font-size: 1.2em;
    text-align: center;
    padding: 24px;
    background-color: $input-background-color;
    color: mix($text-color, $input-background-color);
  }

  .info-wc {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    padding: 12px;
    background-color: $input-background-color-darker;
    color: mix($text-color, $input-background-color-darker);
  }
  padding-bottom: 24px;
}

.exit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  #dappCatalog {
    .catalogItems {
      .catalogItem {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
