@import '../../../variables.scss';

button.buttonComponent {
    height: 60px;
    @include flex-center-center;
    gap: 10px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: $primary-accent-color;
    text-transform: uppercase;
    
    .icon-button {
        @include flex-center-center;
        color: black !important;
    }

    &.small {
        height: 50px;
        font-size: 17px;
    }

    &.red {
        background: #da5151;
    }

    &.clear {
        color: white;
        background-color: transparent;

        .icon-button {
            color: white !important;
        }

        &:not([disabled]):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
