@import 'variables.scss';

button.buttonComponent {
    height: 60px;
    @include flex-center-center;
    gap: 10px;
    padding: 0 20px;
    border: none;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: $primary-accent-color;
    text-transform: uppercase;
    outline: none;
    transition: 0.1s ease-in-out;
    
    .icon-button {
        @include flex-center-center;
        color: black !important;
    }

    &.small {
        height: 50px;
        font-size: 17px;
    }

    &.mini {
        gap: 5px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
    }

    &.danger {
        background: $danger-color;
    }

    &.clear {
        color: white;
        background-color: rgba(0, 0, 0, 0.1);

        .icon-button {
            color: white !important;
        }

        &:not([disabled]):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &.border {
        color: $primary-accent-color;
        background-color: transparent;
        border: 1px solid $primary-accent-color;

        .icon-button {
            color: $primary-accent-color !important;
        }

        &:not([disabled]):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &:disabled, &.disabled{
        opacity: 0.2 !important;
    }

    &:not([disabled]):not(.disabled) {
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}
