@import 'variables.scss';

// We use mixins to reduce the repetition of code
@mixin BorderButton($primary-color) {
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;
}

@mixin FilledButton($primary-color) {
    background: $primary-color;
    color: $c-titan-white;
}

.wrapper {
    @include flex-center-center;
    gap: 10px;
    height: 60px;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
    transition-property: color, opacity, text-decoration;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
        color: inherit;
    }
    
    // Colors
    &.primary { // DEFAULT
        @include BorderButton($c-turquoise);
    }
    
    &.secondary {
        @include FilledButton(rgba($c-mirage, .4));
    }

    &.danger {
        @include BorderButton($danger-color);
    }
    
    // Gradients
    &.primaryGradient {
        @include FilledButton(transparent linear-gradient(90deg, $c-turquoise 0%, $c-electric-violet 100%));
    }

    &.secondaryGradient {
        @include FilledButton(transparent linear-gradient(90deg, $c-heliotrope 0%, $c-electric-violet 100%));
    }

    &.terniaryGradient {
        @include FilledButton(transparent linear-gradient(90deg, $c-turquoise 0%, $c-blue-lagoon 100%));
    }

    // Text only
    &.text {
        color: inherit;
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        height: auto;

        &:hover:not(.disabled) {
            text-decoration: underline;
        }
    }

    // Other states
    &.loading {
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
        
            to {
                transform: rotate(360deg);
            }
        }

        .loadingInner {
            display: flex;
            gap: 15px;
            align-items: center;

            .loadingText {
                margin: 0;
            }

            svg {
                animation: spin 1.5s infinite ease-in-out;
            }
        }
    }

    // Sizes
    &.sm {
        font-size: 16px;
        height: 50px;
        padding: 0 15px;

        &.loading {
            .loadingInner {
                gap: 10px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &.xsm {
        gap: 5px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
    }

    &:hover:not(.disabled) {
        opacity: .6;
    }

    &:active:not(.disabled) {
        opacity: 1;
    }

    &.disabled {
        opacity: .2;
        cursor: not-allowed;
    }
}
