@import 'variables.scss';

.wrapper {
    height: 60px;
    border-radius: 12px;
    @include flex-center-center;
    gap: 10px;
    padding: 0 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    color: $c-turquoise;
    border: 2px solid $c-turquoise;
    outline: none;
    transition: 0.1s ease-in-out;
    
    .iconButton {
        @include flex-center-center;
        color: $c-turquoise !important;
    }

    &.small {
        height: 50px;
        font-size: 17px;
    }

    &.mini {
        gap: 5px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
    }

    &.danger {
        border: none;
        color: $c-titan-white;
        background: $danger-color;

        .iconButton {
            color: inherit!important;
        }
    }

    &.clear {
        border: none;
        color: $c-titan-white;
        background-color: rgba(0, 0, 0, 0.1);

        .iconButton {
            color: inherit!important;
        }

        &:not([disabled]):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &.primaryGradient {
        border: none;
        background: transparent linear-gradient(90deg, $c-turquoise 0%, #6000FF 100%) 0% 0% no-repeat padding-box;
        color: $c-titan-white;

        .iconButton {
            color: inherit!important;
        }
    }

    &.secondary {
        border: none;
        color: $c-titan-white;
        background-color: $c-heliotrope;

        .iconButton {
            color: inherit!important;
        }
    }

    &.textOnly {
        padding: 0;
        margin: 0;
        height: auto;
        background: 0;
        border: none;
        color: $c-titan-white;
        font-size: 1em;
        display: inline-flex;
    }

    &.border {
        color: $c-turquoise;
        background-color: transparent;
        border: 2px solid $c-turquoise;

        .iconButton {
            color: $c-turquoise !important;
        }

        &:not([disabled]):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &:disabled, &.disabled{
        opacity: 0.4 !important;
    }

    &:not([disabled]):not(.disabled) {
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}
