@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $c-mirage;
    background-color: $c-mirage;
    border-radius: 12px;
    padding: 15px 20px;

    .itemTitle {
      flex-grow: 1;
    }

    .amountInput input {
      height: 40px;
      padding: 10px;
      font-size: 16px;
      max-width: 160px;
    }
  }

  .usd {
    color: $c-manatee;
  }

  .selection {
    cursor: pointer;
    color: $c-heliotrope;
    border-bottom: 1px dashed $c-heliotrope;
  }

  .message {
    margin: 15px;
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    .item {
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      padding: 20px;
      padding-bottom: 15px;

      .selection {
        margin-bottom: 10px;
      }
    }
  }
}