@import 'variables.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 1.25rem;
  background: $c-ebony-clay;
  border: .0625rem solid $c-fiord;
  border-radius: .75rem;

  .message {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    .link {
      cursor: pointer;
      display: block;
      color: $c-turquoise;
      text-decoration: underline;
  
      &.linkMargin {
        margin-top: .5rem;
      }
    }
  }

  .close {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
}
