@import 'variables.scss';

.wrapper {
  position: relative;
  
  .shadow {
    position: absolute;
    left: 50%;
    z-index: 1;
    bottom: -6.5px;
    width: 99%;
    height: 40px;
    transform: translateX(-50%);
    background: #1E203380;
    mix-blend-mode: multiply;
    border-radius: 10px;
    filter: blur(5px);
  }

  .alertWrapper {
    overflow: hidden;
    border-radius: 12px;

    .alert {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      padding: 13px 20px;
      padding-left: 13px;
      background-color: #FEF5DB;
      border-left: 7px solid #FFBC00;
      color: #333757;
    
      .body {
        margin-left: 20px;
        flex: 1;
    
        .title {
          margin: 0;
          margin-bottom: 5px;
          font-size: 20px;
        }
    
        .text {
          margin: 0;
          font-size: 16px;
    
          .link {
            color: #AE60FF;
          }
        }
      }
    
      .close {
        margin-left: 30px;
        cursor: pointer;
        color: #FFBC00;
        background-color: transparent;
        border: 0;
        outline: none;
      }
    }
  }
}
  
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    .alertWrapper {
      .alert {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        border-left: 0;
        border-top: 7px solid #FFBC00;
        text-align: center;
      
        svg {
          width: 48px;
          height: 48px;
        }
      
        .body {
          margin-left: 0;
      
          .title {
            margin-bottom: 15px;
            font-size: 18px;
          }
      
          .text {
            font-size: 14px;
          }
        }
      
        .close {
          margin-left: 30px;
          cursor: pointer;
          color: #FFBC00;
          background-color: transparent;
          border: 0;
          outline: none;
        }
      }  
    }
  }
}
