@import 'variables.scss';

$modal-text-color: mix($text-color, $panel-background-color, 70%);
$thead-background-color: darken($panel-background-color, 2%);

#gas-details-modal {
  button.buttonComponent {
    flex: 0 1 100% !important;
  }

  .gas-details-date {
    font-size: 0.8em;
    color: $modal-text-color;
  }

  .gas-speed-row {
    margin-top: 18px;
    display: flex;
    gap: 16px;
  }

  .gas-speed-block {
    text-align: center;
    flex: 1;
    color: $modal-text-color;
    background: $background-color;
    padding: 12px;
    border: 2px solid transparent;
    cursor: pointer;

    &.selected {
      border-color: $secondary-accent-color;
      color: $secondary-accent-color;
    }

    .gas-speed-name {
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    .gas-speed-price {
      font-size: 0.8em;
    }
  }

  h4 {
    font-weight: normal;
    margin-top: 48px;
    color: $modal-text-color;
    margin-bottom: 16px;
  }

  table.gas-action-costs {
    width: 100%;
    border-spacing: 0;
    color: $modal-text-color;

    thead {
      background: $thead-background-color;
      font-weight: normal;

      th {
        text-transform: capitalize;
        padding: 12px;
        text-align: left;
        font-weight: 500;
      }
    }

    tbody {
      background: $background-color;
    }

    td {
      padding: 12px;
      font-size: 0.8em;
    }
  }
}
