@import "variables";

$titleBar-height: 90px;

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .backIcon {
    background-color: theme(icon-background);
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

  .backLabel {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
  }

  .infoIcon {
    width: 20px;
    height: 20px;
  }

  .dismiss {
    @include flex-center-center;
    gap: 10px;
    cursor: pointer;
    line-height: 35px;
    height: 35px;
    font-size: 20px;

    span {
      float: right;
    }

    &:hover {
      opacity: .8;
    }
  }
}
