@import 'variables';

.emailLogin {
  padding: 0;
  overflow: visible;
  min-height: auto;
  justify-content: flex-start!important;
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .emailLogin {
    padding: 0!important;

    & > div {
      max-width: 100%!important;
    }
  }
}
