@import 'variables.scss';

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 17px;
    height: 100%;
}

// Small screen
@media screen and (max-width: $small-breakpoint-max-width) {
    .wrapper {
        height: auto;
        flex-direction: column;
    }
}