@import 'variables.scss';

#cross-chain {
    display: flex;
    flex-direction: row;
    gap: 2em;

    .buttonComponent {
        flex: 0 0 auto;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        margin-top: 75px;
    }

    .amount-label {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            opacity: 0.8;
        }
    }

    .placeholder {
        font-weight: 500;
        opacity: 0.8;
    }

    .panel {
        flex: 0 1 50%;
    }

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .inputs {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .loading {
                z-index: 49;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $panel-background-color;
            }
        }

        .separator {
            flex-grow: 1;
            @include flex-center-center;
            font-size: 40px;
            opacity: 0.5;
        }
    }

    #powered {
        align-self: center;
        text-align: right;
        font-size: 12px;
        font-weight: normal;
        opacity: 0.5;
    }

    
}

// Small screen
@media screen and (max-width: $small-breakpoint-max-width) {
    #cross-chain {
        flex-direction: column;
    }
}