@import 'variables.scss';

.migration-banner {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background: $c-ebony-clay;
  border: 1px solid $c-fiord;
  border-radius: 12px;

  .migration-banner-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .migration-banner-close {
    cursor: pointer;
  }

  span.link {
    cursor: pointer;
    display: block;
    color: $c-turquoise;
    text-decoration: underline;

    &.link-margin {
      margin-top: 8px;
    }
  }
}
