@import 'variables.scss';

.migration-banner {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background: mix($primary-accent-color, $panel-background-color, 5%);
  border: 1px solid $primary-accent-color;

  .migration-banner-message {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .migration-banner-close {
    cursor: pointer;
  }

  span.link {
    cursor: pointer;
    display: block;
    color: $primary-accent-color;
    text-decoration: underline;

    &.link-margin {
      margin-top: 8px;
    }
  }
}

#asset-migration-modal {

  >.content{
   padding-top: 32px;
  }

  .title{
    width: 100%;
  }

  .migration-asset-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $input-background-color-darker;
    padding: 8px 4px;
    height: 50px;

    .checkbox-container:not(.disabled):hover {
      .checkbox-mark {
        background: mix($primary-accent-color, $input-background-color-darker, 50%);
        border: 2px solid $primary-accent-color;
      }
    }

    .checkbox-container {

      input:checked ~ .checkbox-mark {
        background: mix($primary-accent-color, $panel-background-color, 5%);
      }

      .checkbox-mark {
        margin-top: 1px;
        background: $input-background-color-darker;
        border: 0;
        height: 20px;
        width: 20px;
        border: 2px solid transparent;

        &:after{
          left: 4px;
          top: 0px;

          border-color: $primary-accent-color;
        }
      }
    }



    &:hover {
      background: mix($background-color, $panel-background-color, 30%);
    }

    .checkbox-container {
      padding-top: 12px;
      height: 50px;
    }

    .migration-asset-name {
      font-weight: bold;
    }

    .migration-asset-select {

      flex-grow: 1;
      cursor: pointer;
      padding-left: 8px;

      .checkbox-label {
        height: 25px;
      }

      &:hover .checkbox-mark {
        svg {
          color: $secondary-accent-color;
        }
      }

      &.checked .checkbox-mark {
        svg {
          color: $primary-accent-color;
        }
      }
    }

    .separator {
      flex-grow: 1;
    }

    .migrate-amount-input input {
      height: 40px;
      padding: 10px;
      font-size: 1em;
      max-width: 120px;
    }

    .migration-asset-usd {
      color: $text-container-color;
      padding-right: 8px;
    }

    .migration-asset-amount {
      padding-left: 8px;
      flex-shrink: 1;
    }

    .migration-asset-amount-usd {
      color: $text-container-color;
    }
  }

  .custom-token-row {
    text-align: right;

    .custom-token-input input{
      height: 40px;
      padding: 10px;
      font-size: 1em;
    }

    button.buttonComponent{
      height: 30px;
      font-size: 0.9em;
      font-weight: normal;
      padding: 0 10px;
      text-transform: initial;
      background: $input-background-color-darker;

      &.primary {
        background: $primary-accent-color;
      }
    }

    .custom-token-message-fetching {
      padding: 8px;
      text-align: center;
      background: $input-background-color-darker;
    }
  }

  .migration-asset-select-label {
    display: flex;
    flex-direction: row;

    .migration-asset-select-name {
      white-space: nowrap;
      padding-left: 4px;
      padding-top: 0px;
    }
  }

  .migration-actions {
    padding-left: 8px;
    color: $text-container-color;
  }

  ul.notification-gas-tokens {
    padding-left: 12px;
    li {
      list-style: none;
      span.gas-token-suggestion {
        cursor:pointer;
        border-bottom: 1px dashed $secondary-accent-color;
      }

      span.gas-token-amount {
        color: darken($warning-color, 20%);
      }
    }
  }

  .migration-native-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $input-background-color-darker;
    padding: 8px 4px;
    height: 50px;

    .migration-native-row-key {
      flex-grow: 1;
    }

    .migrate-amount-input input {
      height: 40px;
      padding: 10px;
      font-size: 1em;
      max-width: 160px;
    }
  }

  .migration-native-usd {
    color: $text-container-color;
  }

  .migration-asset-select-icon {
    height: 22px;
    width: 22px;
    padding: 2px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    img {
      max-width: 18px;
    }

    &.migration-asset-select-icon-permit {
      margin-top: 0;
      margin-right: 8px;
    }
  }

  .migration-native-title {
    text-align: center;

    .migration-native-asset-icon {
      margin: 12px auto 12px auto;
      height: 68px;
      width: 68px;
      padding: 2px;
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.1);

      img {
        max-width: 64px;
      }
    }

    .migration-native-title-asset-name {
      b {
        font-weight: bold;
      }
    }
  }

  .migration-native-selection {
    cursor: pointer;
    border-bottom: 1px dashed $secondary-accent-color;
    font-weight: bold;
  }

  .migration-asset-status {
    color: $primary-accent-color;

    .required {
      color: $warning-color;
    }
  }

  .header-inline-flex {
    display: inline-flex;
  }

  .header-accent {
    display: inline;
    padding-bottom: 8px;
    border-bottom: 2px solid $primary-accent-color;
  }

  .small-asset-notification {
    padding: 8px;
    display: block;

    &.warning {
      background: mix($warning-color, $panel-background-color, 10%);
      color: $warning-color;
    }

    &.success {
      background: mix($primary-accent-color, $panel-background-color, 5%);
      color: $primary-accent-color;
    }
  }

  .error {
    background: $danger-color;
    color: $text-color;
    padding: 8px;
    margin-bottom: 18px;
  }

  .content-center {
    text-align: center;

    div {
      margin: auto;
    }
  }

  .gas-notification-info {
    padding: 12px;
    background: $input-background-color-darker;
    b{
      display: block;
      font-weight: bold;
      text-align: center;
      margin-bottom: 8px;
    }

    div {
      padding: 2px 0px;
    }
  }


  button.buttonComponent .loading .icon {
    padding-top:6px;

    svg {
      height: 24px
    }
  }


  button.button-small {
    padding: 8px;
    font-size: 0.8em;
    height: auto;
  }

  &.modal button.full {
    flex: 0 1 100% !important;
  }

  button.secondary {
    background: $secondary-accent-color;
  }

  button.buttonComponent.buttonHollow {
    background: transparent;
    border: 2px solid $text-color;
    color: $text-color;

    &.danger {
      background: transparent;
      border-color: $danger-color;
      color: $danger-color;

      .icon-button {
        color: $danger-color !important;
      }
    }

    &.secondary {
      border: 2px solid $secondary-accent-color;
      color: $secondary-accent-color;
      background: transparent;

      .icon-button {
        color: $secondary-accent-color !important;
      }
    }
  }


  .gas-estimation-block {
    background: $input-background-color-darker;

    .gas-estimation-block-title {
      padding: 8px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      background: darken($input-background-color-darker, 3%);
    }

    ul.gas-estimation-selector {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      background: mix($ambire-dark-blue, darken($input-background-color-darker, 2%), 3%);

      li {
        padding:4px 0;
        flex-grow: 1;
        list-style: none;
        text-align: center;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        color: mix($input-background-color-darker, $text-color, 50%);

        &:hover {
          border-bottom: 2px solid $ambire-dark-blue;
          color: $text-color;
        }

        &.selected {
          border-bottom: 2px solid $ambire-dark-blue;
          background: mix($ambire-dark-blue, darken($input-background-color-darker, 2%), 15%);
          color: $text-color;
        }

      }
    }

    table {
      width: 100%;

      td{
        padding: 8px;
        &.gas-estimation-details-amount{
          width: 0
        }
      }
    }
  }


  .migration-permitted {
    padding: 8px;
    font-size: 0.8em;
    background: mix($primary-accent-color, $panel-background-color, 5%);
    color: $primary-accent-color;
    display: flex;
    align-items: center;
    gap: 4px;

    &.warning {
      background: mix($warning-color, $panel-background-color, 5%);
      color: $warning-color;
    }
  }



}


