@import 'variables.scss';

.dropdown {
    position: relative;
    height: 50px;
    background-color: $c-ebony-clay;
    user-select: none;
    border: 1px solid $c-fiord;
    border-radius: 12px;
    cursor: pointer;

    &:hover, &:active {
        background-color: $c-mirage;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75em;
        padding-left: 10px;
        padding-right: 10px;

        .icon {
            height: 32px;
            width: 32px;
            background-size: cover;
            border-radius: 12px;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
        }

        .badge {
            height: 20px;
            width: 20px;
            @include flex-center-center;
            font-size: 12px;
            font-weight: bold;
            color: black;
            background-color: $c-turquoise;
            border-radius: 100%;
        }

        .separator {
            flex-grow: 1;
        }

        .handle {
            cursor: pointer;
            @include flex-center-center;
            height: 32px;
            width: 32px;
            background-color: rgba($c-titan-white, 0.05);
            border-radius: 12px;
            transition: all 0.1s ease-in-out;
            margin-left: auto;

            &.open {
                transform: scaleY(-1);
            }
        }
    }

    .menu {
        z-index: 97;
        min-width: 100%;
        position: absolute;
        top: 60px;
        border-radius: 12px;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: $c-ebony-clay;
        box-shadow: 0px 4px 10px #00000073;
        border: 1px solid $c-fiord;
        overflow: hidden;
    }
}