@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    background: $c-ebony-clay;
    border: 1px solid $c-fiord;
    border-radius: 12px;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        color: $c-scampi;

        h3 {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            flex: 1;
        }

        .dapp {
            flex: 1.2;
        }

        .placeholder {
            width: 36px;
            height: 1px;
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 10px;
        
        .header {
            display: none;
        }
    }
}