@import 'variables.scss';

$modal-text-color: mix($c-titan-white, $c-ebony-clay, 70%);
$thead-background-color: darken($c-ebony-clay, 2%);

#gas-details-modal {
  .buttonComponent {
    flex: 0 1 100% !important;
  }

  .gas-details-date {
    font-size: 0.8em;
    color: #6770b3;
  }

  .gas-speed-row {
    margin-top: 18px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .gas-speed-block {
    text-align: center;
    flex: 1;
    color: $c-titan-white;
    background: $c-mirage;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 12px;
    min-width: 100px;

    &.selected {
      border-color: $c-heliotrope;
      color: $c-heliotrope;
    }

    .gas-speed-name {
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    .gas-speed-price {
      font-size: 0.8em;
      opacity: .7;
    }
  }

  h4 {
    font-weight: normal;
    margin-top: 48px;
    color: $c-titan-white;
    margin-bottom: 16px;
  }

  .table-wrapper {
    border-radius: 12px;
    max-height: 510px;
    overflow: auto;
    
    table.gas-action-costs {
      width: 100%;
      border-spacing: 0;
      color: $c-titan-white;

      thead {
        background: $c-mirage;
        font-weight: normal;
        border-radius: 12px 12px 0px 0px;
  
        th {
          text-transform: capitalize;
          padding: 12px;
          text-align: center;
          font-weight: 500;
        }

        th:first-child { 
          text-align: left;
        }
      }
  
      tbody {
        background: $c-martinique;
      }
  
      td:first-child {
        text-align: left;
      }
  
      td {
        padding: 12px;
        font-size: 0.8em;
        text-align: center;
      }
    }
  }
}
