@import '../../../../variables.scss';

.wallet-btns-wrapper {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .button {
        box-sizing: border-box;
        text-align: left;
        margin: 10px;
        border: 0px;
        color: black;
        line-height: 25px;
      }

      .icon {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
      }
}


.modal-btns-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;

  .buttonComponent {
    background: rosybrown;
  }
}