@import 'variables.scss';

.signer {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  .signer-address-input {
    flex: 1 1 auto;
    gap: 10px;
    display: flex;

    .text-input {
      flex: 1 1 auto;
    }
  
    .dropdown {
      flex: 0 0 auto;
      background-color: $c-mirage;
    }
  }

  .btns-wrapper {
    height: 60px;
    flex: 0 1 auto;
    align-self: flex-start;

    button {
      height: 100%;
      width: 100%;
    }
  }
}

.wallet-btns-wrapper {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .buttonComponent {
        height: auto;
        display: block;
        box-sizing: border-box;
        text-align: left;
        margin: 10px;
        border: 0px;
        font-size: 1em;
        font-weight: normal;
        text-transform: none;
        color: black;
        padding: 1em !important;
        background-color: $c-titan-white;
        line-height: 25px;
      }

      .icon {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
      }
}


.modal-btns-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;

  .buttonComponent {
    background: rosybrown;
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .signer {
    flex-direction: column;

    .signer-address-input {
      flex-direction: column;
      align-items: center;
    }

    .connect-signer-dropdown {
      width: 100%;
    }

    .btns-wrapper {
      margin: 0 auto;
      width: 100%;
    }
  }
}