@import 'variables.scss';

.wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 40px;
    padding-top: 15px;
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        padding: 20px;
    }
}