@import 'variables.scss';

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    padding-top: 15px;

    .provider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 35px 16px 53px;
        border-radius: 12px;
        background-color: $c-ebony-clay;
        box-shadow: 0px 5px 10px #00000026;
        cursor: pointer;
        transition: all 0.1s ease-in;
        gap: 57px;

        .logo {
            display: block;
        }

        .details {
            flex: 1;
            text-align: left;

            .type {
                margin-bottom: 8px;
                font-size: 12px;
            }
            .fees,
            .limits,
            .currencies {
                color: #898dcb;
                font-size: 12px;
            }
        }

        &:not(.disabled):hover {
            background-color: $c-martinique;

            .logo {
                opacity: 1;
            }
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: default;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        padding: 20px;

        .provider {
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            .details {
                text-align: center;

                .type {
                    margin-bottom: 10px;
                }
            }
        }
    }
}