@import '../../../variables.scss';

#security {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border: 1px dashed transparent;

  .acceptStyleIcon {
    z-index: 2;
    position: absolute;
    color: $primary-accent-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  .rejectStyleIcon {
    z-index: 2;
    position: absolute;
    color: $danger-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.activeStyle {
    border-color: $secondary-accent-color;
    opacity: 0.7;
  }

  &.acceptStyle {
    border-color: $primary-accent-color;
    opacity: 0.7;
  }

  &.rejectStyle {
    border-color: $danger-color;
    opacity: 0.7;
  }

  .panel {
    flex: 0 1 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 0 2.5em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    margin-top: 2em;
    box-sizing: border-box;
    //  overflow: hidden;
    background-color: $panel-background-color;

    .network-warning {
      background-color: rgba(0, 0, 0, 0.25);
      padding: 0.5em 1em;
      display: flex;
      text-align: left;
      align-items: center;
      vertical-align: middle;
      svg {
        margin-right: 15px;
        min-width: 25px;
        max-width: 30px;
      }
    }

    .panel-title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: start;
      padding-right: 60px;
    }

    .content {
      list-style-type: none;
      padding-left: 0 !important;

      .buttonComponent {
        height: 60px;
      }

      &.import {
        button {
          max-width: 1800px;
          background: $secondary-accent-color;
        }
      }

      .text-input {
        flex-grow: 2.8;
      }

      &.dropdown {
        height: 60px;

        .list.fade-enter-done {
          width: 220px !important;
        }
      }

      .btns-wrapper {
        display: flex;
        justify-content: right;
        gap: 1em;
        flex-grow: 0.8;

        button {
          width: 90%;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        .text-input {
          width: 100%;
        }

        .btns-wrapper {
          display: flex;
          justify-content: center;
          gap: 1em;
        }
      }

      a {
        button {
          width: 100%;
          background: orange;
          max-width: 1800px;
          font-size: 17px;
        }
      }
    }
  }

  #addresses {
    gap: 15px;

    .content {
      .buttonComponent {
        align-self: flex-end;
      }
    }

    .item {
      height: 65px;
      padding-left: 20px !important;
      cursor: default;

      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.025);
      }
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .details {
        label {
          cursor: default;
        }

        .address {
          word-break: break-all;
          text-align: left;
        }
      }

      .button {
        flex: 0 0 auto;
        width: 60px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #overview {
    flex-direction: column;
  }
}
