@import 'variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  border: 1px dashed transparent;

  .title {
    font-size: 25px;
    font-weight: 400;
  }
    
  .depositAddress {
    width: 100%;
  }

  .acceptStyleIcon {
    z-index: 2;
    position: absolute;
    color: $c-turquoise;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  .rejectStyleIcon {
    z-index: 2;
    position: absolute;
    color: $danger-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.activeStyle {
    border-color: $c-heliotrope;
    opacity: 0.7;
  }

  &.acceptStyle {
    border-color: $c-turquoise;
    opacity: 0.7;
  }

  &.rejectStyle {
    border-color: $danger-color;
    opacity: 0.7;
  }

  .panel {
    padding: 30px 40px;
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    gap: 15px;
  }
}
