@import 'variables.scss';

#security {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  gap: 2em;
  border: 1px dashed transparent;

  .acceptStyleIcon {
    z-index: 2;
    position: absolute;
    color: $primary-accent-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  .rejectStyleIcon {
    z-index: 2;
    position: absolute;
    color: $danger-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.activeStyle {
    border-color: $secondary-accent-color;
    opacity: 0.7;
  }

  &.acceptStyle {
    border-color: $primary-accent-color;
    opacity: 0.7;
  }

  &.rejectStyle {
    border-color: $danger-color;
    opacity: 0.7;
  }

  .panel {
    flex: 0 1 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 0 2.5em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    box-sizing: border-box;
    //  overflow: hidden;
    background-color: $panel-background-color;

    .network-warning {
      background-color: rgba(0, 0, 0, 0.25);
      padding: 0.5em 1em;
      display: flex;
      text-align: left;
      align-items: center;
      vertical-align: middle;
      svg {
        margin-right: 15px;
        min-width: 25px;
        max-width: 30px;
      }
    }

    .panel-title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: start;
      padding-right: 60px;
    }

    ul.content {
      list-style-type: none;
      padding-left: 0 !important;

      .buttonComponent {
        height: 60px;
      }

      .text-input {
        flex-grow: 2.8;
      }

      &.dropdown {
        .list.fade-enter-done {
          width: 220px !important;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: 1em;

        .text-input {
          width: 100%;
        }

        .btns-wrapper {
          display: flex;
          justify-content: center;
          align-self: flex-end;
          gap: 1em;
        }
      }
    }
  }

  .notice {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 1em;
    font-weight: bold;
    color: $background-color;
    background-color: #f3ac29;

    svg {
      font-size: 1.5em;
    }
  }

  ul.privList {
    gap: 4px;

    li.privList-item {
      gap: 0;
      margin-bottom: 0;
    }
  }

  .autorizedSigner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background: $input-background-color;
    width: 100%;


    .signer-indications {
      display: flex;
      gap: 16px;
      align-items: center;
      color: mix($text-container-color, $input-background-color, 50%);
      white-space: nowrap;
      padding-right: 8px;

      span {
        display: flex;
        align-items: center;
        gap: 4px;
      }

    }

    .signerBlockies {
      display: flex;
      justify-content: center;
      padding-left: 16px;

      .icon {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background-size: 24px 24px;
        background-color: $panel-background-color;
      }
    }

    .signerAddress {
      flex-grow: 1;
      padding: 12px 0 12px 16px;
      font-size: 16px;
      font-family: monospace;
      text-align: left;

      span {
        display: block;

        &.signerAddress-type {
          padding-bottom: 4px;
        }

        &.signerAddress-address {
          color: mix($text-container-color, $input-background-color, 50%);
        }
      }
    }
  }

  .dropdown-signer-actions{
    cursor: pointer;

    .content {
      padding-left: 15px;
    }

    .menu {

      background: $input-background-color-darker;

      min-width: 280px;

      .signer-actions {
        padding-left: 0;

        li {
          margin: 0;
          padding: 8px;
          display: flex;
          justify-content: left;
          align-items: center;

          span {
            display: flex;
          }

          &.disabled {
            opacity: 0.4;
          }

          &.danger {
            color: $danger-color;

            &.disabled {
              opacity: 0.4;
            }
          }

          &:hover {
            background: lighten($input-background-color, 5%);
          }
        }
      }

      .buttonComponent {
        background: $input-background-color;
        color: $text-color;
        text-align: left;
      }

    }

    &:hover {
      background: lighten($input-background-color, 5%);
    }
  }
}

@media screen and (max-width: 1200px) {
  #overview {
    flex-direction: column;
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  #security {
    gap: 1em;

    .panel {
      padding: 20px 20px;
    }

    .content {
      li {
        flex-direction: column;
      }
    }

    #signers {
      .btns-wrapper {
        flex-wrap: wrap;

        .buttonComponent {
          height: 50px;
          width: 100%;
        }
      }
    }
  }
}