@import 'variables.scss';

#security {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  gap: 2em;
  border: 1px dashed transparent;

  .acceptStyleIcon {
    z-index: 2;
    position: absolute;
    color: $primary-accent-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  .rejectStyleIcon {
    z-index: 2;
    position: absolute;
    color: $danger-color;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &.activeStyle {
    border-color: $secondary-accent-color;
    opacity: 0.7;
  }

  &.acceptStyle {
    border-color: $primary-accent-color;
    opacity: 0.7;
  }

  &.rejectStyle {
    border-color: $danger-color;
    opacity: 0.7;
  }

  .panel {
    flex: 0 1 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 0 2.5em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    box-sizing: border-box;
    //  overflow: hidden;
    background-color: $panel-background-color;

    .network-warning {
      background-color: rgba(0, 0, 0, 0.25);
      padding: 0.5em 1em;
      display: flex;
      text-align: left;
      align-items: center;
      vertical-align: middle;
      svg {
        margin-right: 15px;
        min-width: 25px;
        max-width: 30px;
      }
    }

    .panel-title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: start;
      padding-right: 60px;
    }

    ul.content {
      list-style-type: none;
      padding-left: 0 !important;

      .buttonComponent {
        height: 60px;
      }

      .text-input {
        flex-grow: 2.8;
      }

      &.dropdown {
        .list.fade-enter-done {
          width: 220px !important;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: 1em;

        .text-input {
          width: 100%;
        }

        .btns-wrapper {
          display: flex;
          justify-content: center;
          align-self: flex-end;
          gap: 1em;
        }
      }
    }
  }

  .email-account-change {
    background: $input-background-color;
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;

    & > svg {
      font-size: 2em;
      color: $warning-color;
    }

    .email-account-change-title {
      font-weight: bold;
    }

    .email-account-change-desc {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .email-account-change-action {
      margin-top: 8px;
    }
  }

}

@media screen and (max-width: 1200px) {
  #overview {
    flex-direction: column;
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  #security {
    gap: 1em;

    .panel {
      padding: 20px 20px;
    }

    .content {
      li {
        flex-direction: column;
      }
    }

    #signers {
      .btns-wrapper {
        flex-wrap: wrap;

        .buttonComponent {
          height: 50px;
          width: 100%;
        }
      }
    }
  }
}
