@import '../../../variables.scss';

#security {
  display: flex;
  // justify-content: center;
  flex-direction: column;

  .panel {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 0 2.5em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    box-sizing: border-box;
    //  overflow: hidden;
    background-color: $panel-background-color;

    .title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: start;
    }

    .content {
      list-style-type: none;
      padding-left: 0 !important;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        .text-input {
          width: 100%;
        }

        .btns-wrapper {
          display: flex;
          justify-content: center;
          gap: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #overview {
    flex-direction: column;
  }
}
