@import '../../../../variables.scss';

#cross-chain {
    .buttonComponent {
        flex: 0 0 auto;
    }

    .placeholder {
        font-weight: 500;
        opacity: 0.8;
    }

    .form {
        .inputs {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .loading {
                z-index: 49;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $panel-background-color;
            }
        }
    }
}