#cross-chain {
    .amount-label {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            opacity: 0.8;
        }
    }

    .buttonComponent {
        flex: 0 0 auto;
    }

    .placeholder {
        font-weight: 500;
        opacity: 0.8;
    }
}