@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    overflow: hidden;

    .category {
        position: relative;
        overflow: hidden;

        .title {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;
            font-size: 20px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.1);

            .sortHolder {
                display: flex;
                align-items: center;
                gap: 10px;
                .sortButtons {
                    display: flex;
                }
            }
            .wrapperBtns {
                display: flex;
                gap: 10px;
            }
        }

        .list {
            display: flex;
            flex-direction: column;

            .token {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 15px 20px;
                font-size: 15px;
                color: $c-titan-white;

                .body {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    &[draggable="true"] .dragHandle {
                        cursor: grab;
                        cursor: -moz-grab;
                        cursor: -webkit-grab;
                
                    }
    
                    &[draggable="true"]:active .dragHandle {
                        cursor: grabbing;
                        cursor: -moz-grabbing;
                        cursor: -webkit-grabbing;
                    }
    
                    .separator {
                        flex-grow: 1;
                    }
    
                    .icon {
                        position: relative;
                        flex: 0 0 auto;
                        @include flex-center-center;
                        height: 40px;
                        width: 40px;
                        border-radius: 100%;
                        color: rgba(255, 255, 255, 0.5);
                        background-color: rgba(255, 255, 255, 0.1);
                        overflow: hidden;
                        margin-right: 15px;
    
                        img {
                            height: 100%;
                            user-select: none;
                        }
                    }
    
                    .name {
                        font-size: 17px;
                        font-weight: bold;
                    }
    
                    .balance {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
    
                        .currency {
                            display: flex;
                            gap: 5px;
                            font-size: 18px;
                            font-weight: 500;
    
                            .symbol {
                                font-weight: bold;
                                color: $c-aquamarine;
                            }
                        }
    
                        .dollar {
                            font-size: 14px;
                            font-weight: 500;
                            color: #bbb;
    
                            .symbol {
                                font-weight: bold;
                                color: $c-heliotrope;
                            }
                        }
                    }
                }

                .actions {
                    width: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    opacity: 0;
                    transition: all 0.1s ease-in-out;
                    transition-delay: 0.25s;
                }

                &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.04);
                }

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.02);
                }

                &:hover, &:focus, &:active {
                    .actions {
                        width: 125px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 20px;

        .category {
            .title {
                padding: 15px;
            }
        }

        .token {
            padding: 10px 15px;
            padding-right: 5px;

            .body {
                .icon {
                    height: 35px;
                    width: 35px;
                }
    
                .separator {
                    flex-grow: initial;
                }
    
                .balance {
                    flex: 1 0 auto;
    
                    .currency {
                        justify-content: flex-end;
    
                        .symbol {
                            display: none;
                        }
    
                        .value {
                            max-width: 120px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        .category {
            .title {
                flex-direction: column;
                align-items: center;
            }
            .list {
                .token {
                    flex-direction: column;
                    width: 100%;
                    .body {
                        width: 100%;

                        .name {
                            font-size: 16px;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .icon {
                            margin-right: 8px;
                        }
                    }
                    .balance {
                        flex: unset;
                        margin-left: auto;
                    }
                    .actions {
                        width: 100%;
                        height: 60px;
                        opacity: 1;
        
                        a {
                            height: 60px;
                            width: 100%;

                            .sendButton {
                                width: 100%;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}