@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    overflow: hidden;

    .category {
        position: relative;
        overflow: hidden;

        .title {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;
            font-size: 20px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.1);

            .sortHolder {
                display: flex;
                align-items: center;
                gap: 10px;
                .sortButtons {
                    display: flex;
                }
            }
            .wrapperBtns {
                display: flex;
                gap: 10px;
            }
        }

        .list {
            display: flex;
            flex-direction: column;

            .token {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 15px 20px;
                font-size: 15px;
                color: $c-titan-white;
                
                &[draggable="true"] .dragHandle {
                    cursor: grab;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
            
                }

                &[draggable="true"]:active .dragHandle {
                    cursor: grabbing;
                    cursor: -moz-grabbing;
                    cursor: -webkit-grabbing;
                }

                &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.04);
                }

                &:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.02);
                }

                .separator {
                    flex-grow: 1;
                }

                .icon {
                    position: relative;
                    flex: 0 0 auto;
                    @include flex-center-center;
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    color: rgba(255, 255, 255, 0.5);
                    background-color: rgba(255, 255, 255, 0.1);
                    overflow: hidden;

                    img {
                        height: 100%;
                        user-select: none;
                    }
                }

                .name {
                    font-size: 17px;
                    font-weight: bold;
                }

                .balance {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    align-items: flex-end;

                    .currency {
                        display: flex;
                        gap: 5px;
                        font-size: 18px;
                        font-weight: 500;

                        .symbol {
                            font-weight: bold;
                            color: $c-aquamarine;
                        }

                        .balanceAwaiting {
                            border: 1px solid orange;
                            padding: 1px 5px;
                            font-style: italic;
                            box-shadow: 0 2px 5px rgba(0,0,0,.25);
                            margin-left: 5px;
                            font-size: 15px;
                            border-radius: 3px;
                        }
        
                        .balancePending {
                            border: 1px solid red;
                            padding: 1px 5px;
                            font-style: italic;
                            box-shadow: 0 2px 5px rgba(0,0,0,.25);
                            margin-left: 5px;
                            border-radius: 3px;
        
                        }
                    }
                    
                    .dollar {
                        font-size: 14px;
                        font-weight: 500;
                        color: #bbb;
                        
                        .symbol {
                            font-weight: bold;
                            color: $c-heliotrope;
                        }
                        .balanceAwaiting {
                            border: 1px solid orange;
                            padding: 1px 5px;
                            font-style: italic;
                            box-shadow: 0 2px 5px rgba(0,0,0,.25);
                            margin-left: 5px;
                            border-radius: 3px;
                        }

                        .balancePending {
                            border: 1px solid red;
                            padding: 1px 5px;
                            font-style: italic;
                            box-shadow: 0 2px 5px rgba(0,0,0,.25);
                            margin-left: 5px;
                            border-radius: 3px;

                        }

                    }
                }

                .actions {
                    width: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    opacity: 0;
                    transition: all 0.1s ease-in-out;
                    transition-delay: 0.25s;
                }

                &:hover {
                    .actions {
                        width: 125px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 20px;

        .category {
            .title {
                padding: 15px;
                justify-content: center;
                .sortHolder {
                    flex-direction: column;
                }
            }
        }
        .token {
            padding: 10px 15px !important;
            padding-right: 5px !important;

            .icon {
                height: 35px !important;
                width: 35px !important;
            }

            .separator {
                flex-grow: initial !important;
            }

            .balance {
                flex: 1 0 auto;

                .currency {
                    justify-content: flex-end;

                    .symbol {
                        display: none;
                    }

                    .value {
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}