@import 'variables.scss';

.wrapper {
  margin-top: .5rem;
  background: #292B43;
  border-radius: 12px;
  padding: .25rem .5rem;
  font-size: .75rem;
  display: inline-flex;
  margin-left: auto;
  gap: .75rem;
  color: $c-titan-white;

  .gasPrice {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    
    span {
      color: $c-titan-white;
      font-family: 'Poppins', sans-serif;
      opacity: 0.5;
      margin-left: .125rem;
      font-weight: 300;
      font-size: .75rem;
    }
    
    svg {
      width: .9375rem;
      height: .9375rem;
      color: $c-turquoise;
    }
  }

  .nativePrice {
    padding-right: .75rem;
    border-right: 1px solid $c-turquoise;
  }
}


@media screen and (max-width: $sidebar-small-breakpoint) {
  .wrapper {
    margin-top: .5rem;
    background: #292B43;
    padding: .5rem;
    font-size: .7188rem;
    border-radius: 12px 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 0;

    .nativePrice {
      padding-right: .75rem;
      border-right: 0;
      padding-bottom: .25rem;
      border-bottom: 1px solid $c-turquoise;
    }

    .gasPrice {
      text-align: left;
      padding-top: .25rem;

      span {
        margin-left: .25rem;
      }

      svg {
        padding-top: .0625rem;
        width: .9375rem;
        height: .9375rem;
      }
    }
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .gasInfo {
    display: flex;
    position: absolute;
    right: 1.5rem;
    top: .875rem;

    .nativePrice {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 1px solid $c-turquoise;
    }

    .gasPrice {
      padding-top: 0;
    }
  }
}
