@import 'variables.scss';

$max-width: 900px;

#signMessage {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  overflow-y: auto;
  background-color: #282b33;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  #signingAccount {
    .title {
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: rgb(128, 255, 219);
      text-transform: uppercase;
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: monospace;
      font-size: 15px;
      font-weight: bold;

      .icon {
        height: 20px;
        width: 20px;
        border-radius: 100%;
      }
    }
  }

  .panel {
    min-width: 600px;
    max-width: $max-width;
  
    padding: 2em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    .heading {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(128, 255, 219);
        text-transform: uppercase;
      }
    }

    .content {
      flex-wrap: wrap;
    }
  }

  .message {
    width: auto;
    padding: 2em;
    color: #ccc;
    min-height: 300px;
    background-color: rgba(0,0,0,0.4);
    border: 0px;
    margin: 2em 0px;
    resize: none;
  }

  .actions {
    form {
      display: flex;
      flex-direction: column;

      .buttons {
        display: flex;

        button {
          flex: 1 1 50%;
          background-color: rgb(128, 255, 219);
          margin: 0em 2.5% 0em 2.5%;
          text-transform: uppercase;
          font-weight: 800;
          min-height: 75px;
          font-size: 1em;
          vertical-align: middle;
          position: relative;

          &.reject {
            border: 3px solid rgb(255, 132, 128);
            background: transparent;
            color: rgb(255, 132, 128);
          }
        }
      }

      input {
        color: white;
        width: 100%;
        box-shadow: 0 3px 0 0 $primary-accent-color;
        margin-bottom: 20px;
        background-color: transparent;
      }

      

      .icon {
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  #signMessage {
    gap: 1em;

    .panel {
      width: 100%;
      min-width: auto !important;
      max-width: 100% !important;
      padding: 2em 1em !important;
    }
  }
}