@import 'variables.scss';

$max-width: 650px;

#signMessage {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  overflow-y: auto;
  background-color: #282b33;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  .panel {
    width: $max-width;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);

    .title {
      align-items: center;
      justify-content: flex-start;
      gap: 0.5em;
    }

    .content {
      flex-wrap: wrap;
    }
  }

  #signingAccount {
    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      font-family: monospace;
      font-size: 15px;
      font-weight: bold;

      .icon {
        height: 20px;
        width: 20px;
        border-radius: 100%;
      }
    }
  }

  .request-message {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 500;

    .dapp-message {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      row-gap: 0.2em;
      align-items: center;
      flex-wrap: wrap;

      .dapp {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        .icon {
          height: 22px;
          width: 22px;
          border-radius: 100%;
          @include flex-center-center;
          background-size: contain;
          background-color: rgba(0, 0, 0, 0.2);

          svg {
            font-size: 12px;
            opacity: 0.2;
          }
        }
      }
    }

    span {
      opacity: 0.5;
    }
  }

  .sign-message {
    width: auto;
    padding: 2em;
    color: #ccc;
    min-height: 300px;
    background-color: rgba(0,0,0,0.4);
    border: 0px;
    resize: none;
  }

  .actions {
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      .buttons {
        display: flex;
        gap: 1.5em;

        button {
          flex: 1 1 50%;
          text-transform: uppercase;
          font-weight: 800;
          min-height: 75px;
          vertical-align: middle;
          position: relative;

          .loading {
            width: auto;
          }

          &.reject {
            color: white;

            svg {
              color: white;
            }
          }
        }
      }

      .icon {
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  #signMessage {
    gap: 1em;

    .panel {
      width: 100%;
      min-width: auto !important;
      max-width: 100% !important;
      padding: 2em 1em !important;
    }
  }
}