@import 'variables.scss';

$input-height: 60px;

.password-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-weight: 500;
    }

    .input-container {
        input {
            height: $input-height;
            width: 100%;
            color: white;
            font-family: 'Open Sans';
            font-size: 1.2em;
            padding: 1em;
            border: none;
            text-overflow: ellipsis;
            outline: none;
            background-color: $input-background-color;
            transition: all 0.1s ease-in-out;

            &:focus {
                box-shadow: 0 2px 0 0 $tertiary-accent-color;
            }
        }

        .button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 3.5em;
            @include flex-center-center;
            color: white;
            cursor: pointer;
            user-select: none;
            transition: $basic-transition;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}