@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px!important;

    .provider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 35px 16px 53px;
        border-radius: 12px;
        background-color: #282B44;
        box-shadow: 0px 5px 10px #00000026;
        cursor: pointer;
        transition: all 0.1s ease-in;
        gap: 57px!important;

        .logo {
            display: block;
        }

        .details {
            flex: 1;
            text-align: left;

            .type {
                margin-bottom: 8px;
                font-size: 12px;
            }
            .fees,
            .limits,
            .currencies {
                color: #898dcb;
                font-size: 12px;
            }
        }

        &:not(.disabled):hover {
            background-color: rgba(0, 0, 0, 0.4);

            .logo {
                opacity: 1;
            }
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: default;
        }
    }

    .networkWarning {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            width: 20px;
            height: 20px;
        }

        label {
            font-size: 12px;
            opacity: 0.8;
            text-align: left;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        .provider {
            flex-direction: column;
            gap: 20px!important;
            padding: 30px;
            .details {
                text-align: center;

                .type {
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}