@import 'variables.scss';

#providers {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    .provider {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        padding: 1.5em;
        border-radius: 12px;
        background-color: #282B44;
        box-shadow: 0px 5px 10px #00000026;
        cursor: pointer;
        transition: all 0.1s ease-in;

        .logo {
            flex: 0 0 auto;
            width: 8em;
            opacity: 0.9;

            img {
                width: 100%;
            }
        }

        .details {
            flex: 0 1 auto;
            font-size: 0.9em;
            text-align: right;

            .fees,
            .limits,
            .currencies {
                opacity: 0.5;
            }
        }

        &:not(.disabled):hover {
            background-color: rgba(0, 0, 0, 0.4);

            .logo {
                opacity: 1;
            }
        }

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
            cursor: default;
        }
    }

    #network-warning {
        font-size: 15px;
        font-style: italic;
        opacity: 0.8;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #providers {
        .provider {
            flex-direction: column;
            padding: 1.2em;

            .details {
                display: flex;
                flex-direction: column;
                gap: 0.15em;
                text-align: left;

                .type {
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}