@import 'variables.scss';

@mixin GetBannerStyle($background, $color) {
	background-color: $background;
	border-left-color: $color;

	.iconWrapper {
		background-color: rgba($color, 0.05);
		border-color: $color;
	}

	.minimizeIconWrapper {
		background-color: rgba($color, 0.16);
		color: $color;
	}

	.body {
		.text {
			.link {
				color: mix($color, $c-mirage, 90%);
			}
		}
	}

	@media screen and (max-width: 1024px) {
		border-left-color: transparent;
		border-top-color: $color;
	}
}

.wrapper {
	position: relative;
	width: 100%;
	
	.bannerWrapper {
		overflow: hidden;
		position: relative;
		z-index: 2;
		border-radius: 12px;
		transition: .1s ease-out transform;
	}

	&::after {
		content: '';
		transition: none;
		position: absolute;
		left: 50%;
		z-index: 1;
		bottom: 0;
		width: 99%;
		height: 40px;
		transform: translateX(-50%);
		background: rgba($c-mirage, 0.8);
		mix-blend-mode: multiply;
		border-radius: 10px;
		filter: blur(5px);
		transition: .3s ease-out opacity;
	}

	.bellIcon {
		position: absolute;
		transition: 0.1s ease-out transform;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(1);

		&:not(.visible) {
			transform: translate(-50%, -50%) scale(0);
		}
	}

	&.minimized {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 12px;
		background-color: $c-mirage;
		cursor: pointer;

		svg {
			width: 24px;
			height: 24px;
		}

		&::after {
			opacity: 0;
		}

		.bannerWrapper {
			transform: scale(0);
			opacity: 0;
		}
	}

	.banner {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 13px 20px;
		padding-left: 13px;
		color: $c-martinique-light;
		border-left: 7px solid;

		&.success {
			@include GetBannerStyle($success-background-color, $success-color);
		}

		&.warning {
			@include GetBannerStyle($warning-background-color, $warning-color);
		}

		&.danger {
			@include GetBannerStyle($danger-background-color, $danger-color);
		}

		&.info,
		&.degenTip {
			@include GetBannerStyle($info-background-color, $ambire-dark-blue);
		}

		.iconWrapper,
		.minimizeIconWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 34px;
			border-radius: 12px;
		}

		.iconAndBody {
			display: flex;
			align-items: center;
			gap: 15px;
			flex: 1;

			.iconWrapper {
				font-size: 20px;
				border-width: 1px;
				border-style: solid;
			}

			.body {
				flex: 1;

				.title {
					margin: 0;
					font-size: 20px;
				}

				.text {
					margin: 0;
					font-size: 16px;
					text-align: left;
				}
			}
		}
	}

	.minimizeIconWrapper {
		cursor: pointer;

		.minimizeIcon {
			width: 12px;
			height: 9px;
		}
	}
}



@media screen and (max-width: 1024px) {
	.wrapper {
		.banner {
			flex-direction: column;
			align-items: flex-start;
			padding: 20px;
			border-left: none;
			border-top: 7px solid;

			.iconAndBody {
				align-self: flex-start;

				.body {
					.title {
						font-size: 18px;
						margin-bottom: 10px;
					}
					.text {
						font-size: 14px;
					}
				}
			}
		}

		.minimizeIconWrapper {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}
}

@media screen and (max-width: 500px) {
	.wrapper {
		text-align: center;

		.banner {
			align-items: center;

			.iconAndBody {
				flex-direction: column;

				.body {
					.text {
						text-align: center;
					}
				}
			}
		}

		.minimizeIconWrapper {
			position: static;
			top: unset;
			right: unset;
			align-self: flex-end;
		}
	}
}
