@import 'variables.scss';

.wrapper {
    padding: .8125rem 1.25rem;
    background: $c-lavender-mist;
    color: $c-martinique-light;
    border-radius: $border-radius;
    border-left: .125rem solid $c-heliotrope;

    svg {
        width: 2.125rem;
        height: 2.125rem;
    }

    label {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
    }
}