@import 'variables.scss';

.wrapper {
    padding: 13px 20px;
    background: $c-lavender-mist;
    color: $c-martinique-light;
    border-radius: 13px;
    border-left: 2px solid $c-heliotrope;

    svg {
        width: 34px;
        height: 34px;
    }

    label {
        font-size: 20px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
    }
}