@import 'variables.scss';

#select-signer-modal {
  height: 690px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .content {
    overflow: visible !important;
  }

  .intro {
    min-height: 60px;
    color: $text-container-color;
  }

  .loginSignupWrapper.chooseSigners {
    background: transparent;
    margin-top: 20px;
  }

  ul {
    height: 245px;
    width: 460px !important;
    padding: 0;
    line-height: 2.5em !important;
    margin: 10px auto;

    .odd-rows-bg {
      background: $c-ebony-clay;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      .index-row {
        width: 25px;
      }

      svg {
        margin-bottom: -5px;
      }
    }
  }

  .pages {
    text-align: center;
    padding-top: 20px;
  }

  .buttons {
    position: inherit;

    button {
      flex: 0 1 50% !important;
    }
  }
}
