@import 'variables';

.wrapper {
  .section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .sectionTitle {
      font-size: 16px;
      font-weight: 500;
    }

    .sectionContent {
      display: flex;
      flex-direction: column;
    }
  }

  .icon {
    flex: 0 0 auto;
    border-radius: 100%;
    background-size: contain;
    background-position: center center;
  }
}