@import 'variables.scss';

.gas-info {
  margin-top: 8px;
  background: #292B43;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 0.8em;
  display: inline-flex;
  margin-left: auto;
  gap: 12px;
  color: $text-color;

  .gas-price {
    cursor: pointer;

    span {
      opacity: 0.5;
    }
  }

  .native-price {
    padding-right: 12px;
    border-right: 1px solid $c-turquoise;
  }

  span svg {
    width: 15px;
    color: $c-turquoise;
  }
}


@media screen and (max-width: $sidebar-small-breakpoint) {
  .gas-info {
    margin-top: 8px;
    background: #292B43;
    padding: 8px;
    font-size: 0.9em;
    display: block;
    border-radius: 12px 0 0 12px;

    span {
      display: block;
    }

    .native-price {
      padding-right: 12px;
      border-right: 0;
      padding-bottom: 4px;
      border-bottom: 1px solid $c-turquoise;
    }

    .gas-price {
      padding-top: 4px;
    }

    svg {
      padding-top: 1px;
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .gas-info {
    display: flex;
    position: absolute;
    right: 24px;
    top: 14px;

    .native-price {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-right: 1px solid $c-turquoise;
    }

    .gas-price {
      padding-top: 0;
    }
  }
}
