@import 'variables.scss';

.remoteLottie {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    background: $c-mirage;
    padding: 12px;
    border-radius: $border-radius;

    span {
        font-size: 10px;
    }
}
