@import 'variables.scss';

.instructions {
    padding: 12px;
    margin-bottom: 12px;

    span {
      color: $c-turquoise;
    }
}

.buttonHolder {
    margin-top: 24px;
}

.button {
    width: 100%;
    flex: unset!important;
}

.seedWordsList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .seedWordsListCell {

        border-radius: 8px;
        background-color: $c-mirage;
        padding: 4px 0 4px 12px;

        flex: 1 1 30%;
        display: flex;
        gap: 8px;

        .seedWordsListIndex {
            width: 18px;
            color: $text-container-color;
        }

    }
}

.wordsSelectorContainer {
    background: $c-mirage;
    border-radius: 12px;
    padding: 16px;

    .wordRequestedTitle {
      text-align: center;

      span {
        font-weight: bold;
        color: $c-turquoise;
      }

      margin-bottom: 12px;
    }

    .wordsSelector {
      display: flex;
      gap: 16px;
      align-items: center;
      transition: 250ms;

      &.nextWordFade {
        opacity: 0;
      }

      .wordIndex {
        display: flex;
        align-items: center;
        color: $text-container-color;
        span {
          border-radius: 4px;
          margin-left: 4px;
          padding: 2px;
          background: $c-shark;
          transition: 1500ms;
          color: $text-container-color;
          font-weight: bold;
        }
      }

      &.nextWordFade .wordIndex span {
        transition: 450ms;
        background: $c-turquoise;
      }

      .wordChoices {
        display: flex;
        gap: 16px;
        flex-grow: 1;

        .wordChoice {
          cursor: pointer;
          background: $c-mirage-dark;
          padding: 8px;
          border: 1px solid transparent;
          flex-grow: 1;
          text-align: center;
          transition: 250ms;
          border-radius: 4px;

          &:hover {
            background-color: mix($c-mirage, $c-turquoise, 50%);
            border: 1px solid $c-shark;
          }

          &.incorrect {
            background-color: mix($c-mirage-dark, $danger-color, 50%);
            border: 1px solid $danger-color;
          }


          &.correct {
            width: 100%;
            border-color: transparent;
            background-color: $c-mirage-dark;
            color: $c-shark;

          }
        }

        &.animated {
          gap: 0;
          .wordChoice {
            width: 0;
            overflow: hidden;
            opacity: 0;
            flex: none;
            padding-left: 0;
            padding-right: 0;
          }

          .wordChoice.correct {
            opacity: 1;
            width: 100%;
          }
        }

      }
    }

    .errorMessage {
      margin-top: 8px;
    }

    .visualCheckmark {
      color: $c-mirage-dark;
    }
}