@import "variables";

.wrapper {  
  .panelBody {
    overflow: auto;
  }

  .listOfTransactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
}

@include lg-breakpoint {
  .wrapper {
    .titleWrapper {
      flex-direction: column;

      .title {
        position: static;
        transform: none;
      }
    }
  }
}
