@import 'variables.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px 30px;
    background: $c-ebony-clay;
    border: 1px solid $c-fiord;
    border-radius: 12px;

    .title {
        display: flex;
        justify-content: space-between;
        font-size: 1.5em;
        font-weight: bold;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 25px;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 16px;
        padding: 20px;
    }
}
