#deposit {
    display: flex;
    justify-content: center;
    gap: 3em;
}

#deposit .panel {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 36em;
    text-align: center;
    padding: 0 2.5em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#deposit .panel .heading {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#deposit .panel .heading .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(128, 255, 219);
    text-transform: uppercase;
}

#deposit .panel .heading .subtitle {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #AA6AFF;
}

#deposit .panel .description {
    text-align: left;
    font-size: 1.2em;
    color: #8c8d91;
}

#deposit .panel #networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    font-size: 1em;
}

#deposit .panel #networks .logos {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#deposit .panel #networks .logos img {
    width: 10em;
}

@media screen and (max-width: 1400px) {
   #deposit {
       flex-direction: column;
   }

   #deposit .panel {
       width: 100%;
   }
}