@import 'variables.scss';

.deposit {
    display: flex;
    justify-content: center;
    gap: 2em;

    .depositAddress {
        label {
            text-align: center;
        }
    }

    .panel {
        flex: 1;
        gap: 2em;
        width: 36em;
        text-align: center;
        padding: 0 2.5em;
        padding-top: 2.5em;
        padding-bottom: 3em;
        overflow: hidden;

        .text-input {
            input {
                font-size: 18px;
            }
        }

        .heading {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .title {
                @include flex-center-center;
                gap: 0.5rem;
                font-size: 25px;
                color: $c-titan-white;
            }

            .subtitle {
                font-size: 16px;
                text-transform: uppercase;
                color: $c-turquoise;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            text-align: left;
            font-size: 1em;
            color: $c-titan-white;
            user-select: none;

            .qrCode {
                height: 180px;
                width: 180px;
                margin: 0 auto;
                border-radius: 12px;
                padding: 6px;
                background-color: #fff;
                margin-top: 1.5em;
            }
        }

        .networks {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            font-size: 1em;
            color: rgba($c-titan-white, 0.8);
            margin-top: 2em;

            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                flex-wrap: wrap;
                opacity: 0.9;

                .network {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    .icon {
                        flex: 0 0 auto;
                        height: 1.5em;
                        width: 1.5em;
                        @include flex-center-center;
                        background-size: cover;
                        border-radius: 100%;
                    }

                    .name {
                        font-size: 1.2em;
                        font-weight: 500;
                        color: $c-titan-white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
   .deposit {
       flex-direction: column;

        .panel {
            width: 100%;
        }
   }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
    .deposit {
        .text-input {
            input {
                font-size: 16px !important;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .deposit {
        gap: 1em;

        .panel {
            padding: 20px 20px;
        }

        .networks {
            .logos {
                gap: 1em !important;
            }
        }
    }
}