@import '../../../variables.scss';

.iframe-container {
    height:100%;
    #swap-frame {
        height: 100%;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        border:0;
    }
}