@import 'variables.scss';

.wrapper {
    .title {
        font-size: 1.375rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    h3 {
        text-align: center;
        color: $c-turquoise;
    }

    button {
        margin-top: 1.25rem;
        align-self: center;
    }
}