@import 'variables';

.wrapper {
  display: flex!important;
  flex-direction: column;
  gap: .625rem;

  .passwordBreachedWarningWrapper {
    display: flex;
    gap: .625rem;
    margin-bottom: .625rem;

    .passwordBreachedWarningIcon {
      color: $warning-color;
    }

    .passwordBreachedWarningText {
      margin: 0;
      flex: 1;
      font-size: .875rem;
      color: $warning-color;
    }
  }
  .passwordBreachedCheckboxWrapper {
    display: flex;
    gap: .75rem;

    .passwordBreachedCheckbox {
      margin: 0;
      margin-top: .3125rem;
      width: 1rem;
      height: 1rem;
    }
    .passwordBreachedLabel {
      flex: 1;
      font-size: .75rem;
      user-select: none;
    }
  }
}