@import 'variables.scss';

.button { 
    flex: 0 1 100%!important;
    width: 100%;
}

.wrapper {
    max-width: 600px;
    .timerResetMsg {
        text-align: center;
        margin: 35px 0;
        font-size: 20px;
        color: $danger-color;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 425px;
        
        div {
            width: 100%;
        }
        
    }
}