@import 'variables.scss';

.button { 
    flex: 0 1 100%!important;
    width: 100%;
}

.wrapper {
    max-width: 37.5rem;

    h4 {
        font-weight: 400;
    }
    
    .timer {
        justify-content: center;
        margin-bottom: 1.25rem;
    }
    .timerResetMsg {
        text-align: center;
        margin: 2.1875rem 0;
        font-size: 1.25rem;
        color: $danger-color;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 26.5625rem;
        
        div {
            width: 100%;
        }
        
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .button {
        height: 3.125rem!important;
    }

    .wrapper {
        min-height: unset;
        height: auto;
        padding-bottom: 4.375rem!important;
        :global(.buttons) {
            height: 4.375rem;
            padding: 1.25rem 1.5rem;
            padding-top: 0;
        }

        .input {
            input {
                height: 3.125rem;
            }
        }
    }
}