#disable-otp-modal {
    .timer-reset-msg {
        text-align: center;
        margin: 35px 0;
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 425px;
        
        div {
            width: 100%;
        }
        
        button { 
            flex: 0 1 100% !important;
            width: 100%;
        }
    }
}