@import 'variables';

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 580px;

  :global(.buttons) {
    padding: 30px 40px;
    padding-top: 10px;
    height: 100px;
  }
}

.subtitle {
  color: $c-scampi;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 25px 0;
}

.chooseSignerSubtitle {
  padding-top: 0;
}

.signers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;

  .signer {
    position: relative;
    top: 0;
    flex: calc(50% - 20px);
    height: 160px;
    background: $c-mirage;
    border: 1px solid $c-scampi;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out all;
    cursor: pointer;

    svg {
      color: $c-scampi;
      transition: .3s ease-out all;
    }

    &:hover {
      border-color: $c-turquoise;
      top: -4px;
      color: $c-white;
      svg {
        color: $c-white;
      }

      svg.email {
        color: $c-turquoise;
      }
      svg.metamask {
        color: #EF801B;

        :global(#decoration) {
            color: $c-white;
        }
      }

      svg.gridplus {
        color: $c-white;
        :global(#logo) {
            color: $c-white;
        }
        :global(#decoration) {
            color: $c-picton-blue;
        }
      }
    }
  }
}

.manualSigner {
  padding: 20px;
  margin-bottom: 30px;
  background: $c-mirage;
  border: 1px solid $c-scampi;
  border-radius: 13px;

  .signerAddress {
    margin: 0 0 20px;

    input {
      background: $c-ebony-clay;
    }
  }

  .errorMessage {
    color: $danger-color;
    margin: 0 0 20px;

  }

  .button {
    width: 100%;
  }
}