@import 'variables';

.button {
  flex: 0 1 100%!important;
}

.wrapper {
  width: 100%;
  max-width: 62.5rem;
  padding-bottom: 6.25rem!important;

  .signerAddress {
    margin: 1.25rem 0;
  }

  :global(.buttons) {
    padding: 1.875rem 2.5rem;
    padding-top: .625rem;
    height: 6.25rem;
  }
}

.signers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1.25rem;

  .signer {
    position: relative;
    top: 0;
    padding: 3.125rem .625rem;
    background: $c-mirage;
    border: 1px solid $c-scampi;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out all;
    cursor: pointer;

    svg {
      color: $c-scampi;
      width: 10.625rem;
      transition: .3s ease-out all;
    }

    &:hover {
      border-color: $c-turquoise;
      top: -0.25rem;
      color: $c-white;
      svg {
        color: $c-white;
      }

      svg.email {
        color: $c-turquoise;
      }
      svg.metamask {
        color: #EF801B;

        :global(#decoration) {
            color: $c-white;
        }
      }

      svg.gridplus {
        color: $c-white;
        :global(#logo) {
            color: $c-white;
        }
        :global(#decoration) {
            color: $c-picton-blue;
        }
      }
    }
  }
}