@import 'variables.scss';

#transactions {
    .pagination-controls {
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1em;
        font-weight: 500;

        .pagination-current {
            span {
                opacity: 0.5;
            }
        }
    }

    .bundle {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1.5em;
        background-color: $panel-background-color;

        .actions {
            display: flex;
        }
    }

    .bundlePreview {
        .details {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            padding: 0 10px;
            margin: 0;
            margin-top: 20px;
            list-style-type: none;

            li {
                display: flex;
                flex-direction: column;
                gap: 8px;

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 17px;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                    opacity: 0.7;
                }
            }
        }
    }

    .panel {
        gap: 10px;
        padding: 0;
        padding-bottom: 30px;
        background-color: transparent !important;

        .title {
            height: 75px;
            z-index: 47;
            position: sticky;
            top: -40px;
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: flex-start;
            background-color: $background-color;
        }

        .content {
            gap: 25px;
        }
    }


    .actions button {
        background-color: #80ffdb;
        margin-right: 1em;
        padding: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .actions button.cancel {
        background-color: #da5151;
        color: white;
    }

    #pending {
        .bundlePreview {
            padding: 0;
            padding-bottom: 1em;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #transactions {
        .panel {
            .content {
                gap: 1em;
            }
        }

        .bundle {
            padding: 1em;
            padding-bottom: 1.5em;
        }

        .bundlePreview .details {
            gap: 1.5em;
        }
    }
}