@import 'variables.scss';

#transactions {
    .pagination-controls {
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1em;
        font-size: 15px;
        font-weight: 500;

        .pagination-current {
            span {
                opacity: 0.5;
            }
        }
    }

    .bundle {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1.5em;
        background-color: $panel-background-color;

        .actions {
            display: flex;
            justify-content: flex-end;
            gap: 1em;

            button {
                background-color: #80ffdb;
                padding: 1em;
                font-weight: bold;
                text-transform: uppercase;

                &.cancel {
                    background-color: #da5151;
                    color: white;
                }
            }
        }
    }

    .bundlePreview {
        .details {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            padding: 0 10px;
            margin: 0;
            margin-top: 20px;
            list-style-type: none;

            li {
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow: hidden;

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 17px;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                    opacity: 0.7;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .panel {
        gap: 10px;
        padding: 0;
        padding-bottom: 30px;
        background-color: transparent !important;

        .panel-heading {
            height: 75px;
            z-index: 47;
            position: sticky;
            top: -30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $background-color;

            .title {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            .pagination-controls {
                align-self: center;
            }
        }

        .content {
            gap: 25px;
        }
    }

    #waiting-transactions {
        .bundle {
            gap: 1.5em;

            .bundle-list {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }
    }

    #pending {
        .bundlePreview {
            padding: 0;
            padding-bottom: 1em;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #transactions {
        .panel {
            .content {
                gap: 1em;
            }
        }

        .bundle {
            padding: 1em;
            padding-bottom: 1.5em;
        }

        .bundlePreview .details {
            gap: 1.5em;
        }

        .panel-heading {
            top: -20px !important;
            height: auto !important;
            flex-direction: column;
            justify-content: center !important;
            gap: 0.5em;
            padding: 1em 0;

            .title {
                align-self: flex-start;
            }

            .pagination-controls {
                align-self: flex-end !important;
            }
        }
    }
}