@import 'variables.scss';

$txn-height: 54px;
$extended-summary-height: 36px;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-height: $txn-height;
    overflow: hidden;
    background-color: theme(background-primary);
    color: theme(text-primary);
    border-radius: 12px;
    user-select: none;
    transition: .3s ease-out;

    &:hover {
        opacity: .8;
    }

    .heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 20px;
        margin: 0;
        cursor: pointer;

        .info {
            min-width: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;


            .summaryContainer {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;

                .expandTxn {
                    align-self: flex-start;
                    min-width: 36px;
                    min-height: 36px;
                    @include flex-center-center;
                    background-color: theme(background-icon);
                    border-radius: 12px;
                    
                    .icon {
                        transition: .2s ease-out transform;
                        width: 10px;
                    }

                    &.reversedChevron {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }

                .summary {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    row-gap: 8px;
                    flex-wrap: wrap;
                    word-break: break-word;
                    font-size: 14px;
                }
            }

            .warning {
                font-size: 13px;
                font-weight: 300;
                padding: 10px 15px;
                text-align: center;
                background-color: $danger-color;
                color: $c-titan-white;
                border-radius: 12px;
                margin: 0;
            }
        }

        .dissmissTxnWrapper {
            align-self: flex-start;
            height: 36px;

            .dismissTxn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 12px;
                background-color: theme(background-icon);
                transition: all 0.1s ease-in-out;
                opacity: 1;

                &.disabled {
                    opacity: 0.2;
                }

                &:not(.disabled):hover {
                    opacity: .6;
                }

                .icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .advanced {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
        padding-right: 27px;
        padding-bottom: 13px;
        
        p {
            margin: 0;
            word-break: break-word;
            font-size: 13.5px;
            font-weight: 300;
            color: theme(text-secondary);
            user-select: text;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        position: relative;

        .heading {
            gap: 5px;
            padding: 10px 15px;

            .dissmissTxnWrapper {
                .dismissTxn {
                    width: 32px;
                    height: 32px;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .info {
                gap: 10px;

                .summaryContainer {      
                    gap: 10px;
                              
                    .expandTxn {
                        min-width: 32px;
                        min-height: 32px;
                        border-radius: 12px;
                    }
        
                    .summary {
                        column-gap: 5px;
                        row-gap: 2px;
                    }
                }
                
                .warning {
                    font-size: 12px;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        .advanced {
            gap: 5px;
            padding-top: 5px;
            
            p {
                font-size: 12px;
            }
        }
    }
}