@import '../../../variables.scss';

.txnPreview {
    display: flex;
    flex-direction: column;
    background-color: $input-background-color;
    min-height: 60px;
    position: relative;
    user-select: none;
    overflow: hidden;

    .heading {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-start;
        margin: 0 !important;
        padding: 20px 25px;
        cursor: pointer;
        box-sizing: border-box;

        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding-right: 40px;

            .summary-container {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 17px;
                font-weight: 500;

                .expandTxn {
                    @include flex-center-center;
                }

                .summary {
                    word-break: break-all;
                }
            }

            .firstFailingLabel {
                font-weight: bold;
                color: $danger-color;
            }
        }

        .actionIcons {
            position: absolute;
            right: 10px;


            svg {
                float: left;
                margin: 5px;
                color: #ccc;
                cursor: pointer;
                height: 30px;
                width: 25px;

                &:hover {
                    color: #fff;
                }
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1)
        }
    }

    .advanced {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 25px;
        padding-bottom: 20px;
        word-wrap: break-word;
        max-width: 400px;
        font-family: monospace;
        opacity: 0.7;

        div {
            user-select: text;
        }
    }
}