@import 'variables.scss';

.txnPreview {
    display: flex;
    flex-direction: column;
    background-color: $input-background-color;
    min-height: 60px;
    position: relative;
    user-select: none;
    overflow: hidden;

    .heading {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        gap: 1rem !important;
        margin: 0 !important;
        cursor: pointer;
        box-sizing: border-box;

        .info {
            min-width: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            padding: 20px 0;
            padding-left: 25px;

            .summary-container {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 17px;
                font-weight: 500;

                .expandTxn {
                    @include flex-center-center;
                }

                .summary {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 0.8em;
                    row-gap: 0.5em;
                    flex-wrap: wrap;
                    word-break: break-word;

                    .action {
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 0.25em 0.75em;
                        background-color: $ambire-dark-blue;
                    }

                    .word {
                        font-size: 16px;
                        font-weight: 500;
                        opacity: 0.5;
                    }

                    .token, .address {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        font-size: 18px;
                        font-weight: bold;

                        .icon {
                            height: 20px;
                            width: 20px;
                            border-radius: 100%;
                            background-size: contain;
                            background-position: center center;
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }

                    .address {
                        span {
                            font-family: monospace;
                            font-weight: 500;
                            opacity: 0.7;
                        }
                    }
                }
            }

            .firstFailingLabel, .unknownWarning {
                font-weight: bold;
                color: $danger-color;
            }
            .unknownWarning {
                opacity: 0.6;
            }
        }

        .actionIcons {
            padding: 20px 25px;

            svg {
                float: left;
                margin: 5px;
                color: #ccc;
                cursor: pointer;
                height: 30px;
                width: 25px;

                &:hover {
                    color: #fff;
                }
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1)
        }
    }

    .advanced {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 25px;
        padding-bottom: 20px;
        word-wrap: break-word;
        font-family: monospace;
        opacity: 0.7;

        div {
            user-select: text;
        }
    }
}