@import 'variables.scss';

$txn-height: 54px;
$extended-summary-height: 36px;

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: theme(background-primary);
    color: theme(text-primary);
    border-radius: $border-radius;
    min-height: $txn-height;
    position: relative;
    user-select: none;
    overflow: hidden;
    transition: .3s ease-out;

    &:hover {
        opacity: .8;
    }

    .heading {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        padding: 10px 20px;

        .info {
            min-width: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;


            .summaryContainer {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;

                .expandTxn {
                    align-self: flex-start;
                    min-width: 36px;
                    min-height: 36px;
                    @include flex-center-center;
                    background-color: theme(background-icon);
                    border-radius: $border-radius;
                    
                    .icon {
                        transition: .2s ease-out transform;
                        width: 10px;
                    }

                    &.reversedChevron {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }

                .summary {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    row-gap: 8px;
                    flex-wrap: wrap;
                    word-break: break-word;
                    font-size: 14px;
                }
            }

            .warning {
                font-size: 13px;
                font-weight: 300;
                padding: 10px 15px;
                text-align: center;
                background-color: $danger-color;
                color: $c-titan-white;
                border-radius: $border-radius;
                margin: 0;
            }
        }

        .actionIcons {
            align-self: flex-start;
            height: 36px;

            .dismissTxn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: $border-radius;
                background-color: theme(background-icon);
                transition: all 0.1s ease-in-out;
                opacity: 1;

                &.disabled {
                    opacity: 0.2;
                }

                &:not(.disabled):hover {
                    opacity: .6;
                }

                .icon {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .advanced {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
        padding-right: 27px;
        padding-bottom: 13px;
        
        p {
            margin: 0;
            word-break: break-word;
            font-size: 13.5px;
            font-weight: 300;
            color: theme(text-secondary);
            user-select: text;
        }
    }
}

// Mobile
@include lg-breakpoint {
    .wrapper {
        position: relative;

        .heading {
            gap: 5px;
            flex-direction: column-reverse;

            .actionIcons {
                align-self: flex-end;
                height: 36px;
            }
        }

        .summaryContainer {
            flex-direction: column;
        
            .expandTxn {
                position: absolute;
                top: 10px;
                left: 20px;
            }

            .summary {
                text-align: center;
                justify-content: center;
            }
        }
        
        .advanced {
            text-align: center;
        }
    }
}