.txnPreview {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px auto;
    min-height: 50px;
    position: relative;
    user-select: none;
}

.txnPreview  > div {
    width: calc(100% - 100px);
}

.txnPreview .dismissTxn > svg {
    right: 20px;
}
.txnPreview .expandTxn > svg {
    right: 70px;
}
.txnPreview svg {
    position: absolute;
    top: 30px;
    bottom: 0px;
    width: 25px;
    height: 30px;
    color: #ccc;
    cursor: pointer;
}
.txnPreview svg:hover {
    color: #fff;
}

.txnPreview .firstFailingLabel {
    font-weight: bold;
    color: red;
}