@import '../../../variables.scss';

#transfer {
    display: flex;
    gap: 30px;

    .amount-label {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            opacity: 0.8;
        }
    }

    #recipient-field {
        position: relative;
        display: flex;

        .dropdown {
            position: absolute;
            right: 0;
            height: 60px;
        }

        .text-input {
            width: 100%;

            input {
                padding-right: 220px;
            }
        }
    }

    .panel {
        flex: 0 1 50%;
    }

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .separator {
            flex-grow: 1;
            @include flex-center-center;
            font-size: 40px;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1400px) {
    #transfer {
        flex-direction: column;
    }
}

@media screen and (min-width: 1550px) and (max-width: 1700px) {
    #transfer {
        .text-input {
            input {
                font-size: 16px;
            }
        }
    }
}
@media screen and (min-width: 1400px) and (max-width: 1550px) {
    #transfer {
        .text-input {
            input {
                font-size: 13px;
            }
        }
    }
}