@import 'variables.scss';

.panel {
    padding: 0;
    flex: 0 1 50%;
}

.wrapper {
    display: flex;
    gap: 17px;
    overflow-y: hidden;
    height: 100%;
}

@media screen and (max-width: 1400px) {
    .wrapper {
        flex-direction: column;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 15px;
        overflow-y: auto;
    }
    .panel {
        padding: 0;
        flex: 0 1 50%;
        min-height: unset;
        max-height: unset;
    }
}