@import 'variables.scss';

#transfer {
    display: flex;
    gap: 30px;

    .transfer-button {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    
    .text-input-container {
        border-radius: 12px 0 0 12px;
    }

    .amount-label {
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #ebecff;
    }

    #recipient-field {
        position: relative;
        display: flex;

        .recipient-input {
            width: 100%;
        }

        .dropdown {
            position: absolute;
            right: 0;
        }

        #udomains-logo {
            position: absolute;
            top: 18px;
            right: 155px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ud-logo-inactive.png');
        }

        .ud-logo-active {
            background-image: url('/resources/ud-logo-active.png') !important;  
        }

        #ens-logo {
            position: absolute;
            top: 18px;
            right: 100px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ens-logo-inactive.png');
        }

        .ens-logo-active {
            background-image: url('/resources/ens-logo-active.png') !important;  
        }
    }

    .panel {
        flex: 0 1 50%;
    }

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .separator {
            flex-grow: 1;
            @include flex-center-center;
            font-size: 40px;
            opacity: 0.5;
        }

        .gas-tank-msg {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: mix($panel-background-color, $warning-color, 90%);
            color: $warning-color;
            padding: 15px;
            font-size: 14px;
        }

        .gas-tank-convert-msg {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: mix($panel-background-color, $primary-accent-color, 90%);
            color: $primary-accent-color;
            padding: 15px;
            font-size: 14px;
        }
    }

    #addresses {
        .content {
            .address-list {
                max-height: 390px;
                overflow-y: auto;
            }
        }
    }

    #binance-address-warning-label {
        a {
            vertical-align: middle;
            margin-left: 0.5em;
        }
    }
}

@media screen and (max-width: 1400px) {
    #transfer {
        flex-direction: column;
    }
}

@mixin recipient-field-font-size($size) {
    #recipient-field {
        .text-input {
            input {
                font-size: #{$size} !important;
            }
        }
    }
}

@media screen and (min-width: $wide-breakpoint-min-width){
    #transfer {
        @include recipient-field-font-size(1em)
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    #transfer {
        @include recipient-field-font-size(0.8vw)
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    #transfer {
        @include recipient-field-font-size(0.7vw)
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    #transfer {
        @include recipient-field-font-size(1.5vw)
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    #transfer {
        @include recipient-field-font-size(1.4vw)
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #transfer {
        gap: 1em;

        #recipient-field {
            flex-direction: column;
            gap: 10px;

            .dropdown {
                position: relative;
            }
            
            .text-input {
                width: 100%;
    
                input {
                    padding-right: 80px;
                }
            }

            #udomains-logo {
                position: absolute;
                top: 18px;
                right: 50px;
                height: 25px;
                width: 25px;
            }

            #ens-logo {
                position: absolute;
                top: 18px;
                right: 15px;
                height: 25px;
                width: 25px;
            }
        }
    }
}