@import '../../../variables.scss';

#transfer {
    display: flex;
    gap: 30px;

    #recipient-field {
        position: relative;
        display: flex;

        .dropdown {
            position: absolute;
            right: 0;
            height: 60px;
        }

        .text-input {
            width: 100%;

            input {
                padding-right: 100px;
            }
        }
    }

    .placeholder-overlay {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .blurred {
        filter: blur(7px);
    }

    .panel {
        flex: 0 1 50%;
    }

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .separator {
            flex-grow: 1;
            @include flex-center-center;
            font-size: 40px;
            opacity: 0.5;
        }
    }

    #unknown-address-warning {
        .button {
            height: 40px;
            width: fit-content;
            @include flex-center-center;
            gap: 7px;
            padding: 0 15px;
            opacity: 0.6;

            &:hover {
                opacity: 1;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:active {
                opacity: 1;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.05);
            }
        }
    }

    #address-warning {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        color: $danger-color;

        svg {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1400px) {
    #transfer {
        flex-direction: column;
    }
}