@import 'variables.scss';

.transferButton {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    gap: 30px;

    .amountLabel {
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #ebecff;
    }

    .recipientField {
        position: relative;
        display: flex;

        .recipientInput {
            width: 100%;

            input {
                border-radius: 12px 0 0 12px;
                padding-right: 290px;
            }
        }

        .dropdown {
            position: absolute;
            right: 0;
        }

        .udomainsLogo {
            position: absolute;
            top: 18px;
            right: 250px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ud-logo-inactive.png');
        }

        .udomainsLogoActive {
            background-image: url('/resources/ud-logo-active.png') !important;  
        }

        .ensLogo {
            position: absolute;
            top: 18px;
            right: 200px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ens-logo-inactive.png');
        }

        .ensLogoActive {
            background-image: url('/resources/ens-logo-active.png') !important;  
        }
    }

    .panel {
        flex: 0 1 50%;
    }

    .form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .separator {
            flex-grow: 1;
            @include flex-center-center;
            font-size: 40px;
            opacity: 0.5;
        }

        .gasTankMsg {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: mix($panel-background-color, $warning-color, 90%);
            color: $warning-color;
            padding: 15px;
            font-size: 14px;
        }

        .gasTankConvertMsg {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: mix($panel-background-color, $primary-accent-color, 90%);
            color: $primary-accent-color;
            padding: 15px;
            font-size: 14px;
        }
    }

    #addresses {
        .content {
            .address-list {
                max-height: 390px;
                overflow-y: auto;
            }
        }
    }

    .binanceAddressWarning {
        a {
            vertical-align: middle;
            margin-left: 0.5em;
        }
    }
}

@media screen and (max-width: 1400px) {
    .wrapper {
        flex-direction: column;
    }
}

@mixin recipient-field-font-size($size) {
    .recipientInput {
        input {
            font-size: #{$size} !important;
        }
    }
}

@media screen and (min-width: $wide-breakpoint-min-width){
    .wrapper {
        @include recipient-field-font-size(1em)
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    .wrapper {
        @include recipient-field-font-size(0.8vw)
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .wrapper {
        @include recipient-field-font-size(0.7vw)
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .wrapper {
        @include recipient-field-font-size(1.5vw)
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .wrapper {
        @include recipient-field-font-size(1.4vw)
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 1em;

        .recipientField {
            flex-direction: column;
            gap: 10px;

            .dropdown {
                position: relative;
            }

            .recipientInput {
                input {
                    padding-right: 80px;
                }
            }

            .udomainsLogo {
                position: absolute;
                top: 18px;
                right: 50px;
                height: 25px;
                width: 25px;
            }

            .ensLogo {
                position: absolute;
                top: 18px;
                right: 15px;
                height: 25px;
                width: 25px;
            }
        }
    }
}