@import 'variables.scss';

.wrapper {
    .content {
        display: flex;
        flex-direction: column;
        
        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 60px;
            
            &:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.02);
            }

            &:first-child {
                border-radius: 12px 12px 0 0;
            }
            &:last-child {
                border-radius: 0 0 12px 12px;
            }
            
            .item {
                flex: 2 0 0;
            }

            .logo {
                flex: 1 0 0;
                
                img {
                    border-radius: 50%;
                }
            }

            .balance {
                flex: 4 0 0;
            }
        }
    }

    :global(.buttons button) {
        flex: 0 1 100% !important;
        height: 100%;
    }
}