@import 'variables.scss';

$heading-height: 45px;

.address-book {
    height: 60px !important;
    background-color: $input-background-color-darker !important;

    .content {
        cursor: pointer;

        .title {
            flex-direction: row !important;
        }
    }

    .menu {
        top: 60px !important;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
        white-space: nowrap;

        .button {
            height: 100%;
            @include flex-center-center;
            font-size: 17px;
            font-weight: bold;
            color: white;

            &:not([disabled]):hover {
                cursor: pointer;
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.2) !important;
            }

            &:active {
                background-color: rgba(255, 255, 255, 0.05) !important;
            }
        }

        .heading {
            height: $heading-height;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            background-color: $input-background-color;
            
            .title {
                display: flex;
                flex-direction: row !important;
                align-items: center;
                gap: 10px;
                font-size: 15px;
                font-weight: bold;
            }

            .button {
                width: $heading-height;
            }
        }

        .content {
            max-height: 250px;
            display: flex;
            flex-direction: column;
            min-width: 300px;
            padding: 0;
            overflow-y: auto;

            .text-input {
                input {
                    padding-right: initial !important;
                }
            }
        }

        #add-address {
            padding: 10px;

            .fields {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input[type=text] {
                    height: 40px;
                    width: 300px;
                    font-size: 1em !important;
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            button {
                width: 100%;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .address-book {
        .menu {
            width: 100%;
        }
    }
}