@import 'variables.scss';

#gas {
    display: flex;
    justify-content: center;
    gap: 2em;

    .panel {
        gap: 2em;
        width: 46em;
        text-align: center;
        padding: 0 2.5em;
        padding-top: 2.5em;
        padding-bottom: 3em;
        overflow: hidden;

        .text-input {
            input {
                font-size: 18px;
            }
        }

        .heading {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .title {
                @include flex-center-center;
                gap: 0.5rem;
                font-size: 1.5em;
                font-weight: bold;
                text-transform: uppercase;
            }

            .subtitle {
                font-size: 1.3em;
                text-transform: uppercase;
                color: $secondary-accent-color;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            text-align: left;
            font-size: 1em;
            color: #ebecff;
            user-select: none;
        }
    }
}

@media screen and (max-width: 1200px) {
   #gas {
        flex-direction: column-reverse;

        .panel {
            width: 100%;
        }
   }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
    #gas {
        .text-input {
            input {
                font-size: 16px !important;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #gas {
        gap: 1em;

        .panel {
            padding: 20px 20px;
        }
    }
}