@import 'variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  gap: 17px;

  .panel {
    flex: 1;
    padding: 40px;
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    flex-direction: column;

    .panel {
      padding: 30px;
    }
  }
}
