#topbar {
  z-index: 99;
  position: fixed;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: row-reverse;
  width: calc(100% - 280px);
}

#topbar .container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: calc(100% - 280px);
  /* max-width: 1500px; */
  gap: 1em;
  flex-wrap: wrap;
}

#topbar .nav-logo {
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

#topbar .logo {
  background-image: url("../../resources/logo.png");
  width: 100%;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

#networkSelector {
  width: 150px;
}

.dapps-item .icon {
  flex: 0 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.dapps-item .icon img {
  width: 100%;
}

.dapps-item .name {
  flex: 0 0 auto;
}

.dapps-item button {
  flex: 0 1 auto;
  height: 25px;
  padding: 0 10px;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.dapps-item button:hover {
  background-color: #da5151;
  border-color: transparent;
}

#connect-dapp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-bottom: 10px;
}

#connect-dapp button {
  height: 45px;
  width: 100%;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: rgb(128, 255, 219);
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

#connect-dapp .heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

#connect-dapp .heading button:hover {
  opacity: 0.9;
}

#connect-dapp label {
  font-size: 13px;
}
