$sidebar-width: 280px;

#topbar {
    z-index: 99;
    height: 80px;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    right: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    padding-top: 30px;
    background-color: rgb(40, 43, 51);
    box-shadow: 0 5px 20px 5px rgb(40, 43, 51);

    .container {
        display: flex;
        justify-content: end;
        align-items: center;
        width: calc(100% - 280px);
        /* max-width: 1500px; */
        gap: 1em;
        flex-wrap: wrap;
      }

    select {
        height: 50px;
    }

    #networkSelector {
        width: 150px;
    }
}

.dapps-item {
  width: 360px;

  .icon {
      flex: 0 0 auto;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.2);

      img {
          width: 100%;
      }
  }

  .name {
      flex: 0 0 auto;
      width: 190px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }

  button {
      flex: 0 1 auto;
      height: 25px;
      padding: 0 10px;
      font-size: 11px;
      font-weight: bold;
      border: 1px solid white;
      text-transform: uppercase;
      color: white;
      background-color: transparent;
      opacity: 1;
      transition: all 0.1s ease-in-out;

      &:hover {
          background-color: #da5151;
          border-color: transparent;
      }
  }
}

#connect-dapp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-bottom: 10px;

  .heading {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
          height: 45px;
          width: 100%;
          padding: 0;
          font-weight: bold;
          text-transform: uppercase;
          color: black;
          background-color: rgb(128, 255, 219);
          opacity: 1;
          transition: all 0.1s ease-in-out;

          &:hover {
              opacity: 0.9;
          }
      }
  }

  label {
      font-size: 13px;
  }
}