@import '../../variables.scss';

#wallet-layout {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: $sidebar-width;
    right: 0;
    transition: $basic-transition;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: $background-color;
}

#wallet-container {
    flex-grow: 1;
    padding: $layout-spacing;
    padding-top:  $layout-spacing / 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .placeholder-overlay {
        z-index: 49;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 1400px) {
    #wallet-layout {
        margin-left: $sidebar-mobile-width;
    }
}