/* TODO: can we have a variable left padding here */
#sidebar {
    width: 280px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    box-sizing: border-box;
}

#sidebar .item {
    padding: 15px 0px;
    line-height: 30px;
    cursor: pointer;
    color: #bbb;
}

#sidebar .item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#sidebar .item:hover svg {
    color: #fff;
}

#sidebar .item svg {
    margin-right: 30px;
    margin-left: 15px;
    color: #bbb;
    float: left;
}

#sidebar a.selected .item svg {
    color: #AA6AFF;
}

#sidebar .logo {
    background-image: url('../../resources/logo.png');
    width: 100%;
    margin: 1em 0em 3em 0.5em;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

#sidebar .balance {
    margin-bottom: 3em;
    padding-left: 1em;
}

#sidebar .balance label {
    text-transform: uppercase;
    line-height: 1.75;
    font-weight: 600;
}

#sidebar .highlight {
    color: rgb(128, 255, 219);
}

#sidebar .dollarSign {
    margin-right: 5px;
}

#sidebar .balanceDollarAmount {
    font-size: 2em;
}

#accountSelector {
    position: fixed;
    top: 30px;
    right: 205px;
}

#networkSelector {
    position: fixed;
    top: 30px;
    right: 40px;
    width: 150px;
}