/* TODO: can we have a variable left padding here */
#sidebar {
    width: 280px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    box-sizing: border-box;
}

#sidebar .item {
    padding: 15px 0px;
    line-height: 30px;
    cursor: pointer;
    color: #bbb;
}

#sidebar .item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#sidebar .item:hover svg {
    color: #fff;
}

#sidebar .item svg {
    margin-right: 30px;
    margin-left: 15px;
    color: #bbb;
    float: left;
}

#sidebar a.selected .item svg {
    color: #AA6AFF;
}

#sidebar .logo {
    background-image: url('../../resources/logo.png');
    width: 100%;
    margin: 1em 0em 3em 0.5em;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

#sidebar .balance {
    margin-bottom: 3em;
    padding-left: 1em;
}

#sidebar .balance label {
    text-transform: uppercase;
    line-height: 1.75;
    font-weight: 600;
}

#sidebar .highlight {
    color: rgb(128, 255, 219);
}

#sidebar .dollarSign {
    margin-right: 5px;
}

#sidebar .balanceDollarAmount {
    font-size: 2em;
}

#topbar {
    z-index: 99;
    height: 80px;
    position: fixed;
    top: 0;
    right: 40px;
    display: flex;
    gap: 1em;
    padding-top: 30px;
    background-color: rgb(40, 43, 51);
    box-shadow: 0 5px 20px 5px rgb(40 43 51);
}

#topbar select {
    height: 50px;
}

#networkSelector {
    width: 150px;
}

.dapps-item {
    width: 360px;
}

.dapps-item .icon {
    flex: 0 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.dapps-item .icon img {
    width: 100%;
}

.dapps-item .name {
    flex: 0 0 auto;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dapps-item button {
    flex: 0 1 auto;
    height: 25px;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    opacity: 1;
    transition: all 0.1s ease-in-out;
}

.dapps-item button:hover {
    background-color: #da5151;
    border-color: transparent;
}

#connect-dapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-bottom: 10px;
}

#connect-dapp button {
    height: 45px;
    width: 100%;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: rgb(128, 255, 219);
    opacity: 1;
    transition: all 0.1s ease-in-out;
}

#connect-dapp .heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

#connect-dapp .heading button:hover {
    opacity: 0.9;
}

#connect-dapp label {
    font-size: 13px;
}