@import 'variables.scss';

#wallet {
    height: 100%;
}

#wallet-container {
    flex-grow: 1;
    position: absolute;
    left: $sidebar-desktop-width;
    right: 0%;
    top: $topbar-height;
    bottom: 0;
    padding: $layout-spacing;
    padding-top:  $layout-spacing / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;

    #wallet-container-inner {
        height: 100%;
        width: 100%;
    }

    .placeholder-overlay {
        z-index: 47;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .private-content {
        filter: blur(20px);
    }
}

@media screen and (max-width: 1400px) {
    #wallet-container {
        left: $sidebar-desktop-small-width !important;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #wallet-container {
        top: $topbar-mobile-height;
        left: 0 !important;
        bottom: $sidebar-mobile-height !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
}

// Wide screen
@media screen and (min-width: $wide-breakpoint-min-width) {
    #wallet-container {
        #wallet-container-inner {
            max-width: 1500px;
        }
    }
}
