@import 'variables';

.wrapper {
  .loading {
    div {
      margin: 0 auto;
    }
  }

  .title {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    .title {
      font-size: 14px;
    }
  }
}
