@import 'variables.scss';

#hide-token-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2em;

        .info {
            display: flex;
            gap: 0.5em;

            .icon {
                height: 22px;
                width: 22px;
                @include flex-center-center;
                background-size: cover;
                background-position: center center;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 100%;
            }

            .name {
                height: inherit;
                font-size: 1em;
                font-weight: 500;

                span {
                    opacity: 0.6;
                }
            }
        }

        .extra-tokens-list {
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .title {
                margin-bottom: 0.5em;
                font-size: 18px;
                font-weight: bold;
            }

            .extra-token {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5em;
                padding-left: 1em;

                &:nth-child(even) {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                &:nth-child(odd) {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    .modalBottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .buttonComponent {
            width: 100%;
        }
    }
}