@import 'variables.scss';

$modal-height: 50rem;
$modal-width: 36.25rem;
$buttons-height: 10rem;

.modal {
    z-index: 52;
    position: relative;
    min-height: $modal-height;
    max-height: $modal-height;
    width: $modal-width;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding-top: 2.5rem;
    background: $c-ebony-clay;
    border: 1px solid $c-fiord;
    border-radius: 12px;
    color: $c-titan-white;
    box-sizing: border-box;

    &.buttons {
        padding-bottom: $buttons-height;
    }

    .heading {
        display: flex;
        align-items: flex-start;
        padding: 0 2.5rem;
        justify-content: space-between;

        .title-wrapper {
            display: flex;
            gap: .625rem 1.875rem;
            .title {
                font-size: 1.5625rem;
                &.centered {
                    text-align: center;
                    margin: 0 auto;
                }
    
            }
        }

        .close {
            height: 2.5rem;
            width: 2.5rem;
            background-color: rgba($c-titan-white, 0.05);
            border-radius: 12px;
            @include flex-center-center;
            font-size: 1.25rem;

            &:hover {
                cursor: pointer;
                background-color: rgba($c-titan-white, 0.02);
            }
        }
    }
    
    .content {
        height: 100%;
        position: relative;
        padding: 2.5rem;
        padding-bottom: 0;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: thin;

        &.noPaddingTop {
            padding-top: 0;
        }
    }

    .buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        gap: .625rem;
        padding: 3.125rem 2.5rem;
        height: 10rem;

        button {
            flex: 0 1 50%;
        }
    }
}

@media screen and (max-height: calc(#{$modal-height} + 100px)) {
    .modal {
        height: 100%;
        min-height: unset;
        max-height: unset;
    }
}

@media screen and (max-width: calc(#{$modal-width} + 100px)) {
    .modal {
        width: 100%;
        min-height: unset;
        max-height: unset;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .modal {
        max-width: 37.5rem;
        height: 100% !important;
        width: 100% !important;

        .heading {
            padding: 0 1.875rem;
            .title-wrapper {
                flex-direction: column;

                .title {
                    font-size: 1.25rem;
                }
            }
        }

        .content {
            padding: 1.875rem;
        }

        .buttons {
            padding: 1.875rem;
        }
    }
}
