@import 'variables.scss';

$modal-height: 800px;
$modal-width: 580px;
$buttons-height: 160px;

.modal {
    z-index: 52;
    position: relative;
    min-height: $modal-height;
    max-height: $modal-height;
    width: $modal-width;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
    background: theme(background-terniary);
    border: 1px solid theme(border-secondary);
    border-radius: 12px;
    color: theme(text-primary);
    box-sizing: border-box;

    &.buttons {
        padding-bottom: $buttons-height;
    }

    .heading {
        display: flex;
        align-items: flex-start;
        padding: 0 40px;
        justify-content: space-between;

        .title-wrapper {
            display: flex;
            gap: 10px 30px;
            .title {
                font-size: 25px;
                &.centered {
                    text-align: center;
                    margin: 0 auto;
                }
    
            }
        }

        .close {
            height: 40px;
            width: 40px;
            background-color: theme(background-icon);
            border-radius: 12px;
            @include flex-center-center;
            font-size: 20px;

            &:hover {
                cursor: pointer;
                opacity: .6;
            }
        }
    }
    
    .content {
        height: 100%;
        position: relative;
        padding: 40px;
        padding-bottom: 0;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        gap: 10px;
        padding: 50px 40px;
        height: 160px;

        button {
            height: 60px;
            flex: 0 1 50%;
        }
    }
}

@media screen and (max-height: calc(#{$modal-height} + 100px)) {
    .modal {
        height: 100%;
        min-height: unset;
        max-height: unset;
    }
}

@media screen and (max-width: calc(#{$modal-width} + 100px)) {
    .modal {
        width: 100%;
        min-height: unset;
        max-height: unset;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .modal {
        max-width: 600px;
        height: 100% !important;
        width: 100% !important;

        .heading {
            padding: 0 30px;
            .title-wrapper {
                flex-direction: column;
            }
        }

        .content {
            padding: 30px;
        }

        .buttons {
            padding: 30px;
        }
    }
}
