@import 'variables';

.wrapper {
  max-width: 42.5rem;
  width: 100%;

  :global(.content) {
    overflow-x: auto;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    text-align: left;
    font-size: 1rem;
    color: $c-titan-white;
    user-select: none;

    .feesInfo {
      margin: 0;
      margin-bottom: .75rem;
    }
  }
  
  .error {
    color: $danger-color;
  }
}

@include lg-breakpoint {
  .wrapper {
    .description {
      .feesInfo {
        font-size: .875rem;
        text-align: center;
      }
    }   
  }
}

