@import 'variables.scss';

.bundle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background: $c-ebony-clay;
    border: 1px solid $c-fiord;
    border-radius: 12px;
    margin-bottom: 25px;

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        button {
            color: $c-titan-white;
            border: 0;
            padding: 15px 30px;

            &.cancel {
                color: $danger-color;
                border: 2px solid $danger-color;
            }

            &.speedUp {
                color: $c-turquoise;
                border: 2px solid $c-turquoise;
            }
        }
    }
}

.bundlePreview {
    .details {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0 10px;
        margin: 0;
        margin-top: 20px;
        list-style-type: none;

        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow: hidden;

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 17px;
                font-weight: bold;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                opacity: 0.7;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a.explorerUrl {
                    color: $c-heliotrope;
                    text-decoration: underline;
                }
            }
        }
    }
}