@import 'variables.scss';

$badge-size: 65px;

#wallet-token-modal {
    .content {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            padding: 1em;

            &:first-child {
                border-radius: 12px 12px 0 0;
            }
            &:last-child {
                border-radius: 0 0 12px 12px;
            }

            .details {
                display: flex;
                justify-content: space-between;

                label {
                    font-weight: 500;
                }

                .balance {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: 500;
                    text-align: right;

                    .amount {
                        display: flex;
                        gap: 7px;
                        font-size: 18px;

                        span {
                            color: $c-turquoise;
                        }

                        &.usd, &.apy {
                            font-size: 15px;
                        }

                        &.usd {
                            span {
                                color: $c-heliotrope;
                            }
                        }

                        &.apy {
                            span {
                                color: $tertiary-accent-color;
                            }
                        }
                    }
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                gap: 1em;
                
                button {
                    height: 40px;
                    font-size: 13px;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .claim-rewards-x-wallet {
                    text-transform: inherit !important;
                }

                .claim-rewards-with-burn {
                    background-color: $danger-color;
                }
            }

            &:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.04);
            }

            &:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.02);
            }
        }

        #info {
            margin-top: 1em;
            opacity: 0.8;
        }

        .badges {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1em;
            padding-top: 1.5em;

            a {
                color: initial !important;
            }

            .badge {
                position: relative;
                height: $badge-size;
                width: $badge-size;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                margin-bottom: 10px;
                user-select: none;
                opacity: 0.3;
                transition: transform 0.1s ease-out;

                &.active {
                    opacity: 1;

                    &:hover {
                        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                        transform: scale(1.05);
                    }
                }

                .icon {
                    font-size: 1.5em;
                    filter: grayscale(1);
                }

                .multiplier {
                    font-size: 0.8em;
                    font-weight: bold;
                    color: $c-titan-white;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -11px;
                    border-left: calc(#{$badge-size} / 2) solid transparent !important;
                    border-right: calc(#{$badge-size} / 2) solid transparent !important;
                    border-top: 10px solid;
                    border-color: inherit;
                }
            }
        }
    }
    
    .buttons {
        button {
            flex: 0 1 100% !important;
        }
    }
}