@import 'variables.scss';

$badge-size-width: 64px;
$badge-size-height: 90px;

#wallet-token-modal {

    .rewards-progress-path {
        display: flex;
        align-items: center;
        gap: 10px;

        .rewards-wallet-icon {
            width: 100px;
            height: 100px;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-rewards-inactive.svg');
        }

        .rewards-wallet-icon-animated {
            width: 100px;
            height: 100px;
        }

        .rewards-wallet.active {
            .rewards-wallet-icon {
                background-image: url('../../../resources/rewards/icon-rewards-inactive.svg');
            }
        }

        .rewards-progress-holding-icon {
            width: 50px;
            height: 50px;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-hold.svg');
        }

        .rewards-progress-claim.active {
            .rewards-progress-claim-icon {
                background-image: url('../../../resources/rewards/icon-wallet-active.svg');
            }
        }

        .rewards-progress-claim-icon {
            width: 50px;
            height: 50px;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-wallet-inactive.svg');
        }

        .rewards-progress-bar {
            height: 4px;
            border-bottom: 1px dotted $c-scampi;
            flex-grow: 1;
            position: relative;

            &.active .rewards-progress-bar-filler {
                background: $c-turquoise;
            }

            .rewards-progress-bar-filler {
                position: absolute;
                height: 5px;
                border-radius: 4px;
                background: $c-scampi;
                top: 1px;
            }

            span {
                position: absolute;
                bottom: 10px;
                width: 100%;
                text-align: center;
                font-size: 12px;
                color: $c-scampi;

                b {
                    font-size: 12px;
                }
            }
        }
    }

    .rewards-progress-labels {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 12px;
            color: $c-scampi;
            text-align: center;
        }

        span:first-child {
            flex-basis: 20%;
            text-align: left;
        }

        span:last-child {
            flex-basis: 20%;
            text-align: right;
        }

    }


    #info {
        font-size: 12px;
        text-align: center;

        a {
            color: $c-heliotrope;
        }
    }

    .icon-svg {
        background-size: contain;
        width: 98px;
        height: 112px;
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &.icon-svg-reward-beta-tester {
            background-image: url('../../../resources/rewards/reward-beta-tester.svg');
        }

        &.icon-svg-reward-lobsters {
            background-image: url('../../../resources/rewards/reward-lobsters.svg');
        }

        &.icon-svg-reward-powerUserMultiplier {
            background-image: url('../../../resources/rewards/reward-powerUserMultiplier.svg');
        }

        &.icon-svg-reward-cryptoTesters {
            background-image: url('../../../resources/rewards/reward-cryptoTesters.svg');
        }

        &.icon-svg-reward-gasTankNft {
            background-image: url('../../../resources/rewards/reward-gasTankNft.svg');
        }

    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .item {
            border-radius: 12px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background: $c-mirage;

            .activation-badge {
                display: flex;
                align-items: center;
            }

            .badge-adx {
                width: 32px;
                height: 32px;
                background: url("../../../resources/rewards/adx-staking-active.svg") no-repeat 50% 50%;
                background-size: contain;
            }

            .details {
                display: flex;
                justify-content: space-between;
                gap: 16px;

                label {
                    flex-grow: 1;
                    font-weight: 500;
                }

                .balance {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: 500;
                    text-align: right;

                    .amount {
                        display: flex;
                        gap: 7px;
                        font-size: 16px;

                        span {
                            color: $c-turquoise;
                        }

                        &.usd, &.apy {
                            font-size: 14px;
                        }

                        &.usd {
                            span {
                                color: $c-heliotrope;
                            }
                        }

                        &.apy {
                            span {
                                color: $tertiary-accent-color;
                            }
                        }
                    }
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                gap: 12px;

                button {
                    height: 40px;
                    font-size: 13px;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .claim-rewards-x-wallet {
                    text-transform: inherit !important;
                }

                .claim-rewards-with-burn {
                    background-color: $danger-color;
                }
            }
        }

        #info {
            margin-top: 0; // To keep in mind if badges visual margin is removed
            opacity: 0.8;
        }

        .badges {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-top: 12px;
            margin-bottom: 0; // Badges svg already have visual margin

            a {
                color: initial !important;
            }

            .badge {
                position: relative;
                height: $badge-size-height;
                width: $badge-size-width;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                user-select: none;
                opacity: 0.3;
                transition: transform 0.1s ease-out;

                &.active {
                    opacity: 1;

                    &:hover {
                        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                        transform: scale(1.05);
                    }
                }

                .multiplier {
                    font-size: 12px;
                    font-weight: bold;
                    color: $c-titan-white;
                }

            }
        }
    }


    .rewards-bar {
        width: 100%;
        height: 10px;
        padding: 2px;
        border-radius: 12px;
        overflow: hidden;

        .rewards-bar-progress {
            border-radius: 14px;
            height: 6px;
        }
    }


    .main-reward-info {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .wallet-rewards-title {
            text-align: center;
            margin-bottom: 4px;
            text-transform: uppercase;
        }

        .wallet-rewards-status-holder {
            display: flex;
            flex-grow: 1;
            flex-basis: 50%;

            .wallet-rewards-status {
                border-radius: 16px;
                padding: 16px;
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;

                min-width: 130px;

                .wallet-rewards-status-info {
                    text-align: center;
                }

                .wallet-rewards-status-logo {
                    display: inline-flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    gap: 16px;

                    .wallet-rewards-status-logo-img {
                        width: 64px;
                        height: 64px;
                        background: no-repeat 50% 50% url("../../../resources/icon.png");
                        background-size: contain;
                        margin: auto;
                    }

                    .wallet-rewards-status-logo-text {
                        text-align: center;
                    }
                }
            }
        }

        .wallet-rewards-claimable-holder {
            display: flex;
            justify-content: center;
            flex-basis: 50%;

            .actions {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 8px;

                button {
                    height: 32px;
                    font-size: 13px;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .claim-rewards-x-wallet {
                    text-transform: inherit !important;
                }

                .claim-rewards-with-burn {
                    background-color: $danger-color;
                }
            }

        }
    }

    .buttons {
        button {
            flex: 0 1 100% !important;
        }
    }
}
