@import 'variables.scss';

$badge-size: 60px;

#wallet-token-modal {
    .content {
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            padding: 1em;

            .details {
                display: flex;
                justify-content: space-between;

                label {
                    font-weight: 500;
                }

                .balance {
                    font-weight: 500;
                    text-align: right;

                    .amount {
                        font-size: 18px;
                    }

                    .amount-dollar {
                        font-size: 14px;
                    }
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
                
                button {
                    height: 40px;
                    font-size: 13px;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            .primary-accent {
                color: $primary-accent-color;
            }

            .secondary-accent {
                color: $secondary-accent-color;
            }

            &:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.04);
            }

            &:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.02);
            }
        }

        #info {
            margin-top: 1em;
            opacity: 0.8;
        }

        .badges {
            display: flex;
            gap: 1em;
            padding-top: 1.5em;

            a {
                color: initial !important;
            }

            .badge {
                position: relative;
                height: $badge-size;
                width: $badge-size;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                margin-bottom: 10px;
                user-select: none;
                opacity: 0.5;
                transition: transform 0.1s ease-out;

                &.active {
                    opacity: 1;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .icon {
                    font-size: 1.5em;
                    filter: grayscale(1);
                }

                .multiplier {
                    font-size: 0.7em;
                    color: white;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -11px;
                    border-left: calc(#{$badge-size} / 2) solid transparent !important;
                    border-right: calc(#{$badge-size} / 2) solid transparent !important;
                    border-top: 10px solid;
                    border-color: inherit;
                }
            }
        }
    }
    
    .buttons {
        button {
            flex: 0 1 100% !important;
        }
    }
}