@import 'variables.scss';

.wrapper {
    padding-bottom: 1.875rem;
    max-height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        padding-bottom: .625rem;
    }

    .rewardsProgressPath {
        display: flex;
        align-items: center;
        gap: .625rem;

        .rewardsWalletIcon {
            width: 5rem;
            height: 5rem;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-rewards-inactive.svg');
        }

        .rewardsWalletIconAnimated {
            width: 5rem;
            height: 5rem;
        }

        .rewardsProgressHoldingIcon {
            width: 3.125rem;
            height: 3.125rem;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-hold.svg');
        }

        .rewardsProgressClaimIcon {
            width: 3.125rem;
            height: 3.125rem;
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../../../resources/rewards/icon-wallet-inactive.svg');
        }

        .rewardsProgressClaimIconActive {
            background-image: url('../../../resources/rewards/icon-wallet-active.svg');
        }

        .rewardsProgressBar {
            height: .25rem;
            border-bottom: 1px dotted $c-scampi;
            flex-grow: 1;
            position: relative;

            .rewardsProgressBarFiller {
                position: absolute;
                height: .3125rem;
                border-radius: .25rem;
                background: $c-scampi;
                top: .0625rem;
            }

            .rewardsProgressBarFillerActive {
                background: $c-turquoise;
            }

            span {
                position: absolute;
                bottom: .625rem;
                width: 100%;
                text-align: center;
                font-size: .75rem;
                color: $c-scampi;

                b {
                    font-size: .75rem;
                }
            }
        }
    }

    .rewardsProgressLabels {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: .75rem;
            color: $c-scampi;
            text-align: center;
        }

        span:first-child {
            flex-basis: 20%;
            text-align: left;
        }

        span:last-child {
            flex-basis: 20%;
            text-align: right;
        }

    }


    .info {
        font-size: .75rem;
        text-align: center;

        a {
            color: $c-heliotrope;
        }
    }

    .item {
        border-radius: $border-radius;
        padding: .9375rem 1.25rem;
        display: flex;
        flex-direction: column;
        background: $c-mirage;

        .activationBadge {
            display: flex;
            align-items: center;
        }

        .badgeAdx {
            width: 2rem;
            height: 2rem;
            background: url("../../../resources/rewards/adx-staking-inactive.svg") no-repeat 50% 50%;
            background-size: contain;
            margin-left: .3125rem;
        }

        .badgeAdxActive {
            background-image: url("../../../resources/rewards/adx-staking-active.svg");
        }

        .details {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            label {
                flex-grow: 1;
                font-weight: 500;
            }

            .balance {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-weight: 500;
                text-align: right;

                .loader {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                
                .amount {
                    display: flex;
                    gap: .4375rem;
                    font-size: 1rem;

                    span {
                        color: $c-turquoise;
                    }

                    .usd, .apy {
                        font-size: .875rem;
                    }

                    .usd {
                        span {
                            color: $c-heliotrope;
                        }
                    }

                    .apy {
                        span {
                            color: $tertiary-accent-color;
                        }
                    }
                }
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            gap: .75rem;

            button {
                height: 2.5rem;
                font-size: .8125rem;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .fullWidthButton {
                width: 100%;
            }
        }
    }

    .info {
        margin-top: 0; // To keep in mind if badges visual margin is removed
        opacity: 0.8;
    }

    .rewardsBar {
        width: 100%;
        height: .625rem;
        padding: .125rem;
        border-radius: $border-radius;
        overflow: hidden;

        .rewardsBarProgress {
            border-radius: .875rem;
            height: .375rem;
        }
    }


    .mainRewardInfo {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .walletRewardsTitle {
            text-align: center;
            margin-bottom: .25rem;
            text-transform: uppercase;
        }

        .walletRewardsStatusHolder {
            display: flex;
            flex-grow: 1;
            flex-basis: 50%;

            .walletRewardsStatus {
                border-radius: 1rem;
                padding: 1rem;
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: .75rem;
                justify-content: flex-start;

                min-width: 8.125rem;

                .walletRewardsStatusInfo {
                    text-align: center;
                }

                .walletRewardsStatusLogo {
                    display: inline-flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    gap: 1rem;

                    .walletRewardsStatusLogoImg {
                        width: 4rem;
                        height: 4rem;
                        background: no-repeat 50% 50% url("../../../resources/icon.png");
                        background-size: contain;
                        margin: auto;
                    }

                    .walletRewardsStatusLogoText {
                        text-align: center;
                    }
                }
            }
        }

        .walletRewardsClaimableHolder {
            display: flex;
            justify-content: center;
            flex-basis: 50%;

            .actions {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: .5rem;

                button {
                    height: 2rem;
                    font-size: .8125rem;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .claimRewardsXWallet {
                    text-transform: inherit !important;
                }

                .claimRewardsWithBurn {
                    background-color: $danger-color;
                }
            }

        }
    }

    .buttons {
        button {
            flex: 0 1 100% !important;
        }
    }
}

// Mobile
@include lg-breakpoint {
    .wrapper {
        .rewardsProgressPath {
            .rewardsProgressBar {
                .rewardsWalletIcon {
                    width: 4.375rem;
                    height: 4.375rem;
                }
                span {
                    white-space: nowrap;
                    bottom: 2.5rem;
                    left: -1.875rem;
                }
            }
       }
    }
}
