@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .placeholderOverlay {
        color: $c-titan-white;
        z-index: 3;
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;

        svg {
            g {
                opacity: 1;
            }
        }
    }

    .category {
        position: relative;
        overflow: hidden;

        .title {
            display: flex;
            align-items: center;
            padding: 20px 30px;
            font-size: 20px;
            margin-bottom: 14px;

            h3 {
                font-weight: 400;
                font-size: 20px;
                margin: 0;
            }

            & > * {
                flex: 1;
            }

            .sortHolder {
                flex: 1.5;
            }

            .dragHandle {
                flex: none;
                margin-right: 15px;
            }
        
            .price {
                // flex: .7;
                flex: 1.2;
            }

            .balance {
                flex: 1.2;
            }
        
            // .value {
            //     flex: 1.2;
            // }

            .wrapperBtns {
                display: flex;
                gap: 10px;
            }

            .actions {
                text-align: end;
            }
        }

        .list {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
    }
    .addToken {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
    }

    .category {
        filter: blur(7px);
        background-color: rgba($c-mirage-dark, 0.1);
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        width: 100%;
        gap: 20px;
        min-height: 400px;

        .placeholderOverlay {
            width: 100%;
            padding: 10px;
        }
    }
}