@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .blur {
        filter: blur(15px);
    }
    .placeholderOverlay {
        color: $c-titan-white;
        z-index: 3;
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;

        svg {
            g {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        width: 100%;
        gap: 20px;
        min-height: 400px;

        .placeholderOverlay {
            width: 100%;
            padding: 10px;
        }
    }
}