@import 'variables.scss';

#protocols-placeholder {
    .add-token {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
    }

    .category {
        filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #protocols-placeholder {
        .placeholder-overlay {
            font-size: 18px;
        }
    }
}