@import "variables";

.firstTxNote {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .firstTxNoteTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .firstTxNoteMessage {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
  }
}

// Wide
@media screen and (min-width: $wide-breakpoint-min-width) {
  .actionsWrapper {
    .actions {
      form {
        .inputsContainer {
          flex-direction: column !important;
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .actionsWrapper {
    .actions {
      form {
        .inputsContainer {
          flex-direction: column !important;
        }
      }
    }
  }
}
