
    @import 'variables.scss';

    .notice {
        font-weight: bold;
        background-color: $warning-color;
        padding: 0.9rem 1.2rem;
        color: #202229;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.8rem;
        transition: $basic-transition;
        &.minimized {
            display: inline-flex;
            gap: 0.5rem; 
            padding: 0.4rem 0.52rem;
            font-size:0.81rem;
            align-items: center;
            align-self: flex-end;

            .close-btn {
                font-size: 24px;  
            }
        }
        .title {
            font-size: 1.2rem;
            margin-bottom: 0.2rem;;
        }
        .link {
            color: #202229;
            text-decoration: underline;
        }
        .close-btn {
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }
        .timer {
            margin-top: 0.5rem;
        }
        .minimized {
            font-size: 0.8rem;
            flex: 1;  
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .title {
                font-size: 0.8rem;
                margin: 0;
            }
            .emoji {
                font-size: 0.8rem!important;
            }
        }
    }