@import 'variables.scss';

.notice {
    border-radius: 12px;
    background-color: $warning-color;
    padding: .9375rem 1.25rem;
    color: $c-shark;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: .9375rem;
    transition: $basic-transition;

    &.minimized {
        display: inline-flex;
        gap: .625rem; 
        padding: .3125rem .625rem;
        font-size: .75rem;
        align-items: center;
        align-self: flex-end;

        .close-btn {
            font-size: 1.5rem;  
        }
    }

    .title {
        font-size: 1.25rem;
        margin-bottom: .3125rem;
    }

    .link {
        color: $c-shark;
        text-decoration: underline;
    }

    .closeBtn {
        font-size: 1.125rem;
        font-weight: bold;
        cursor: pointer;
    }

    .timer {
        margin-top: .625rem;
    }
    
    .minimized {
        font-size: .75rem;
        flex: 1;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
            font-size: .75rem;
            margin: 0;
        }

        .emoji {
            font-size: .75rem!important;
        }
    }
}