@import 'variables.scss';

.notice {
    border-radius: 12px;
    background-color: $warning-color;
    padding: 15px 20px;
    color: $c-shark;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    transition: $basic-transition;

    &.minimized {
        display: inline-flex;
        gap: 10px; 
        padding: 5px 10px;
        font-size: 12px;
        align-items: center;
        align-self: flex-end;

        .close-btn {
            font-size: 24px;  
        }
    }

    .title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .link {
        color: $c-shark;
        text-decoration: underline;
    }

    .closeBtn {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .timer {
        margin-top: 10px;
    }
    
    .minimized {
        font-size: 12px;
        flex: 1;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
            font-size: 12px;
            margin: 0;
        }

        .emoji {
            font-size: 12px!important;
        }
    }
}