
    @import 'variables.scss';

    .notice {
        font-weight: bold;
        background-color: $warning-color;
        padding: 0.9rem 1.2rem;
        color: $text-dark;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .title {
            font-size: 1.2rem;
            margin-bottom: 0.2rem;;
        }
        .link {
            color: $text-dark;
            text-decoration: underline;
        }
        .close-btn {
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }
        .timer {
            margin-top: 0.5rem;
        }
    }