@import 'variables.scss';

#guardarian-modal {
    .content {
        height: 550px;
    }

    .buy-sell-btns-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 30%;
        padding-bottom: 20px;

        .button {
            padding: 10px 35px;
            background-color: $c-mirage;
            color: $c-titan-white;
            cursor: pointer;
            border-radius: 12px;
            
            &.active {
                color: $c-titan-white;
                background-color: $c-heliotrope;
            }
        }
    }
    .input-currencies-wrapper {
        display: flex;
        gap: 10px;
        align-items: flex-end;

        input {
            height: 60px;
        }

        .amount {
            width: 55%;
        }

        .currency {
            width: 45%;

            .select {
                min-width: 45px;
            }
        }

        .loading-wrapper {
            margin-top: 20px;
            height: 60px;
            width: 100%;
            background-color: #1E2033;
            border-radius: 12px;
        }
    }

    .estimation-info-wrapper {
        margin-left: 15px;
        margin-bottom: 10px;
        position: relative;
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        &:before {
            content: '';
            display: block;
            border-right: 2px solid rgba($c-titan-white, .7);
            height: 100%;
            position: absolute;
            z-index: -1;
            margin-left: 4px;
            
        }
    }

    .extra-fees, .estimation-rate {
        position: relative;
        padding-left: 25px;
        margin-top: 0;
        margin-bottom: 12px;
        text-decoration: underline;
        &:before {
            content: '';
            background: $c-titan-white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -4px;
            z-index: 1;
        }
    }
    .extra-fees {
        margin-top: 13px;
        margin-bottom: 13px;
    }
}