@import 'variables.scss';

.wrapper {
    max-width: 31.25rem;
    height: auto!important;
    min-height: unset;
    padding: 0 .625rem;
    padding-top: 2.25rem;

    :global(.content) {
        padding-top: 3.125rem;
        padding-bottom: .625rem;
    }
    .validationMsg {
        color: $danger-color;
    }

    .buySellBtnsWrapper {
        display: flex;
        flex-direction: row;
        gap: .625rem;
        width: 30%;
        padding-bottom: 1.25rem;

        .button {
            padding: .625rem 2.1875rem;
            background-color: $c-mirage;
            color: $c-titan-white;
            cursor: pointer;
            border-radius: $border-radius;
            
            &.active {
                color: $c-titan-white;
                background-color: $c-heliotrope;
            }
        }
    }
    .inputCurrenciesWrapper {
        display: flex;

        background-color: $c-mirage;
        padding: .25rem 1.25rem;
        padding-bottom: 0;
        border-radius: $border-radius;
        height: 5.9375rem;
        flex-direction: column;

        .currenciesRowWrapper {
            display: flex;
            justify-content: space-between;
            gap: .3125rem;
            align-items: center;
        }
        .inputLabel {
            margin: 0;
            color: $c-scampi;
            font-size: 1rem;
        }

        input {
            height: auto;
            padding: 0;
            font-size: 1.25rem;
            color: $c-titan-white;
        }

        .amount {
            flex: 0 1 50%;

            &Input {
                & > div{
                    border-radius: 0;
                }
                input {
                    padding-bottom: .25rem;
                }
            }

            .loadingInput {
                opacity: .68;
            }
        }

        .currency {
            flex: 0 1 50%;

            .select {
                min-width: 2.8125rem;
                width: 100%;
                .selectInput {
                    padding: 0;
                    font-size: 1.25rem;
                    gap: .625rem;
                }

                .selectIcon {
                    background-color: $c-ebony-clay-light;
                    padding: .5rem;
                    border-radius: $border-radius;
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        .loadingWrapper {
            margin-top: 1.25rem;
            height: 2.5rem;
            width: 100%;
            background-color: $c-mirage;
            border-radius: $border-radius;
        }
    }

    .estimationInfoWrapper {
        margin-left: .9375rem;
        margin-bottom: .625rem;
        position: relative;
        margin-top: .625rem;
        display: flex;
        flex-direction: column;

        &:before {
            content: '';
            display: block;
            border-right: 2px solid #898DCB;
            height: 100%;
            position: absolute;
            z-index: -1;
            margin-left: .25rem;
            
        }
    }

    .extraFees, .estimationRate {
        position: relative;
        padding-left: 1.5625rem;
        margin-top: 0;
        margin-bottom: .75rem;

        &:before {
            content: '';
            background: #898DCB;
            border-radius: 50%;
            width: .625rem;
            height: .625rem;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -0.25rem;
            z-index: 1;
        }

        p {
            margin: 0;
            font-size: .875rem;
            font-weight: 300;

            span {
                font-size: 1rem;
            }
        }
    }
    .extraFees {
        margin-top: .8125rem;
        margin-bottom: .8125rem;
    }
    .button {
        width: 100%;
        margin-top: 1.25rem;
    }

    .poweredBy {
        display: flex;
        justify-content: center;
        gap: .625rem;
        margin-top: 7.5rem;
        padding-top: .625rem;
        border-top: 1px solid #3E436B;
        &Label {
            font-size: .875rem;
            color: #898DCB;
        }

        &Logo {
            width: 9rem;
        }
    }
}