@import 'variables.scss';

#guardarian-modal {
    .content {
        height: 550px;
    }
    .input-currencies-wrapper {
        display: flex;
        align-items: flex-end;

        input {
            height: 50px;
        }

        .amount {
            width: 55%;
            // flex-grow: 4;
        }

        .currency {
            .select {
                min-width: 45px;
            }
            width: 45%;
            // flex-grow: 1;
        }

        .loading-wrapper {
            margin-top: 30.5px;
            height: 50px;
            width: 100%;
            background-color: $input-background-color;
        }
    }
}