@import 'variables.scss';

#guardarian-modal {
    .content {
        height: 550px;
    }

    .buy-sell-btns-wrapper {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding-bottom: 20px;

        .button {
            padding: 10px 35px;
            background-color: $input-background-color-darker;
            color: gray;
            cursor: pointer;
            
            &.active {
                color: white;
                background-color: $secondary-accent-color;
            }
        }
    }
    .input-currencies-wrapper {
        display: flex;
        align-items: flex-end;

        input {
            height: 50px;
        }

        .amount {
            width: 55%;
        }

        .currency {
            width: 45%;

            .select {
                min-width: 45px;
            }
        }

        .loading-wrapper {
            margin-top: 30.5px;
            height: 50px;
            width: 100%;
            background-color: $input-background-color;
        }
    }
}