@import 'variables.scss';

#quotes {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;

    #summary {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;

        .path {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .network, .token {
                display: flex;
                align-items: center;
                gap: 7px;
                font-weight: 500;

                .icon {
                    flex: 0 0 auto;
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                .name {
                    flex: 0 0 auto;
                }
                
                .time {
                    flex: 0 0 auto;
                }
            }

            .network {
                font-weight: bold;
                font-size: 15px;

                .icon {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    #routes {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font-size: 20px;
            font-weight: bold;
        }

        .route {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px 0;
            font-weight: 500;

            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .icon {
                    flex: 0 0 auto;
                    height: 16px;
                    width: 16px;
                    border-radius: 100%;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                .time {
                    flex: 0 0 auto;
                }

                .bridge,
                .middleware {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }

            .summary {
                display: flex;
                flex-direction: column;
                opacity: 0.8;

                .amounts {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    .amount {
                        flex: 1 1 50%;

                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }

                .fees {
                    display: flex;

                    .fee {
                        flex: 1 1 50%;
                        font-size: 15px;
                        opacity: 0.8;
                        color: $danger-color;

                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }
            }
        }

        #no-routes-placeholder {
            font-size: 16px;
            opacity: 0.8;
        }
    }

    .separator {
        flex-grow: 1;
    }

    #buttons {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .buttonComponent {
            flex: 1 1 50%;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #quotes {
        #summary {
            flex-direction: column;
            gap: 1.5em;

            svg {
                transform: rotate(90deg);
            }
        }
    }
}