@import 'variables.scss';

#backup {
    display: flex;
    flex-direction: row;
    gap: 2em;

    #export {
        .buttonComponent {
            height: 60px;
            width: 100%;
            background: orange;
            border: none;
            color: $c-titan-white;

            svg {
                color: $c-titan-white !important;
            }
        }
    }

    #import {
        .buttonComponent {
            height: 60px;
            width: 100%;
            background: $c-heliotrope;
            border: none;
            color: $c-titan-white;

            svg {
                color: $c-titan-white !important;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #backup {
        flex-direction: column;
        gap: 1em;
    }
}