@import 'variables.scss';

#backup {
    display: flex;
    flex-direction: row;
    gap: 2em;

    .backup-note {
        text-align: left;
    }

    .panel-sub {
        align-items: center;
        display: flex;
        gap: 24px;
        background-color: $input-background-color-darker;
        padding: 16px;

        .buttonComponent {
            margin-bottom: 16px;
        }

        .backupIcon {
            color: mix($input-background-color-darker, $text-color, 70%);
            font-size: 4em;
        }

        .backup-info {
            font-size: 0.9em;
            text-align: left;
            flex-grow: 1;

            .buttonLink {
                height: 40px;
            }

            .buttonComponent {
                height: 30px;
                background: $warning-color;

                &.email-accounts-only {
                    font-size: 0.9em;
                }
            }
            button {
                margin: 0;
            }
        }
    }

    #import {
        .buttonComponent {
            background: $secondary-accent-color;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #backup {
        flex-direction: column;
        gap: 1em;
    }
}
