@import 'variables.scss';

#backup {
    display: flex;
    flex-direction: row;
    gap: 2em;

    #export {
        .buttonComponent {
            height: 60px;
            width: 100%;
            background: orange;
        }
    }

    #import {
        .buttonComponent {
            height: 60px;
            width: 100%;
            background: $secondary-accent-color;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #backup {
        flex-direction: column;
        gap: 1em;
    }
}