@import 'variables.scss';

.stepper {
  display: flex;
  //background: $c-mirage;
  padding: 1rem;
  margin-bottom: 1rem;

  .step {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .stepStatus {
      //font-size: 1rem;
      margin: auto;
      display: block;
      width: .625rem;
      height: .625rem;
      text-align: center;
      border-radius: 3.125rem;
      z-index: 2;
      border: 2px solid transparent;
    }

    &.stepPrev {
      .stepStatus {
        border-color: $c-turquoise;
        background: $c-mirage;
      }

      .stepBarPrev {
        background: $c-turquoise
      }
      .stepBarNext {
        background: $c-turquoise
      }
    }

    &.stepCurrent {
      .stepStatus {
        border-color: $c-turquoise;
        background: $c-turquoise;
      }

      .stepBarPrev {
        background: $c-turquoise;
      }
      .stepBarNext {
        background: mix($c-turquoise, $c-mirage, 50%);
      }
    }

    &.stepNext {
      .stepStatus {
        background: $c-mirage;
        border-color: mix($c-turquoise, $c-mirage, 50%);
      }

      .stepBarPrev {
        background: mix($c-turquoise, $c-mirage, 50%);
      }
      .stepBarNext {
        background: mix($c-turquoise, $c-mirage, 50%);
      }
    }

    .stepBar {
      position: absolute;
      height: .125rem;
      z-index: 1;
      top: .25rem;

      &.stepBarPrev {
        width: 50%;
        left:0;
      }

      &.stepBarNext {
        width: 50%;
        right:0;
      }
    }

    .stepName {
      padding-top: .25rem;
      text-align: center;
      font-weight: normal;
      font-size: .75rem;
    }
  }
}
