.chart {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    overflow: hidden;

    .donut {
        flex: 0 0 auto;

        path.selected {
            opacity: 1;
        }

        .donut-innertext {
            display: none;
        }
    }

    .legend {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        overflow-y: auto;
        scrollbar-width: thin;

        .item {
            display: flex;
            align-items: center;
            gap: 12px;

            &.active {
                font-weight: bold;
            }

            .separator {
                flex: 1 0 auto;
            }

            .color {
                flex: 0 0 auto;
                height: 15px;
                width: 15px;
                border-radius: 1px;
            }

            label {
                flex: 0 0 auto;
                font-size: 20px;
            }

            .percent {
                flex: 0 0 auto;
            }
        }
    }
}
