@import 'variables.scss';

.address-input {
    width: 100%;

    input {
        padding-right: 50px;
    }
}

#input-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;

        div {
            display: flex;

            #udomains-logo {
                position: absolute;
                top: 50px;
                right: 55px;
                height: 25px;
                width: 25px;
                background-image: url('/resources/ud-logo-inactive.png');
                z-index: 1;
            }

            .ud-logo-active {
                background-image: url('/resources/ud-logo-active.png') !important;
            }

            #ens-logo {
                position: absolute;
                top: 50px;
                right: 20px;
                height: 25px;
                width: 25px;
                background-image: url('/resources/ens-logo-inactive.png');
            }
    
            .ens-logo-active {
                background-image: url('/resources/ens-logo-active.png') !important;  
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #input-modal {
        .content {
            display: flex;
            flex-direction: column;
            gap: 25px;

            #udomains-logo {
                position: absolute;
                top: 75px;
                right: 85px;
                height: 25px;
                width: 25px;
            }

            #ens-logo {
                position: absolute;
                top: 75px;
                right: 50px;
                height: 25px;
                width: 25px;
            }
        }
    }
}