@import 'variables.scss';

.address-input {
    width: 100%;

    input {
        padding-right: 3.125rem;
    }
}

#input-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;

        div {
            display: flex;

            #udomains-logo {
                position: absolute;
                top: 3.125rem;
                right: 3.4375rem;
                height: 1.5625rem;
                width: 1.5625rem;
                background-image: url('/resources/ud-logo-inactive.png');
                z-index: 1;
            }

            .ud-logo-active {
                background-image: url('/resources/ud-logo-active.png') !important;
            }

            #ens-logo {
                position: absolute;
                top: 3.125rem;
                right: 1.25rem;
                height: 1.5625rem;
                width: 1.5625rem;
                background-image: url('/resources/ens-logo-inactive.png');
            }
    
            .ens-logo-active {
                background-image: url('/resources/ens-logo-active.png') !important;  
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #input-modal {
        .content {
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;

            #udomains-logo {
                position: absolute;
                top: 4.6875rem;
                right: 5.3125rem;
                height: 1.5625rem;
                width: 1.5625rem;
            }

            #ens-logo {
                position: absolute;
                top: 4.6875rem;
                right: 3.125rem;
                height: 1.5625rem;
                width: 1.5625rem;
            }
        }
    }
}