@import 'variables.scss';

$segment-height: 50px;
$segment-small-height: 40px;

.segments {
    flex: 0 0 auto;
    height: $segment-height;
    display: flex;
    gap: 10px;
    padding: 15px;

    .segment {
        position: relative;
        flex: 1 0 auto;
        box-sizing: border-box;
        height: $segment-height;
        @include flex-center-center;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 30px;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        user-select: none;
        text-transform: uppercase;

        .icon {
            @include flex-center-center;
            font-size: 20px;
        }

        &.active {
            font-weight: bold;
            color: #ebecff;
            box-shadow: 0 2px 0 0 $primary-accent-color;
            opacity: 1;
        }

        &:not(.active):hover {
            box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.1);
            opacity: 0.8;
        }
    }

    &.small {
        height: $segment-small-height;
        padding: 0;

        .icon {
            font-size: 15px;
        }

        .segment {
            height: $segment-small-height;
            padding: 0 10px;
            font-size: 14px;
        }
    }
}