@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    cursor: default;
    border: 1px solid $danger-color;
    border-radius: $border-radius;
    padding: 1.25rem;
    
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $danger-color; 

        svg {
            font-size: 6.25rem;
        }
    }

    .message {
        font-size: 1.125rem;
        font-weight: 500;
        color: $warning-color;
        word-break: break-word;
        text-align: center;
    }
}