@import "variables.scss";

.balanceError {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 300;
  color: $danger-color;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .gasTankEnabled {
    color: $c-turquoise;
  }

  .gasTankDisabled {
    color: $danger-color;
  }
}

.noRelayerMsg {
  color: $warning-color;
}