@import "variables.scss";

.alert {
  margin: 20px 0;
}

.title {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .gasTankEnabled {
    color: theme(highlight-secondary);
  }

  .gasTankDisabled {
    color: $danger-color;
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .title {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
    
    span {
      margin-bottom: 0;
    }
  }
}