@import 'variables.scss';

$collectible-details-height: 60px;
$collectible-size: 204px;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
    
    .greenHighlight {
        color: $c-turquoise;
    }

    .purpleHighlight {
        color: $c-heliotrope;
    }

    // .paginationControls {
    //     display: flex;
    //     align-items: center;
    //     align-self: flex-end;
    //     gap: 15px;
    //     font-size: 15px;
    //     font-weight: 500;

    //     .paginationCurrent {
    //         span {
    //             opacity: 0.5;
    //         }
    //     }
    // }

    .collectiblesWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2.5vh 1.5vh;
        padding: 0 50px;
        justify-items: center;
    }
}
// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .collectibles {
        .panelHeading {
            top: -20px !important;
            height: auto !important;
            flex-direction: column;
            justify-content: center !important;
            gap: 0.5em;
            padding: 1em 0;

            .title {
                align-self: flex-start;
            }

            // .paginationControls {
            //     align-self: flex-end !important;
            // }
        }
    }
}
