@import 'variables.scss';

$collectible-details-height: 60px;
$collectible-size: 204px;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 12px;
    
    .greenHighlight {
        color: $c-turquoise;
    }

    .purpleHighlight {
        color: $c-heliotrope;
    }

    .collectiblesWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2.5vh 1.5vh;
        padding: 0 50px;
        justify-items: center;
    }
}
// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        .collectiblesWrapper {
            padding: 0 20px;
        }
    }
}
