@import 'variables';

.wrapper {
  width: 380px;
  height: 600px;
  background-color: $c-white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerAndBody {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .header {
      padding: 25px 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .backButton {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .backButtonIcon {
          width: 10.545px;
          height: 6.515px;
        }

        .backButtonText {
          margin: 0;
        }
      }

      .dappLogo {
        width: 32px;
        height: 32px;
        display: block;
        margin-left: auto;
      }
    }

    .body {
      padding: 0 20px;
      flex-grow: 1;
    }
  }

  .footer {
    background-color: $c-white;
    border-top: 1px solid rgba(#6770b3, 0.2);
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerText {
      margin: 0;
      font-size: 10px;
    }

    .footerLogo {
      width: 55px;
      height: 18px;
    }
  }
}
