@import 'variables.scss';

#wallet-more-details-modal {
    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 3.125rem;

        .table {
            .wrapper {
                display: flex;
                justify-content: space-between;
                padding: 1.25rem;
                background-color: rgba(255, 255, 255, 0.04);
    
                div {
                    flex: 0 1 50% !important;
                }

                &:first-child {
                    border-radius: 12px 12px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 12px 12px;
                }
            }
    
            .odd-rows-bg {
                background-color: rgba(255, 255, 255, 0.01);
            }
    
            .loading-wrapper {
                min-height: 35rem;
            }
        }
    }
    
    .buttons button {
        flex: 0 1 100% !important;
    }
}