@import 'variables.scss';

#gas-tank {
    .heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .switch-wrapper {
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .balance-wrapper {
            display: flex;
            flex-direction: column;
            border: 1px dashed;
            padding: 10px 15px;
            width: 185px;
            min-height: 103px;
            align-items: center;
            color: gray;
    
    
            .inner-wrapper-left {
                font-size: 35px;
                color: white;
    
                span {
                    font-size: 25px;
                    color: $secondary-accent-color;
                    font-weight: bold;
                }
            }
    
            span {
                font-size: 12px;
            }
    
            span svg {
                color: $secondary-accent-color;
              }
        }

        .total-save {
            border: 1px solid;
            align-items: flex-start;
            
            .inner-wrapper-right {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                width: 100%;
                align-items: center;

                .label {
                    color: $secondary-accent-color;
                    max-width: 60%;

                    &.green{
                        color: $primary-accent-color;
                    }
                }

                
                div {
                    padding-bottom: 5px;
                }

                .amount {
                    text-align: end;
                    font-size: 14px;
                    font-weight: bold;
                    color: white;

                    span {
                        font-size: 12px;
                        font-weight: normal;
                        color: $secondary-accent-color;
                    }
                }
            }
        }
    }

    .sort-holder {
        display: flex;
        align-items: center;
        gap: 10px;
        
        .sort-buttons {
            display: flex;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        max-height: 240px;

        .token {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 15px 20px;
            font-size: 15px;
            color: white;

            &[disabled] {
                pointer-events: none;
                opacity: 0.5;
            }
            
            &[draggable="true"] .drag-handle {
                cursor: grab;
                cursor: -moz-grab;
                cursor: -webkit-grab;
        
            }

            &[draggable="true"]:active .drag-handle {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }

            &:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.04);
            }

            &:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.02);
            }

            .separator {
                flex-grow: 1;
            }

            .icon {
                position: relative;
                flex: 0 0 auto;
                @include flex-center-center;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                color: rgba(255, 255, 255, 0.5);
                background-color: rgba(255, 255, 255, 0.1);
                overflow: hidden;

                img {
                    height: 100%;
                    user-select: none;
                }
            }

            .name {
                font-size: 17px;
                font-weight: bold;
            }

            .balance {
                display: flex;
                flex-direction: column;
                text-align: right;

                .currency {
                    display: flex;
                    gap: 5px;
                    font-size: 18px;
                    font-weight: 500;

                    .symbol {
                        font-weight: bold;
                        color: $primary-accent-color;
                    }
                }

                .dollar {
                    font-size: 14px;
                    font-weight: 500;
                    color: #bbb;

                    .symbol {
                        font-weight: bold;
                        color: $secondary-accent-color;
                    }
                }
            }

            .actions {
                width: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                opacity: 0;
                transition: all 0.1s ease-in-out;
                transition-delay: 0.25s;
            }

            &:hover {
                .actions {
                    width: 125px;
                    opacity: 1;
                }
            }
        }
    }

    .deposit-button {
        width: 100%;
        margin: 20px 0;
    }

    .title {
        margin: 10px 0;
    }

    .warning-msg {
        padding: 10px;
        background-color: mix($panel-background-color, $warning-color, 90%);
        color: $warning-color;
    }

    .txns-wrapper {
        max-height: 153px;
        overflow: hidden;
        overflow-y: auto;

        .txns-item-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            background-color: $background-color;
            margin-bottom: 1px;
            font-size: 12px;
            text-align: center;
    
            .item {
                flex: 2 0 0;
            }

            .logo {
                flex: 1 0 0;

                img {
                    border-radius: 50%;
                }

                svg {
                    margin-top: 5px;
                }
            }

            .date { 
                flex: 4 0;
            }

            .balance {
                display: flex;
                flex: 4 0;
                align-items: center;
                justify-content: left;
                gap: 10px;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .heading-wrapper {
        flex-direction: column;

        .total-save {
            align-items: center !important;
        }
    }
}