@import '../../../variables.scss';

#reset-password-modal {
    .content {
        display: flex;
        flex-direction: column;

        .radios-container {
            margin-bottom: 30px;
        }

        form {
            .text-input {
                margin-bottom: 10px;
            }

            .checkbox-container {
                .checkbox-label {
                    display: flex;
                    gap: 0.5em;

                    .tooltip {
                        svg {
                            font-size: 1.75em;
                        }
                    }
                }
            }
        }

        .warning {
            font-weight: 500;
            color: $danger-color;
        }
    }
}