#reset-password-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        form {
            .text-input {
                margin-bottom: 10px;
            }
        }
    }
}