@import 'variables.scss';

#reset-password-modal {
    .content {
        display: flex;
        flex-direction: column;

        #loading-overlay {
            z-index: 49;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $c-ebony-clay;
        }

        .radios-container {
            margin-bottom: 1.875rem;
        }

        form {
            .password-input {
                margin-bottom: .625rem;
            }

            .checkbox-container {
                .checkbox-label {
                    display: flex;
                    gap: 0.5em;

                    .tooltip {
                        svg {
                            font-size: 1.75em;
                        }
                    }
                }
            }
        }

        .warning {
            font-weight: 500;
            color: $danger-color;
        }
    }
}