@import 'variables.scss';

.wrapper {
  overflow: hidden;

  .relative {
    position: relative;
  }

  .title {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 14px;

    .titleSpacedLeft {
      margin-left: 35px;
    }
    h3 {
      font-weight: 400;
      font-size: 20px;
      margin: 0;
    }

    & > * {
      flex: 1;
    }

    .token {
      flex: 1.5;
      display: flex;
      align-items: center;
      gap: 10px;
      
      .sortButtons {
        display: flex;
      }
    }

    .price {
      flex: 1.2;
    }

    .actions {
      text-align: end;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    .title {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .title {
      display: none;
    }
  }
}