@import 'variables.scss';

.paginationControlsHolder {
    display: flex;
    justify-content: right;
    margin: .5rem 0;

    .paginationControls {
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1rem;
        font-size: .9375rem;
        font-weight: 500;
    }
}
