@import 'variables';

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap-reverse;

  .explorerLink {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: $c-scampi;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    font-size: 12px;

    &.error {
      color: $warning-color;
    }

    &.pending {
      color: $tertiary-accent-color;
    }

    &.confirmed {
      color: $c-turquoise;
    }

    .loading {
      width: auto;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    span {
      opacity: 0.8;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
