@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;

    .panel {
        flex: 0 1 50%;

        .panelTitle {
            font-size: 25px;
            font-weight: 400;
            color: $c-titan-white;
            margin-bottom: 20px;
        }
    }

    .tab {
        font-size: 20px;
    }

    .topPanels {
        padding: 15px 50px;
        gap: 0;
        overflow: hidden;
    }
    
    .overview {
        display: flex;
        justify-content: space-between;
        gap: 17px;
        max-height: 300px;
    }

    .footer {
        margin-top: 15px;
        margin-bottom: 40px;
        .missingTokenNotice {
            font-size: 15px;
            color: $c-titan-white;

            a {
                color: $c-heliotrope;
            }
        }

        .powered {
            text-align: right;
            font-size: 12px;
            padding: 0 10px;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1800px) {
    .wrapper {
        .panel {
            .panelTitle {
                font-size: 20px;
                margin-bottom: 23px;
            }
        }
        .topPanels {
            padding: 15px 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .overview {
        flex-direction: column;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 15px;

        .overview {
            gap: 15px;
            max-height: 700px;
        }

        .chart {
            flex-direction: column;
        }

        .topPanels {
            overflow-y: auto;
            max-height: 500px;
        }

        .footer {
            flex-direction: column;

            .missingTokenNotice {
                align-items: flex-start;
            }
        }
    }
}
