#table {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

#table .category {
    border-radius: 20px;
    overflow: hidden;
}

#table .category .title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#table .category .list {
    display: flex;
    flex-direction: column;
}

#table .category .list .token {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 15px;
    color: white;
}

#table .category .list .token:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

#table .category .list .token .separator {
    flex-grow: 1;
}

#table .category .list .token .icon {
    height: 40px;
    width: 40px;
    overflow: hidden;
}

#table .category .list .token .icon img {
    width: 100%;
}

#table .category .list .token .name {
    font-size: 20px;
    font-weight: bold;
}

#table .category .list .token .balance {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#table .category .list .token .balance .currency {
    font-size: 18px;
}

#table .category .list .token .balance .currency .symbol {
    font-weight: bold;
    color: rgb(128, 255, 219);
}

#table .category .list .token .balance .dollar {
    font-size: 14px;
}

#table .category .list .token .balance .dollar .symbol {
    font-weight: bold;
    color: #AA6AFF;
}