@import '../../../variables.scss';

#dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;

    .green-highlight {
        color: $primary-accent-color;
    }

    .purple-highlight {
        color: $secondary-accent-color;
    }

    .panel {
        flex: 0 1 50%;
    }

    #overview {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        #balance {
            gap: 10px;

            #total {
                font-size: 40px;

                #other-balances {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 7px;
                    margin-top: 20px;

                    label {
                        font-size: 22px;
                        opacity: 0.8;
                    }

                    .balance-container {
                        display: flex;
                        gap: 7px;
                    }

                    .other-balance {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 7px;
                        font-weight: 500;
                        font-size: 22px;
                        opacity: 0.8;
                        cursor: pointer;
                        transition: opacity 0.1s ease-in-out;
                        user-select: none;

                        label {
                            cursor: pointer;
                        }
                        
                        .network {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;

                            .icon {
                                height: 20px;
                                width: 20px;
                                background-size: contain;
                                border-radius: 100%;
                            }
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    #table {
        .powered {
            text-align: right;
            font-size: 12px;
            padding: 0 10px;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1200px) {
    #overview {
        flex-direction: column;
    }
}
