@import 'variables.scss';

#dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .green-highlight {
        color: $primary-accent-color;
    }

    .purple-highlight {
        color: $secondary-accent-color;
    }

    .panel {
        flex: 0 1 50%;
    }

    #overview {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        #balance {
            gap: 10px;
        }
    }

    #table {
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;

            #missing-token-notice {
                display: flex;
                align-items: center;
                gap: 0.5em;
                font-size: 15px;
                opacity: 0.5;

                svg {
                    flex: 0 0 auto;
                    font-size: 18px;
                }
            }

            .powered {
                text-align: right;
                font-size: 12px;
                padding: 0 10px;
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #overview {
        flex-direction: column;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #dashboard {
        gap: 15px;

        #overview {
            gap: 15px;
        }

        #chart {
            .content {
                .chart {
                    flex-direction: column;
                }
            }
        }

        #table {
            .footer {
                flex-direction: column;

                #missing-token-notice {
                    align-items: flex-start;
                }
            }
        }
    }
}
