@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .panel {
        flex: 0 1 50%;

        .panelTitle {
            font-size: 25px;
            font-weight: 400;
            color: #ebecff;
            margin-bottom: 20px;
        }
    }

    .topPanels {
        padding: 0 50px;
        padding-top: 15px;
        padding-bottom: 18px;
        max-height: 295px;
        gap: 0;
        overflow: hidden;
    }
    
    .overview {
        display: flex;
        justify-content: space-between;
        gap: 17px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        .missingTokenNotice {
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 15px;
            opacity: 0.5;

            svg {
                flex: 0 0 auto;
                font-size: 18px;
            }
        }

        .powered {
            text-align: right;
            font-size: 12px;
            padding: 0 10px;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1800px) {
    .wrapper {
        .panel {
            .panelTitle {
                font-size: 20px;
                margin-bottom: 23px;
            }
        }
        .topPanels {
            padding: 15px 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .overview {
        flex-direction: column;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        gap: 15px;

        .overview {
            gap: 15px;
        }

        .chart {
            flex-direction: column;
        }

        .topPanels {
            overflow-y: auto;
            max-height: 500px;
        }

        .footer {
            flex-direction: column;

            .missingTokenNotice {
                align-items: flex-start;
            }
        }
    }
}
