@import '../../../variables.scss';

#dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;

    .green-highlight {
        color: $primary-accent-color;
    }

    .purple-highlight {
        color: $secondary-accent-color;
    }

    .panel {
        flex: 0 1 50%;
    }

    #overview {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        #balance {
            gap: 10px;

            #total {
                font-size: 40px;

                #other-balances {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;

                    .other-balance {
                        font-weight: 500;
                        font-size: 18px;
                        opacity: 0.6;
                        cursor: pointer;
                        transition: opacity 0.1s ease-in-out;
                        user-select: none;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    #table {
        .powered {
            text-align: right;
            font-size: 12px;
            padding: 0 10px;
            opacity: 0.5;
        }
    }
}

@media screen and (max-width: 1200px) {
    #overview {
        flex-direction: column;
    }
}
