@import 'variables';

.removeButton {
  border-color: $danger-color!important;
  color: $danger-color!important;
}

.wrapper {
  min-height: 350px;
  max-height: 500px;
  max-width: 600px;

  .animation {
    width: 173px;
    margin: 0 auto;
  }
  .text {
    text-align: center;
    margin: 0;
  }
}