@import 'variables';

.removeButton {
  border-color: $danger-color!important;
  color: $danger-color!important;
}

.wrapper {
  min-height: 21.875rem;
  max-height: 31.25rem;
  max-width: 37.5rem;
  padding-bottom: 8.75rem!important;

  .animation {
    width: 10.8125rem;
    margin: 0 auto;
  }
  .text {
    text-align: center;
    margin: 0;
  }

  :global(.content) {
    padding-top: 0;
  }
  :global(.buttons) {
    padding: 2.5rem;
    padding-top: 0;
    height: auto;
  }
}