@import '../../../variables.scss';

#grid-plus {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 424px;

    h3 {
        text-align: center;
        color: $primary-accent-color;
    }

    button { 
        width: 100%;
        flex: 0 1 100% !important;
    }
}