@import 'variables.scss';

.wrapper {
    width: 100%;

    .placeholder {
        font-size: .875rem;
        font-weight: 400;
        opacity: .9;
        text-align: left;
        padding: .9375rem;
    }

    .item {
        height: 3.75rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .3125rem !important;
        padding: 0 !important;
        padding-left: .9375rem !important;
        cursor: pointer;
        border-radius: $border-radius;

        .inner {
            height: 100%;
            width: 100%;
            min-width: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .9375rem;

            .icon {
                flex: 0 0 auto;
                height: 1.8125rem;
                width: 1.8125rem;
                @include flex-center-center;
                border-radius: 100%;
                background-size: cover;
            }

            .details {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: .125rem;
                padding-right: 1.25rem;
                overflow: hidden;

                .label {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .label {
                    cursor: pointer;
                    font-size: .75rem;
                    font-weight: 500;
                    opacity: 0.5;
                }

                .address {
                    font-size: .9375rem;
                }

            }
        }

        .button {
            flex: 0 0 auto;
            height: 100%;
            width: 3.125rem;
            @include flex-center-center;
            font-size: 1.0625rem;
            font-weight: bold;
            color: $c-titan-white;
            border-radius: 0 $border-radius $border-radius 0;

            &:not([disabled]):hover {
                cursor: pointer;
                opacity: 1;
                background-color: $c-mirage-dark!important;
            }

            &:active {
                background-color: $c-fiord!important;
            }
        }

        &:hover {
            background-color: $c-mirage;
        }
    }
}