@import 'variables.scss';

.instructions {
    margin-bottom: 12px;

    span {
      color: $c-turquoise;
    }

    .unimportant {
      color: $text-container-color;
    }
}

.button {
  width: 100%;
  flex: unset!important;
}

.importedSeedWordsList {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    &.modifyMode {
      .importedSeedWord {
        opacity: 0.1;
        cursor: default;
        &:hover {
          border-color: transparent;
        }
      }

      .importedSeedWord .close {
        cursor: default;
      }

      .importedSeedWord.modifiable {
        opacity: 1;
        border: 1px solid $c-turquoise;
      }
    }

    .importedSeedWord {
      border-radius: 4px;
      flex-basis: 30%;
      display: flex;
      background: $c-mirage;
      padding: 8px;
      border: 1px solid transparent;
      flex-grow: 1;
      text-align: center;
      align-items: center;
      transition: 250ms;
      width: 25%;
      gap: 8px;
      cursor: pointer;

      .index {
        color: mix($text-container-color, $c-mirage-dark, 50%);
      }

      .word {
        text-align: left;
        flex-grow: 1;
      }

      &.deletable {
        background: mix($c-mirage-dark, $c-martinique, 20%);
        color: mix($text-container-color, $c-martinique, 20%);

        .index {
          color: mix($text-container-color, $c-martinique, 20%);
        }

        .close {
          color: mix($text-container-color, $c-martinique, 20%);
        }
      }

      .close, .modifying {
        display: flex;
        align-items: center;
        color: mix($text-container-color, $c-mirage-dark, 50%);
        cursor: pointer;
      }

      .close:hover {
        color: $danger-color;
      }

      .modifying:hover {
        color: $c-turquoise;
      }
      &:hover {
        border: 1px solid $c-turquoise;
      }
    }

    .empty {
      flex-basis: 30%;
      flex-grow: 1;
    }
  }

  .seedWordsForm {
    margin-bottom: 16px;
  }

  .networkFetchError {
    margin-top: 16px;

    .buttonComponent {
      margin-top: 16px;
    }
  }

.foundAddressContainer {
    margin: 24px 0;
    padding: 12px;
    background: $c-mirage-dark;
    text-align: center;
    border-radius: 12px;

    .address {
        margin-top: 4px;
        font-size: 16px;
        font-family: monospace;
        margin-bottom: 16px;
    }
}
