@import 'variables.scss';

#input-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .text-input {
            width: 100%;

            input {
                padding-right: 50px;
            }
        }

        #udomains-logo {
            position: absolute;
            top: 50px;
            right: 50px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ud-logo-inactive.png');
        }

        .ud-logo-active {
            background-image: url('/resources/ud-logo-active.png') !important;  
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #input-modal {
        .content {
            display: flex;
            flex-direction: column;
            gap: 25px;

            #udomains-logo {
                position: absolute;
                top: 75px;
                right: 50px;
                height: 25px;
                width: 25px;
                background-image: url('/resources/ud-logo-inactive.png');
            }
    
            .ud-logo-active {
                background-image: url('/resources/ud-logo-active.png') !important;  
            }
        }
    }
}