@import 'variables.scss';

#collectible {
    display: flex;
    gap: 30px;

    .address {
        font-family: 'Ubuntu Mono';
    }

    .panel {
        min-width: 0;
        flex: 0 1 50%;

        .heading {
            .title {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .contract {
                font-size: 15px;
                font-weight: 500;
                opacity: 0.6;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .content {
            height: 100%;

            .separator {
                flex-grow: 1;
            }
        }
    }

    .metadata {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;

        .collection {
            font-size: 15px;
            font-weight: bold;
        }

        .image {
            z-index: 47;
            height: 250px;
            width: 250px;
            @include flex-center-center;
            font-size: 40px;
            color: rgba(255, 255, 255, 0.5);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(255, 255, 255, 0.1);
        }
        
        .info {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .name {
                font-size: 18px;
                font-weight: bold;
                color: $c-titan-white;
            }

            .description {
                font-size: 15px;
                font-weight: 500;
                color: $c-titan-white;
                opacity: 0.6;
            }
        }

        .owner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            margin-top: 10px;
            font-size: 15px;
            font-weight: 500;
            opacity: 0.6;
            overflow: hidden;
            white-space: nowrap;

            .address {
                display: flex;
                align-items: center;
                gap: 8px;

                .icon {
                    height: 14px;
                    width: 14px;
                    border-radius: 100%;
                }
            }
        }
    }

    #recipient-address {
        position: relative;
        display: flex;

        .recipient-input {
            width: 100%;

            input {
                border-radius: 12px 0 0 12px;
                padding-right: 280px;
            }
        }

        #udomains-logo {
            position: absolute;
            top: 18px;
            right: 275px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ud-logo-inactive.png');
        }

        .ud-logo-active {
            background-image: url('/resources/ud-logo-active.png') !important;  
        }

        #ens-logo {
            position: absolute;
            top: 18px;
            right: 240px;
            height: 25px;
            width: 25px;
            background-image: url('/resources/ens-logo-inactive.png');
        }

        .ens-logo-active {
            background-image: url('/resources/ens-logo-active.png') !important;  
        }
        
        .address-book {
            position: absolute !important;
            right: 0;
        }
    }
}

@media screen and (max-width: 1300px) {
    #collectible {
        flex-direction: column;
        gap: 15px;
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #collectible {
        #recipient-address {
            flex-direction: column;
            gap: 10px;

            .recipient-input {
                input {
                    padding-right: 50px;
                }
            }
            
            #udomains-logo {
                position: absolute;
                top: 18px;
                right: 50px;
                height: 25px;
                width: 25px;
            }

            #ens-logo {
                position: absolute;
                top: 18px;
                right: 15px;
                height: 25px;
                width: 25px;
            }

            .address-book {
                position: relative !important;
            }

            .dropdown {
                position: relative !important;
            }
        }
    }
}