@import 'variables';

.wrapper {
  transition: opacity 0.1s ease-in-out;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 32px;

  .icon {
    border-radius: 12px;
    width: 34px;
    height: 34px;
    background-color: rgba($c-titan-white, 0.05);
    padding: 8px;
    flex: 1;
    cursor: pointer;
    transition: 0.3s ease-out opacity;

    &:hover {
      opacity: 0.6;
    }
  }

  .dappData {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    a {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $c-heliotrope;
    }

    .infoIcon {
      width: 20px;
      height: 20px;
    }
    
    .dappLogo {
      width: 34px;
      height: 34px;
      border-radius: 12px;
      padding: 4px;
    }

    .exitIcon {
      color: $danger-color;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    gap: 15px;

    .menuIcon {
      display: none;
    }
    
    .dappData {
      flex-direction: row-reverse;
    }
  }
}