@import 'variables.scss';

.wrapper {
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;

        .intro {
            opacity: 0.6;
        }

        .permission {
            display: flex;
            gap: 30px;

            .details {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .name {
                    font-size: 17px;
                    font-weight: 500;

                    .unavailable {
                        padding-left: 5px;
                        font-size: 15px !important;
                        font-weight: bold !important;
                        color: $c-heliotrope;
                    }
                }

                .description {
                    font-size: 15px;
                    opacity: 0.6;
                }

                .unavailable {
                    padding-top: 5px;
                    font-size: 15px !important;
                    font-weight: bold !important;
                }
            }

            .status {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                gap: 1em;

                .checkIcon {
                    svg {
                        flex: 0 0 auto;
                        font-size: 2.5em;
                        color: $c-turquoise;
                    }
                }

                label {
                    font-size: 0.8em;
                    text-align: center;
                    opacity: 0.8;
                }

                button {
                    flex: 0 0 auto;
                }
            }       

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }

        .buttons {
            button {
                flex: 0 1 50% !important;
            }
        }
    }
    .downloadBackup {
        opacity: .6;
        margin: 0;
    }
}