@import 'variables.scss';

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        width: 24px;
        height: 24px;
    }

    label {
        font-size: 16px;
    }
}