@import 'variables.scss';

#balances {
    font-size: 40px;
    display: flex;
    flex-direction: column;

    #other-balances {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 7px;
        margin-top: 20px;

        label {
            flex: 0 0 auto;
            font-size: 22px;
            opacity: 0.8;
        }

        .balance-container {
            display: flex;
            gap: 7px;
            flex-wrap: wrap;
        }

        .other-balance {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
            flex-wrap: wrap;
            font-weight: 500;
            font-size: 22px;
            opacity: 0.8;
            cursor: pointer;
            transition: opacity 0.1s ease-in-out;
            user-select: none;

            label {
                cursor: pointer;
            }

            .network {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .icon {
                    flex: 0 0 auto;
                    height: 20px;
                    width: 20px;
                    background-size: cover;
                    border-radius: 100%;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #balances {
        #other-balances {
            gap: 9px;

            label {
                font-size: 20px;
            }

            .other-balance {
                font-size: 20px;
            }
        }
    }
}