@import 'variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .greenHighlight {
        color: $c-turquoise;
    }

    .purpleHighlight {
        color: $c-heliotrope;
    }

    .otherBalances {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);

        &.bottomOverflow {
            --bottom-mask-size: 60px;
        }

        .icon {
            flex: 0 0 auto;
            height: 32px;
            width: 32px;
            background-size: cover;
            border-radius: 100%;
          }
      
          .iconSvg {
            display: flex;
            align-items: center;
      
            svg {
                fill: $danger-color;
            } 
        }

        .loadingOtherBalancesWrapper {
            overflow: hidden;
        }

        .noOtherBalancesWrapper {
            display: flex;
            flex: 1;
            align-items: center;

            .noOtherBalances {
              display: flex;
              gap: 10px;
              max-width: 250px;
        
              label {
                flex: 1;
              }
        
              svg {
                margin-top: 5px;
              }
            }
      
          }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        padding: 10px 20px;
        background: $c-ebony-clay;
        border: 1px solid $c-fiord;
        border-radius: 12px;
        .otherBalances {
            gap: 9px;
        }
    }
}