@import 'variables.scss';

.wrapper {
    font-size: 40px;
    display: flex;
    flex-direction: column;

    .greenHighlight {
        color: $primary-accent-color;
    }

    .purpleHighlight {
        color: $secondary-accent-color;
    }

    .otherBalances {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 12px;

        .icon {
            flex: 0 0 auto;
            height: 20px;
            width: 20px;
            background-size: cover;
            border-radius: 100%;
          }
      
          .iconSvg {
            display: flex;
            align-items: center;
      
            svg {
                fill: red;
            } 
          }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        .otherBalances {
            gap: 9px;

            label {
                font-size: 20px;
            }

            .otherBalance {
                font-size: 20px;
            }
        }
    }
}