#emailLoginSection {
    a {
        display: block;
        margin: 1.3em auto;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }

    #loginEmail {
        flex: 0.9;
        max-width: 400px;
        margin: 0px auto;

        .error {
            top: -15px;
            font-size: 1.5em;
            font-weight: 600;
            position: relative;
        }
    }
}

.emailConf {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.5em;
}

.emailConf h3 {
    text-align: center;
}

.emailConf h3 svg {
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.emailConf p {
    font-size: 1.2em;
}

.magicLink {
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: bold;
}