@import 'variables.scss';

.loginSignupWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    min-height: 100%;
    padding: 40px 0;
    overflow: hidden;

    &.dark {
        background: url('/resources/login-bg.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;

        input {
            &:not([type=submit]):focus {
                border-bottom-color: $c-white;
            }
        }
    }

    button, input {
        font-size: 16px;
        border: 0px;
        background: none; /* #282c34; */
        padding: 16px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        transition: all 0.1s ease-in-out;
    }

    button {
        background-color: white;
    }

    button, input[type=submit] {
        cursor: pointer;
    }

    button:not([disabled]):active, input[type=submit]:not([disabled]):active {
        transform: scale(0.95);
    }

    input:focus {
        outline: 0px;
    }

    button {
        opacity: 0.8;
    }

    button:not([disabled]):hover {
        opacity: 1;
    }

    input:disabled, button:disabled {
        opacity: 0.5 !important;
        cursor: default;
    }

    input[type=submit] {
        height: 60px;
        width: 100%;
        border: none;
        background: theme(gradient-primary);
        border-radius: 12px;
        color: $c-white;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        margin-bottom: 30px;
    }

    input {
        color: theme(text-secondary);
        margin: 32px 0px;
        border-bottom: 2px solid theme(border-input);
        width: 100%;
        font-size: 16px;

        &:not([type=submit]):focus {
            border-bottom-color: #6000ff;        
        }
    }

    .logo {
        width: 100%;
        max-width: 252px;
        margin: 0px auto;
        height: 110px;
    }

    .pluginInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        font-size: 18px;

        .name {
            font-size: 1.7em;
        }
    } 

    .signersToChoose {
        margin: 0px auto;
        display: block;
        line-height: 32px;
        font-size: 24px;
        color: #ccc;
        list-style: none;
        font-family: 'Ubuntu Mono';
        width: 500px;
        cursor: pointer;

        li:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: $c-white;
        }
    }

    .loginEmail form > *, .loginEmail button {
        /* TODO */
        display: block;
    }
}

.emailLoginSection {
    a {
        display: block;
        margin: 21px auto;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .backButton {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: theme(text-primary);
        opacity: .8;
        transition: .3s ease-in-out;

        img {
            margin-right: 10px;
        }

        &:hover {
            opacity: 1;
        }
    }

    .loginEmail {
        max-width: 400px;
        margin: 0 auto;

        .error {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 20px;
            font-size: 18px;
            font-weight: 300;
            background-color: rgba(#fd1a64, 0.8);
            text-align: center;
            color: $c-white;
            padding: 15px 30px;
            border-radius: 12px;
        }
    }
}

.emailConf {
    background-color: theme(background-terniary);
    border: 1px solid theme(border-primary);
    border-radius: 12px;
    padding: 30px 60px;
    padding-top: 12px;
    text-align: center;
    color: theme(text-primary);
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

.emailConf h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

.emailConf p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    min-width: 360px;

    span.email {
        color: $c-heliotrope;
    }
}

.magicLink {
    font-weight: 400;
    color: theme(text-primary);
    opacity: .8;
    text-align: center;
}

.emailAnimation {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .loginSignupWrapper {
        gap: 40px;
        padding: 0 16px;

        .logo {
            width: 75%;
        }
    }
    .emailConf {
        padding: 20px;
        padding-top: 10px;

        p {
            min-width: unset;
        }
    }
    .magicLink {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .magicLink {
        font-size: 12px;
    }

    .emailConf {
        padding: 15px;
        padding-top: 10px;

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
            line-height: 150%;
        }
    }

    .emailLoginSection {
        .loginEmail {
            .error {
                top: 20px;
                font-size: 14px;
                padding: 15px;
                width: 100%;
                max-width: 300px;
            }
        }
    }
}