@import 'variables.scss';

.loginSignupWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.75rem;
    min-height: 100%;
    padding: 2.5rem 0;
    overflow: hidden;

    &.dark {
        background: url('/resources/login-bg.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;

        input {
            &:not([type=submit]):focus {
                border-bottom-color: $c-white;
            }
        }
    }

    button, input {
        font-size: 1rem;
        border: 0;
        background: none; /* #282c34; */
        padding: 1rem;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        transition: all 0.1s ease-in-out;
    }

    button {
        background-color: white;
    }

    button, input[type=submit] {
        cursor: pointer;
    }

    button:not([disabled]):active, input[type=submit]:not([disabled]):active {
        transform: scale(0.95);
    }

    input:focus {
        outline: 0;
    }

    button {
        opacity: 0.8;
    }

    button:not([disabled]):hover {
        opacity: 1;
    }

    input:disabled, button:disabled {
        opacity: 0.5 !important;
        cursor: default;
    }

    input[type=submit] {
        height: 3.75rem;
        width: 100%;
        border: none;
        background: theme(gradient-primary);
        border-radius: 12px;
        color: $c-white;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0;
        margin-bottom: 1.875rem;
    }

    input {
        color: theme(text-secondary);
        margin: 2rem 0;
        border-bottom: 2px solid theme(border-input);
        width: 100%;
        font-size: 1rem;

        &:not([type=submit]):focus {
            border-bottom-color: #6000ff;        
        }
    }

    .logo {
        width: 100%;
        max-width: 15.75rem;
        margin: 0 auto;
        height: 6.875rem;
    }

    .pluginInfo {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
        font-size: 1.125rem;

        .name {
            font-size: 1.7em;
        }
    } 

    .signersToChoose {
        margin: 0 auto;
        display: block;
        line-height: 2rem;
        font-size: 1.5rem;
        color: #ccc;
        list-style: none;
        font-family: 'Ubuntu Mono';
        width: 31.25rem;
        cursor: pointer;

        li:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: $c-white;
        }
    }

    .loginEmail form > *, .loginEmail button {
        /* TODO */
        display: block;
    }
}

.emailLoginSection {
    a {
        display: block;
        margin: 1.3125rem auto;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
    }

    .backButton {
        display: flex;
        align-items: center;
        gap: .625rem;
        font-size: 1rem;
        font-weight: 400;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        color: theme(text-primary);
        opacity: .8;
        transition: .3s ease-in-out;

        img {
            margin-right: .625rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    .loginEmail {
        max-width: 25rem;
        margin: 0 auto;

        .error {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 1.25rem;
            font-size: 1.125rem;
            font-weight: 300;
            background-color: rgba(#fd1a64, 0.8);
            text-align: center;
            color: $c-white;
            padding: .9375rem 1.875rem;
            border-radius: 12px;
        }
    }
}

.emailConf {
    background-color: theme(background-primary);
    border: 1px solid theme(border-terniary);
    border-radius: 12px;
    padding: 1.875rem 3.75rem;
    padding-top: .75rem;
    text-align: center;
    color: theme(text-primary);
    width: 100%;
    max-width: 28.75rem;
    margin: 0 auto;
}

.emailConf h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.emailConf p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5625rem;
    margin-bottom: 0;
    min-width: 22.5rem;

    span.email {
        color: $c-heliotrope;
    }
}

.magicLink {
    font-weight: 400;
    color: theme(text-primary);
    opacity: .8;
    text-align: center;
}

.emailAnimation {
    width: 8.75rem;
    height: 8.75rem;
    margin: 0 auto;
}

// Mobile
@include lg-breakpoint {
    .loginSignupWrapper {
        gap: 2.5rem;
        padding: 0 1rem;

        .logo {
            width: 75%;
        }
    }
    .emailConf {
        padding: 1.25rem;
        padding-top: .625rem;

        p {
            min-width: unset;
        }
    }
}