@import "variables";

.replaceInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;

  &.info {
    background-color: mix($c-ebony-clay, $info-color, 90%);
    color: $info-color;
  }

  &.warning {
    background-color: mix($c-ebony-clay, $warning-color, 90%);
    color: $warning-color;
  }

  margin-bottom: 16px;
}

.wrapper {
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;

    .button {
      height: 75px;
      flex-grow: 1;
    }
  }
}
