@import 'variables';

.wrapper {
	overflow: hidden;
	padding: 1rem;
  border-radius: 12px;
	background-color: $c-mirage;

  h4, p {
    margin: 0;
  }

  .body {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .875rem;

    .dappInfo {
      display: flex;
      align-items: center;
      gap: .625rem;
      flex: 1.2;

      .dappIcon {
        width: 2.25rem;
        height: 2.25rem;
        padding: .5rem;
        border-radius: 12px;
        background-color: rgba($c-titan-white, 0.05);
      }
    }

    .typeAndTimestamp {
      display: flex;
      align-items: center;
      flex: 2;

      .type, .timestamp {
        flex: 1;
      }
    }

    .expandIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 12px;
      background-color: rgba($c-titan-white, 0.05);

      svg {
        width: .75rem;
        height: .75rem;
      }
    }
  }

  .advanced {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding-top: .9375rem;

    .advancedItem {
      .advancedTitle {
        margin-bottom: .3125rem;
        font-size: 1rem;
        font-weight: 400;
      }

      .advancedText {
        color: $c-scampi; 
        font-size: .875rem;
        font-weight: 300;
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (max-width: 50rem) {
  .wrapper {    
    padding: .75rem;
    
    .body {
      align-items: stretch;
      font-size: .75rem;

      .dappInfo {
        flex-direction: column;
        align-items: flex-start;
      }

      .typeAndTimestamp {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .type, .timestamp {
          flex: unset;
        }

        .type {
          color: $c-heliotrope;
          font-size: .875rem;
        }
      }

      .expandIcon {
        margin-left: .625rem;
      }
    }
    .advanced {
      .advancedItem {
        .advancedTitle {
          font-size: .75rem;
        }
        .advancedText {
          font-size: .6563rem;
        }
      }
    }
  }
}