@import 'variables.scss';

.transferButton {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  padding-top: 15px;
  gap: 40px;
  overflow-y: auto;

  .confirmations {
    padding-left: 20px;
  }

  .validationError {
    color: $danger-color;
    text-align: center;
    font-size: 14px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }

  .amountLabel {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $c-titan-white;
  }

  .separator {
    flex-grow: 1;
    @include flex-center-center;
    font-size: 40px;
    opacity: 0.5;
  }

  .gasTankMsg {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: mix($c-ebony-clay, $warning-color, 90%);
    color: $warning-color;
    padding: 15px;
    font-size: 14px;
    border-radius: 12px;
  }

  .gasTankConvertMsg {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: mix($c-ebony-clay, $c-turquoise, 90%);
    color: $c-turquoise;
    padding: 15px;
    font-size: 14px;
    border-radius: 12px;
  }

  .recipientField {
    position: relative;
    display: flex;

    .recipientInput {
      width: 100%;

      div:last-child {
        opacity: 1;
        padding-left: 20px;
      }

      input {
        padding-right: 150px;
        font-size: 15px;
      }
    }

    .dropdown {
      position: absolute;
      right: 0;
    }

    .udomainsLogo {
      position: absolute;
      top: 18px;
      right: 120px;
      height: 25px;
      width: 25px;
      background-image: url('/resources/ud-logo-inactive.png');
    }

    .udomainsLogoActive {
      background-image: url('/resources/ud-logo-active.png') !important;  
    }

    .ensLogo {
      position: absolute;
      top: 18px;
      right: 80px;
      height: 25px;
      width: 25px;
      background-image: url('/resources/ens-logo-inactive.png');
    }

    .ensLogoActive {
      background-image: url('/resources/ens-logo-active.png') !important;  
    }
  }

  .binanceAddressWarning {
    margin: 0;
    
    .checkBoxLabel {
      vertical-align: middle;
      margin-top: 3px;
    }
    a {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    gap: 30px;
    padding: 20px;

    .recipientField {
      flex-direction: column;
      gap: 10px;

      .dropdown {
        position: relative;
        border-radius: 12px!important;
      }

      .recipientInput {
        input {
          padding-right: 80px;
        }
      }

      .udomainsLogo {
        position: absolute;
        top: 18px;
        right: 50px;
        height: 25px;
        width: 25px;
      }

      .ensLogo {
        position: absolute;
        top: 18px;
        right: 15px;
        height: 25px;
        width: 25px;
      }
    }
  }
}