@import 'variables.scss';

.transferButton {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  padding-top: 15px;
  gap: 40px;
  overflow-y: auto;

  .confirmations {
    padding-left: 20px;
  }

  .validationError {
    color: $danger-color;
    text-align: center;
    font-size: 14px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }

  .amountLabel {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $c-titan-white;
  }

  .separator {
    flex-grow: 1;
    @include flex-center-center;
    font-size: 40px;
    opacity: 0.5;
  }

  .gasTankConvertMsg {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: mix($c-ebony-clay, $c-turquoise, 90%);
    color: $c-turquoise;
    padding: 15px;
    font-size: 14px;
    border-radius: 12px;
  }

  .binanceAddressWarning {
    margin: 0;
    
    .checkBoxLabel {
      vertical-align: middle;
      margin-top: 3px;
    }
    a {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .wrapper {
    gap: 30px;
    padding: 20px;
  }
}