@import 'variables.scss';

$badge-size-width: 64px;
$badge-size-height: 90px;

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 12px;
    margin-bottom: 0; // Badges svg already have visual margin

    a {
        color: initial !important;
    }

    .badge {
        position: relative;
        height: $badge-size-height;
        width: $badge-size-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        user-select: none;
        opacity: 0.3;
        transition: transform 0.1s ease-out;

        .multiplier {
            font-size: 12px;
            font-weight: bold;
            color: $c-titan-white;
        }

        .iconSvg {
            background-size: contain;
            width: 98px;
            height: 112px;
            display: block;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            &.beta-tester {
                background-image: url('/resources/rewards/reward-beta-tester.svg');
            }

            &.lobsters {
                background-image: url('/resources/rewards/reward-lobsters.svg');
            }

            &.powerUserMultiplier {
                background-image: url('/resources/rewards/reward-powerUserMultiplier.svg');
            }

            &.cryptoTesters {
                background-image: url('/resources/rewards/reward-cryptoTesters.svg');
            }

            &.gasTankNft {
                background-image: url('/resources/rewards/reward-gasTankNft.svg');
            }

        }

        &.badgeActive {
            opacity: 1;

            &:hover {
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                transform: scale(1.05);
            }
        }
    }
}