@import 'variables';

.panel {
  padding: 0;
}

.tabs {
  display: flex;

  &Button {
    font-family: 'Poppins', sans-serif;
    flex: 1;
    padding: 15px;
    font-size: 25px;
    color: $c-scampi;
    background-color: transparent;
    border: none;
    font-weight: 400;
    border-bottom: 2px solid $c-fiord;
    cursor: pointer;
    
    &:first-child {
      border-radius: 12px 0 0 0;
      border-right: 3px solid $c-mirage;
    }
    
    &:last-child {
      border-radius: 0 12px 0 0;
      border-left: 3px solid $c-mirage;
    }
    transition: .3s ease-in-out all;
    
    &.active {
      color: $c-titan-white;
      border-bottom-color: $c-turquoise;
      &:first-child {
          border-right: 1px solid rgba($c-scampi, .4);
      }

      &:last-child {
          border-left: 1px solid rgba($c-scampi, .4);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .tabs {
    &Button {
        font-size: 22px;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .tabs {
    &Button {
        font-size: 16px;
    }
  }
}