@import 'variables.scss';

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $info-color;

    .icon { 
        width: 6rem;
        height: 6rem;
    }

    .text { 
        font-size: 1.375rem;
    }
}