@import 'variables.scss';

#collectibles-placeholder {

    .placeholder-text {
        z-index: 49;
        @include absolute-full-size;
        @include flex-center-center;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .placeholder-overlay {
        background-color: rgba(0, 0, 0, 0.2);
        filter: blur(1em);
    }

    #collectibles {
        padding: 2em 0;
        filter: blur(1em);
    }
}

@mixin hide-collectible($count) {
    @for $child from (5 - $count) + 1 through 5 {
        .collectible:nth-child(#{$child}) {
            display: none;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #collectibles-placeholder {
        padding: 0;

        #collectibles {
           @include hide-collectible(4)
        }
    }
}

@media screen and (max-width: 1750px) {
    #collectibles-placeholder {
        #collectibles {
           @include hide-collectible(1)
        }
    }
}

@media screen and (max-width: 1480px) {
    #collectibles-placeholder {
        #collectibles {
           @include hide-collectible(2)
        }
    }
}

@media screen and (max-width: 1060px) {
    #collectibles-placeholder {
        #collectibles {
           @include hide-collectible(3)
        }
    }
}
