@import 'variables.scss';
@import 'variables.scss';

$collectible-details-height: 70px;
$collectible-size: 250px;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .paginationControls {
        display: flex;
        align-items: center;
        align-self: flex-end;
        gap: 1em;
        font-size: 15px;
        font-weight: 500;

        .paginationCurrent {
            span {
                opacity: 0.5;
            }
        }
    }

    .collectiblesWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2.5vh 1.5vh;
        justify-items: center;

        .collectible {
            position: relative;
            height: calc(#{$collectible-size} + #{$collectible-details-height});
            width: $collectible-size;
            border-radius: 12px;
            overflow: hidden;
            transition: all 0.1s ease-in-out;

            .artwork {
                z-index: 48;
                height: 250px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }

            .info {
                z-index: 49;
                height: $collectible-details-height;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 5px;
                padding: 0 20px;
                background-color: #1e2033;
                overflow: hidden;

                .collection {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #ebecff;

                    .collectionIcon {
                        flex: 0 0 auto;
                        height: 18px;
                        width: 18px;
                        background-size: cover;
                        background-position: center center;
                        border-radius: 100%;
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    .collectionName {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .details {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    .name {
                        flex: 0 1 auto;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: 15px;
                        color: #ebecff;
                    }

                    .value {
                        flex: 0 0 auto;
                        font-size: 12px;
                    }
                }
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: $box-shadow;
            }
        }
    }
}
// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .collectibles {
        .panelHeading {
            top: -20px !important;
            height: auto !important;
            flex-direction: column;
            justify-content: center !important;
            gap: 0.5em;
            padding: 1em 0;

            .title {
                align-self: flex-start;
            }

            .paginationControls {
                align-self: flex-end !important;
            }
        }
    }
}

.wrapper {

    .placeholderText {
        z-index: 49;
        @include absolute-full-size;
        @include flex-center-center;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .placeholderOverlay {
        background-color: rgba(0, 0, 0, 0.2);
        filter: blur(1em);
    }

    .collectibles {
        padding: 2em 0;
        filter: blur(1em);
    }
}

@mixin hide-collectible($count) {
    @for $child from (5 - $count) + 1 through 5 {
        .collectible:nth-child(#{$child}) {
            display: none;
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .collectiblesPlaceholder {
        padding: 0;

        .collectibles {
           @include hide-collectible(4)
        }
    }
}

@media screen and (max-width: 1750px) {
    .collectiblesPlaceholder {
        .collectibles {
           @include hide-collectible(1)
        }
    }
}

@media screen and (max-width: 1480px) {
    .collectiblesPlaceholder {
        .collectibles {
           @include hide-collectible(2)
        }
    }
}

@media screen and (max-width: 1060px) {
    .collectiblesPlaceholder {
        .collectibles {
           @include hide-collectible(3)
        }
    }
}
