@import 'variables.scss';

.placeholderOverlay {
    z-index: 4;
    @include absolute-full-size;
    @include flex-center-center;

    .placeholderText {
        text-align: center;
        font-size: 22px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.blur {
    filter: blur(15px);
    opacity: .6;
    padding-bottom: 50px;
}