#collectibles-placeholder {
    overflow: hidden;
    padding: 40px;

    .placeholder-overlay {
        background-color: rgba(0, 0, 0, 0.2);
    }

    #collectibles {
        filter: blur(20px);
    }
}