@import 'variables.scss';

.wrapper {
    .content {
        .timer {
            justify-content: center;
            margin-bottom: 1.25rem;
        }
        .timerResetMsg {
            text-align: center;
            margin-bottom: 2.1875rem;
            font-size: 1.25rem;
            color: $danger-color;
        }
    
        .imgWrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 2.6875rem;
            
            img {
                padding: .5rem;
                background-color: $c-white;
                width: 9.75rem;
                border-radius: .75rem;
            }
        }
    
        .imgMsg {
            text-align: center;
            margin-bottom: 4.3125rem;
    
            div { 
                color: $c-turquoise;
            }
    
            .clickHere {
                cursor: pointer;
                color: rgba($c-titan-white, .8);
                font-size: .875rem;
    
                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    color: $c-heliotrope;
                    font-family: 'Poppins';
                }
            }
        
            .clickHere:hover {
                opacity: 1;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 40rem;
            
            h4 {
                margin: 0;
                margin-bottom: .625rem;
                font-size: 1rem;
                font-weight: 400;
            }
            
    
            .emailWrapper {
                .emailBody {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .625rem;
        
                    & > button, div {
                        flex: 0 1 50%!important;
                    }
                }
            }
    
            button { 
                width: 100%;
                flex: 0 1 100% !important;
            }
        }
    }
}

@include lg-breakpoint {
    .wrapper {
        max-height: 90vh;
        
        .content {
            .imgWrapper {
                margin-bottom: 1.25rem;
                img {
                    width: 8.75rem;
                }
            }
    
            .imgMsg {
                margin-bottom: 2.625rem;
            }
    
            form {
                .emailWrapper {
                    .emailBody {
                        justify-content: flex-start;
                        flex-direction: column;
    
                        & > button, div {
                            flex: unset!important;
                        }
    
                        .emailInput {
                            width: 100%;
    
                            input {
                                height: 3.125rem;
                            }
                        }
    
                        button {
                            height: 3.125rem;
                        }
                    }
                }
                .authenticatorWrapper {
                    & > div {
                        flex: unset!important;
                    }
                    input {
                        height: 3.125rem;
                    }
                }
            }
        }
        
        .button { 
            height: 3.125rem!important;
        }
    }

}