@import 'variables.scss';

#otp-auth {
    .timer-reset-msg {
        text-align: center;
        margin-bottom: 35px;
        font-size: 20px;
        color: red;
        font-weight: bold;
    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        
        img {
            width: 180px;
        }
    }

    .img-msg {
        text-align: center;
        margin-top: 10px;

        div { 
            color: $c-turquoise;
        }

        .click-here {
            cursor: pointer;
            opacity: 0.7;
        }
    
        .click-here:hover {
            opacity: 1;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        div {
            width: 100%;

            h4:first-child {
                margin-top: 10px;
            }
        }

        .input-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px; 
        }
        
        button { 
            width: 100%;
            flex: 0 1 100% !important;
        }
    }
}