@import 'variables.scss';

.wrapper {
    .content {
        .timer {
            justify-content: center;
            margin-bottom: 20px;
        }
        .timerResetMsg {
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
            color: $danger-color;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            h4 {
                margin: 0;
                margin-bottom: 15px;
                font-size: 16px;
                font-weight: 400;
            }
            
            .qrCode { 
                .imgWrapper {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    
                    img {
                        padding: 8px;
                        background-color: $c-white;
                        width: 156px;
                        border-radius: 12px;
                    }
                }
                .downloadQrCodeButton {
                    display: block;
                    color: $warning-color;
                    text-align: center;
                    width: 100%;
                }
            
                .imgMsg {
                    text-align: center;
            
                    div { 
                        color: $c-turquoise;
                    }
            
                    .clickHere {
                        display: inline;
                        cursor: pointer;
                        color: rgba($c-titan-white, .8);
                        font-size: 14px;
            
                        button, a {
                            width: auto;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            color: $c-heliotrope;
                            font-family: inherit;
                        }
                    }
                
                    .clickHere:hover {
                        opacity: 1;
                    }
                }
            }
    
            .emailWrapper {
                .emailBody {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
        
                    & > button, div {
                        flex: 0 1 50%!important;
                    }
                }
            }
    
            button { 
                width: 100%;
                flex: 0 1 100% !important;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        max-height: 90vh;
        
        .content {
            form {
                gap: 20px;

                .qrCode {
                    .imgWrapper {
                        margin-bottom: 10px;

                        img {
                            width: 140px;
                        }
                    }
                }

                .emailWrapper {
                    .emailBody {
                        justify-content: flex-start;
                        flex-direction: column;
    
                        & > button, div {
                            flex: unset!important;
                        }
    
                        .emailInput {
                            width: 100%;
                        }
                    }
                }
                .authenticatorWrapper {
                    & > div {
                        flex: unset!important;
                    }
                }
            }
        }
    }
}