@import 'variables.scss';


    .blur {
        filter: blur(15px);
    }

    .placeholderOverlay {
        font-size: 18px;
        color: $c-titan-white;
        z-index: 4;
        @include absolute-full-size;
        @include flex-center-center;
        flex-direction: column;
        gap: 20px;

        svg {
            g {
                opacity: 1;
            }
        }
    }

    .addToken {
        @include flex-center-center;
        flex-direction: column;
        gap: 10px;

        &Button {
            font-weight: 400;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }


@media screen and (max-width: $mobile-breakpoint-max-width) {
    // .wrapper {
    //     width: 100%;
    //     gap: 20px;
    //     min-height: 400px;

    .placeholderOverlay {
        width: 100%;
        padding: 10px;
    }
    // }
}