@import 'variables.scss';

.radios-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &.row {
        flex-direction: row;
    }

    .radio-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;

        .radio {
            flex: 0 0 auto;
            position: relative;
            height: 25px;
            width: 25px;
            border-radius: 100%;
            box-shadow: 0 0 0 3px #7B7597 inset;
            overflow: hidden;
        }

        label {
            width: 100%;
            font-size: 17px;
            font-weight: 500;
        }

        &.disabled {
            opacity: 0.5;
        }

        &.active {
            pointer-events: none;

            .radio::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                border: 3px solid #7B7597;
                background-color: $primary-accent-color;
                box-sizing: border-box;
            }
        }

        &:not(.disabled):hover {
            cursor: pointer;

            .radio {
                background-color: #7B7597;
            }

            label {
                cursor: pointer;
            }
        }
    }
}