.wrapper {  
    // position: relative;
    width: 510px;

    .confettiAnimation {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 700px;
    }

    :global(.title-wrapper) {
        height: 34px !important;
        width: 100%;
        justify-content: center;
    }

    .innerContent {
        padding-bottom: 0 40px;

        .reward {
            margin: auto;
            width: 0;
        }

        .logo {
            margin: auto;
            width: 225px;
            height: 230px;
            background-image: url('/resources/wallet-token-congrats.png') !important;
        }
    }
    
    :global(.buttons) {
        button {
            flex: 0 1 100% !important;
        }
    }    
}
