.text-input {
    position: relative;
}

.text-input.copy input {
    padding-right: 2.5em;
}

.text-input.copy input,
.text-input.copy .icon {
    cursor: pointer;
}

.text-input input {
    border-bottom: 2px solid #b3c4e6;
    width: 100%;
    color: white;
    font-size: 1em;
    padding: 0.5em;
}

.text-input .icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}