@import 'variables.scss';

$input-height: 60px;

.text-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-weight: 500;
    }

    .text-input-container {
        position: relative;

        input {
            height: $input-height;
            width: 100%;
            color: white;
            font-family: 'Open Sans';
            font-size: 1.2em;
            padding: 1em;
            border: none;
            text-overflow: ellipsis;
            outline: none;
            background-color: $input-background-color;
            transition: all 0.1s ease-in-out;

            &:focus {
                box-shadow: 0 2px 0 0 $tertiary-accent-color;
            }
        }

        .button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 3.5em;
            @include flex-center-center;
            color: white;
            cursor: pointer;
            user-select: none;
            transition: $basic-transition;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .info {
        font-size: 15px;
        padding: 0 0.4rem;
        opacity: 0.5;
    }

    &.copy {
        .icon {
            cursor: pointer;
        }

        input {
            cursor: text;
            padding-right: 2.5em;
            font-family: monospace;
            font-size: 1.5em;

            &:disabled {
                opacity: 1 !important;
            }
        }
    }

    &.small {
        input {
            height: 50px;
        }
    }
}
