@import 'variables.scss';

$input-height: 60px;

.textInput {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-weight: 500;
    }

    &Container {
        position: relative;
        border-radius: 12px;
        overflow: hidden;

        &.hasIcon {
            .textInputContainerIcon {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                background-color: $c-mirage-dark;
                align-items: center;
                justify-content: center;
                width: 48px;
                font-size: 24px;
                color: $c-titan-white;
            }

            input {
                padding-left: 48px;
            }
        }
        
        .button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 3.5em;
            @include flex-center-center;
            color: $c-titan-white;
            cursor: pointer;
            user-select: none;
            transition: $basic-transition;
            border-bottom: 2px solid transparent;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        input {
            height: $input-height;
            width: 100%;
            color: $c-scampi;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            padding: 18px;
            padding-left: 20px;
            opacity: 1;
            border: none;
            text-overflow: ellipsis;
            outline: none;
            background-color: $c-mirage;
            transition: all 0.1s ease-in-out;
            border-bottom: 2px solid transparent;

            &:focus {
                border-bottom-color: $c-titan-white;
            }

            &:focus ~ .button {
                border-bottom-color: $c-titan-white;
            }
        }
    }

    .info {
        font-size: 15px;
        padding: 0 0.4rem;
        opacity: 0.5;
    }

    &.copy {
        .icon {
            cursor: pointer;
        }

        input {
            cursor: text;
            padding-right: 2.5em;
            font-family: 'monospace';
            font-size: 1.5em;

            &:disabled {
                opacity: 1 !important;
            }
        }
    }

    &.small {
        input {
            height: 50px;
        }
    }
}
