@import 'variables';

.modal {
  padding-top: 15px;
  max-width: 500px;
  width: 100%;
  min-height: unset;
  height: 600px!important;
}

.closeButton {
  flex: 0 1 100%!important;
}

.body {
  padding-top: 40px;
}