@import '../../../variables.scss';

#topbar {
    position: sticky;
    top: 0;
    z-index: 50;
    padding: ($layout-spacing / 2) $layout-spacing;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    background-color: $background-color;
    box-shadow: 0 5px ($layout-spacing / 4) 5px $background-color;

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;
        max-width: $max-container-width;
      }

    select {
        height: 50px;
    }

    #networkSelector {
        width: 150px;
    }
}

#add-account {
    padding: 1em;

    button {
        width: 100%;
    }
}

// @media screen and (max-width: 1400px) {
//     #topbar {
//         left: $sidebar-mobile-width;
//     }
// }