@import 'variables.scss';

.wrapper {
    position: sticky;
    z-index: 48;
    padding: 45px $layout-spacing 40px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ebecff;
    min-height: 96px;

    .dappMenu {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transition: opacity 0.1s ease-in-out;
    }

    .dappMenu {
        height: 40px;

        .dappMenuBtns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            max-width: 169px;
            gap: 4px;

            .ambireMenuBtn {
                margin-right: 20px;
            }

            .dappData {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                a {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $secondary-accent-color;
                }
                .dappLogo {     
                    padding: 4px;
                    width: auto;
                    max-width: 100%;
                    min-width: 50px;
                    object-fit: contain;
                    align-self: flex-end;
                    flex-shrink: 0;
                    height: 100%;
                    border: 1px solid $secondary-accent-color;
                }
                .dappExitBtn {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    padding: 2px;
                    justify-content: space-between;
                    font-size: 15px;
                    line-height: 15px;
                }
            }            
            
            .buttonComponent {
                flex-shrink: 0;
                height: 100%;
                width: 50px;          
            }
        }
    }
    
    &.visualEnv {
        margin-top: 12px;
        .envBar
        {
            color: #ebecff;
            text-align: center;
            font-size: 10px;
            line-height: 11px;
            font-weight: bold;
            height: 12px;
            width: 100%;
            position: absolute;
            top: -12px;
            left: 0;
            display: block;

        }

        &.visualEnvdev {
            .envBar{
                background: repeating-linear-gradient(
                    -45deg,
                    #0066ff 0px,
                    #0066ff 30px,
                    #0048b6 30px,
                    #004cbd 40px
                );
            }
        }

        &.visualEnvstaging {
            .envBar{
                background: repeating-linear-gradient(
                    -45deg,
                    #e69b00 0px,
                    #e69b00 30px,
                    #c08b00 30px,
                    #c08b00 40px
                );
            }
        }
    }

    .mobileMenu {
        display: none;
        align-items: center;
        gap: 1em;
        padding: 0 20px;

        .logo {
            width: 100px;
        }

        .mobileMenuRight {
            display: flex;
            gap: 15px;
            align-items: center;

            .icon {
                height: 25px;
                font-size: 2em;
                width: 25px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 100%;
            }
    
            .menuButton {
                @include flex-center-center;
                font-size: 30px;
            }
        }
    }

    .container {        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        max-width: $max-container-width;

        .privacyAndRewards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    &.dappMode {
        padding: 20px;
        align-items: center;

        .mobileMenu {
            padding: 0;
            width: auto;
        }
    }
}

@media screen and (max-width: $sidebar-small-breakpoint) {
    .wrapper {
        .dappMenu {
            height: 35px;

            .dappMenuBtns {
                width: 140px;
                .buttonComponent {
                    width: 35px;
                }
                .dappData {
                    .dappLogo {
                        min-width: 35px;
                    }
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        z-index: 50;
        box-shadow: 0 4px 10px #00000073;
        border: 1px solid #3E436BCC;
        padding: 20px 0;
        background-color: $c-fiord;

        .mobileMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .container {
            position: absolute;
            flex-direction: column;
            align-items: stretch;
            top: 93px;
            left: 0;
            right: 0;
            gap: 10px;
            display: none;
            padding: 10px 10px;
            box-shadow: $box-shadow;
            background-color: $c-fiord;

            .privacyAndRewards {
                display: flex;
                justify-content: flex-end;
                gap: 20px;
            }

            .dropdown {
                width: 100%;

                .menu {
                    width: 100%;
                }
            }

            .select {
                width: 100%;
            }

            &.open {
                display: flex;
            }
        }

        &.dappMode {
            .dappMenu {
                .ambireMenuBtn {
                    display: none;
                }
            }
        }
    }
}
