@import 'variables.scss';

.chooseSigners h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.loginSignupWrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    background: url('/resources/hero-darkened.svg');
    background-size: auto 800px;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 2em 0;
    overflow: hidden;

    button, input {
        font-size: 1em;
        border: 0px;
        background: none; /* #282c34; */
        padding: 1em;
        box-sizing: border-box;
        font-family: 'Open Sans';
        transition: all 0.1s ease-in-out;
    }

    button {
        background-color: white;
    }
    button, input[type=submit] {
        cursor: pointer;
    }

    button:not([disabled]):active, input[type=submit]:not([disabled]):active {
        transform: scale(0.95);
    }

    input:focus {
        outline: 0px;
    }

    button {
        opacity: 0.8;
    }

    button:not([disabled]):hover {
        opacity: 1;
    }

    input:disabled, button:disabled {
        opacity: 0.5 !important;
        cursor: default;
    }

    input[type=submit] {
        width: 100%;
        /*background-color: rgb(255, 209, 0);*/
        background-color: rgb(128, 255, 219);
        opacity: 0.8;
        border: 0px;
        font-size: 1.5em;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.6em;

        &:disabled {
            opacity: 0.5;
        }

        &:not([disabled]):hover {
            opacity: 1.0;
        }
    }

    input {
        margin: 2em 0px;
        border-bottom: 2px solid #b3c4e6;
        width: 100%;
        color: white;
        font-size: 1.1em;

        &:not([type=submit]):focus {
            border-bottom: 3px solid #dae6fd;
        }
    }

    #logo {
        background-image: url('/resources/logo.png');
        width: 35%;
        max-width: 400px;
        margin: 0px auto;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #plugin-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        font-size: 1.2em;

        .name {
            font-size: 1.7em;
        }
    }

    #signersToChoose {
        margin: 0px auto;
        display: block;
        line-height: 2em;
        font-size: 1.5em;
        color: #ccc;
        list-style: none;
        font-family: 'monospace';
        width: 500px;
        cursor: pointer;

        li:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
        }
    }

    #loginEmail {
        flex: 0.9;
    }

    #loginEmail form > *, #loginEmail button,
    #addAccount form > *, #addAccount button {
        /* TODO */
        display: block;
    }

    #addAccount {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 800px;
        /* TODO some sort of vertical alignment */
        margin: 0em auto 0em;

        h3 {
            margin-top: 0px;
            margin-bottom: 2em;
            text-align: center;
            font-size: 1.5em;
            font-weight: 300;
        }

        input[type=submit]:hover {
            opacity: 1.0;
        }

        #loginSeparator {
            flex: 0.6;
            text-align: center;
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: 300;
            height: 500px;

            .verticalLine {
                width: 2px;
                background-color: #c3d4f6;
                height: 45%;
                margin: 10px auto;
            }
        }

        #loginOthers {
            flex: 0.9;

            button {
                width: 100%;
                box-sizing: border-box;
                text-align: left;
                margin: 1.5em 0px;
                border: 0px;
                color: black;
                background-color: white;
                line-height: 25px;
            }

            .icon {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: contain;
                float: left;
            }

            .accountLoader {
                width: 50px;
                display: block;
                margin: 4em auto;
            }

            .error {
                max-width: 300px;
                font-size: 1.5em;
                font-weight: 600;
                position: relative;
            }
        }
    }

    .checkbox-label {
        display: block;
    }

    .passwordHolder {
        margin: 2em 0;
        position: relative;
        input {
            margin: 0;
        }
    }

    .password-strength {
        position: absolute;
        width: 100%;
        //margin-top: -4px;
        bottom: 6px;
        height: 2px;
        background: $input-background-color-darker;

        .password-strength-progress {
            background: $danger-color;
            height: 2px;
            width: 0;

            &.password-strength-progress-0 {
                width: 10%;
            }

            &.password-strength-progress-0 {
                width: 10%;
                background: $danger-color;
            }

            &.password-strength-progress-1 {
                width: 20%;
                background: $danger-color;
            }

            &.password-strength-progress-2 {
                width: 40%;
                background: $warning-color;
            }

            &.password-strength-progress-3 {
                width: 60%;
                background: mix($warning-color, $primary-accent-color, 40%);
            }

            &.password-strength-progress-4 {
                width: 80%;
                background: mix($warning-color, $primary-accent-color, 20%);
            }

            &.password-strength-progress-5 {
                width: 100%;
                background: $primary-accent-color;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .loginSignupWrapper {
        gap: 0;
        padding: 0 1em;

        #logo {
            width: 75%;
        }

        #addAccount {
            flex-direction: column;
            gap: 2em;

            #loginSeparator {
                display: flex;
                align-items: center;

                .verticalLine {
                    height: 2px;
                    width: 30%;
                }
            }
        }
    }
}
