@import 'variables.scss';

.loginSignupWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background: url('/resources/login-bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 40px 0;
    overflow: hidden;

    h3 {
        font-size: 25px;
        text-align: left;
        color: #ebecff;
        font-weight: 400;
        margin-bottom: 43px;
    }

    button, input {
        font-size: 16px;
        border: 0px;
        background: none; /* #282c34; */
        padding: 1em;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        transition: all 0.1s ease-in-out;
    }

    button {
        background-color: white;
    }

    button, input[type=submit] {
        cursor: pointer;
    }

    button:not([disabled]):active, input[type=submit]:not([disabled]):active {
        transform: scale(0.95);
    }

    input:focus {
        outline: 0px;
    }

    button {
        opacity: 0.8;
    }

    button:not([disabled]):hover {
        opacity: 1;
    }

    input:disabled, button:disabled {
        opacity: 0.5 !important;
        cursor: default;
    }

    input[type=submit] {
        height: 60px;
        width: 100%;
        border: none;
        background: transparent linear-gradient(90deg, #27E8A7 0%, #6000FF 100%) 0% 0% no-repeat padding-box;
        border-radius: 12px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        margin-bottom: 30px;
    }

    input {
        color: #6770b3;
        margin: 2em 0px;
        border-bottom: 2px solid #ebecff;
        width: 100%;
        font-size: 16px;

        &:not([type=submit]):focus {
            border-bottom: 3px solid #dae6fd;
        }
    }

    .logo {
        background-image: url('/resources/logo.svg');
        width: 100%;
        max-width: 252px;
        margin: 0px auto;
        height: 110px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .pluginInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        font-size: 1.2em;

        .name {
            font-size: 1.7em;
        }
    } 

    .signersToChoose {
        margin: 0px auto;
        display: block;
        line-height: 2em;
        font-size: 1.5em;
        color: #ccc;
        list-style: none;
        font-family: 'monospace';
        width: 500px;
        cursor: pointer;

        li:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
        }
    }

    .loginEmail {
        flex: 0.9;
    }

    .loginEmail form > :not(label), .loginEmail button,
    .addAccount form > :not(label), .addAccount button {
        /* TODO */
        display: block;
    }

    .addAccount {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 800px;
        /* TODO some sort of vertical alignment */
        margin: 0em auto 0em;

        input[type=submit]:hover {
            opacity: 1.0;
        }

        .loginSeparator {
            height: 500px;
            width: 2px;
            background-color: #6770b3;
            margin: 0 96px;
            margin-top: 20px;
        }

        .loginOthers {
            flex: 0.9;

            button {
                position: relative;
                top: 0;
                width: 100%;
                border: 1px solid var(--unnamed-color-6770b3);
                background: #1E2033;
                border: 1px solid #6770B3;
                border-radius: 12px;
                color: #6770b3;
                height: 60px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;
                margin-bottom: 20px;
                transition: .3s ease-out all;

                svg {
                    color: #6770b3;
                    transition: .3s ease-out all;
                }

                &:hover {
                    top: -4px;
                    color: #fff;
                    svg {
                        color: #fff;
                    }

                    svg.email {
                        color: #27E8A7;
                    }
                    svg.metamask {
                        color: #EF801B;

                        :global(#decoration) {
                            color: #fff;
                        }
                    }

                    svg.gridplus {
                        color: #fff;
                        :global(#logo) {
                            color: #fff;
                        }
                        :global(#decoration) {
                            color: #47AEE9;
                        }
                    }
                }
            }

            .icon {
                margin-right: 10px;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .accountLoader {
                width: 50px;
                display: block;
                margin: 4em auto;
            }

            .error {
                max-width: 300px;
                font-size: 1em;
                font-weight: 300;
                position: relative;
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .loginSignupWrapper {
        gap: 0;
        padding: 0 1em;

        h3 {
            text-align: center;
        }

        .logo {
            width: 75%;
        }

        .addAccount {
            flex-direction: column;
            gap: 2em;

            .loginSeparator {
                margin: 0;
                width: 100%;
                height: 2px;
            }
        }
    }
}