@import 'variables';

.modal {
  padding-top: .9375rem;
  max-width: 31.25rem;
  width: 100%;
  min-height: unset;
  height: 37.5rem!important;
}

.closeButton {
  flex: 0 1 100%!important;
}

.body {
  padding-top: 2.5rem;
}