@import 'variables.scss';

#history {
    .tx-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
        padding: 1em 1.5em;

        &:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.2);
        }

        .summary {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1em;

            .network,
            .asset {
                display: flex;
                align-items: center;
                gap: 7px;
                font-weight: 500;

                .icon {
                    flex: 0 0 auto;
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: rgba(255, 255, 255, 0.1);
                }

                .name {
                    flex: 0 0 auto;
                }
            }

            .network {
                font-weight: bold;
                font-size: 17px;

                .icon {
                    height: 17px;
                    width: 17px;
                }
            }

            .path {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 0.5em;

                &:nth-child(3) {
                    align-items: flex-end;
                }

                .amount {
                    display: flex;
                    gap: 0.5em;
                    opacity: 0.8;
                }
            }

            svg {
                font-size: 20px;
                flex: 0 0 auto;
                opacity: 0.5;
            }
        }

        .details {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1em;
            flex-wrap: wrap-reverse;

            a {
                opacity: 0.5;

                svg {
                    display: inline-block;
                    vertical-align: -2px;
                }
            }

            .status {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
                flex-wrap: wrap;

                &.error {
                    color: $warning-color;
                }

                &.pending {
                    color: $tertiary-accent-color;
                }

                &.confirmed {
                    color: $primary-accent-color;
                }

                .loading {
                    width: auto;

                    .icon {
                        display: flex;

                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
                
                span {
                    opacity: 0.8;
                }

                svg {
                    font-size: 20px;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    #history {
        .tx-status {
            flex-direction: column;
            gap: 2em;

            .summary {
                flex-direction: column;
                align-items: flex-start;
                gap: 1em;

                .path {
                    &:nth-child(3) {
                        align-items: inherit;
                    }
                }

                svg {
                    transform: rotate(90deg);
                }
            }

            .details {
                flex-direction: column-reverse;
            }
        }
    }
}