@import 'variables.scss';

$toggle-height: 14px;
$slider-margin: 8px;
$slider-size: calc(#{$toggle-height} - #{$slider-margin});

.toggle {
    flex: 0 0 auto;
    position: relative;
    display: inline-block;
    width: 35px;
    height: $toggle-height;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $toggle-height;
        background-color: #6770b3;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 5px 0px 5px 2px rgba(#000, 0.2);
            left: 0;
            border-radius: 50%;
            background-color: #6770b3;
            transition: .4s;
        }
    }

    input:checked + .slider {
        background-color: #27E8A761;
        box-shadow: -5px 0px 5px 2px rgba(#000, 0.2);
    }

    input:checked + .slider:before {
        left: calc(100% - 20px);// Circle width
        background-color: #27e8a7;
    }
}