@import 'variables.scss';

$toggle-height: 25px;
$slider-margin: 8px;
$slider-size: calc(#{$toggle-height} - #{$slider-margin});

.toggle {
    flex: 0 0 auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: $toggle-height;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $toggle-height;
        background-color: rgba(255, 255, 255, 0.1);
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: $slider-size;
            width: $slider-size;
            top: calc(#{$slider-margin} / 2);
            left: calc(#{$slider-margin} / 2);
            border-radius: 50%;
            background-color: white;
            transition: .4s;
        }
    }

    input:checked + .slider {
        background-color: $secondary-accent-color;
    }

    input:checked + .slider:before {
        transform: translateX(calc(#{$slider-size} + #{$slider-margin}));
    }
}