html {
  background-color: rgb(40, 44, 52);
  min-width: 100%;
  height: 100%;
}
body {
  height: 100%;
  min-width: 100%;
  background-color: rgba(40, 44, 52, 0.8);
  background: url('https://www.ambire.com/hero.svg');
  background-size: auto 800px;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

button, input {
  font-size: 1em;
  border: 0px;
  background: none; /* #282c34; */
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

button, input[type=submit] {
  cursor: pointer;
}

button:active, input[type=submit]:active {
  transform: scale(0.95);
}

input:focus {
  outline: 0px;
}

button {
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}


#addAccount {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  /* TODO some sort of vertical alignment */
  margin: 7em auto 0em;
}

#loginEmailPass form > *, #loginEmailPass button, #addAccount form > *, #addAccount button {
  /* TODO */
  display: block;
}

/* TEMP */
#root {
  height: 100%;
  width: 100%;
  background-color: rgba(40, 44, 52, 0.7);
}

#loginOthers button {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border: 0px;
  color: black;
  background-color: white;
  line-height: 25px;
}
#loginOthers .icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

#loginEmailPass input[type=submit] {
  width: 100%;
  /*background-color: rgb(255, 209, 0);*/
  background-color: rgb(128, 255, 219);
  opacity: 0.8;
  border: 0px;
  font-size: 1.5em;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6em;
}
#addAccount input[type=submit]:hover {
  opacity: 1.0;
}

#loginSeparator {
  flex: 0.6;
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  height: 400px;
}
#loginSeparator .verticalLine {
  width: 2px;
  background-color: #c3d4f6;
  height: 45%;
  margin: 10px auto;
}

#loginEmailPass { flex: 0.9 }
#loginOthers { flex: 0.9; }

#loginOthers button {
  margin: 1.5em 0px;
}

#addAccount h3  {
  margin-top: 0px;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

#loginEmailPass input {
  margin: 2em 0px;
  border-bottom: 2px solid #b3c4e6;
  width: 100%;
  color: white;
  font-size: 1.1em;
}

#loginEmailPass input:not([type=submit]):focus {
  border-bottom: 3px solid #c3d4f6;
}