@import './variables.scss';
@import './transitions.scss';

:root {
  scrollbar-color: #bbb #1c1e24;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1e24;
}

::-webkit-scrollbar-thumb {
  background: #bbb;

  &:hover {
    background: #cfcfcf;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'monospace';
  src: url('./fonts/UbuntuMono/UbuntuMono-Regular.ttf');
}

@font-face {
  font-family: 'monospace';
  font-weight: bold;
  src: url('./fonts/UbuntuMono/UbuntuMono-Bold.ttf');
}

* {
  box-sizing: border-box;
  
  &::-webkit-scrollbar {
    width: 8px;
    background: #1e2033;
  }
  
  &::-webkit-scrollbar-track {
    background: #1e2033;
    border-radius: 13px;
    border: 1px solid #3E436B66;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #898dcb;
    border-radius: 13px;
    max-height: 70px;
  }

  &::-moz-scrollbar-thumb {
    border-radius: 10px;
  }

  scrollbar-width: thin;
  scrollbar-color: #898dcb #1e2033;
}

html {
  min-width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(61,68,106);
  background: transparent linear-gradient(180deg, $c-fiord 0%, $c-ebony-clay 100%) 0% 0% no-repeat padding-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: white;
  }
}

.error {
  color: red;
  text-align: center;
}

.validation-error {
  font-weight: 500;
  color: $danger-color;
  text-align: left;

  svg {
    margin-right: 5px;
  }
}

#root {
  height: 100%;
  position: relative;
}

select {
  border: 0px;
  outline: 0px;
  color: white;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  padding-top: 25px;
  background-color: $panel-background-color;
  box-sizing: border-box;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.align-right{
  margin-left: auto;
}

.mb-1{
  margin-bottom: 4px;
}

.mb-2{
  margin-bottom: 8px;
}

.mb-3{
  margin-bottom: 12px;
}

.mb-4{
  margin-bottom: 16px;
}

.mb-5{
  margin-bottom: 32px;
}

.mb-6{
  margin-bottom: 48px;
}

.mt-2{
  margin-top: 8px;
}

.mt-3{
  margin-top: 12px;
}

.mt-4{
  margin-top: 16px;
}
.mt-5{
  margin-top: 32px;
}

.ms-2 {
  margin-left: 8px;
}

.ms-4 {
  margin-left: 16px;
}

.notification-hollow {
  border-radius: 12px;
  padding: 13px 10px;
  background: mix($primary-accent-color, $panel-background-color, 5%);
  border: 1px solid $primary-accent-color;

  &.warning {
    background-color: #FEF5DB;
    border-left: 7px solid #FFBC00;
    color: #333757;
  }

  &.info {
    background: mix($tertiary-accent-color, $panel-background-color, 5%);
    border: 1px solid $tertiary-accent-color;
    color: $tertiary-accent-color
  }


  &.action {
    cursor: pointer;

    &.warning:hover {
      background: mix($warning-color, $panel-background-color, 10%);
    }
  }
}

.notification-banner {
  display: flex;
  align-items: center;
  gap: 16px;
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .panel {
    gap: 1em;
    padding: 20px;
    padding-top: 20px;
  }
}
