html {
  background-color: rgb(40, 44, 52);
  min-width: 100%;
  height: 100%;
}
body {
  height: 100%;
  min-width: 100%;
  background-color: rgba(40, 44, 52, 0.8);
  background: url('https://www.ambire.com/hero.svg');
  background-size: auto 800px;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
}

button, input {
  color: white;
  font-size: 1em;
  padding: 1em;
  border-radius: 0px;
  background-color: #282c34;
  border: 1px solid #55ffff;
  margin: 1em;
}

button, input[type=submit] {
  cursor: pointer;
}

button:active, input[type=submit]:active {
  transform: scale(0.95);
}

#addAccount {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
}

#loginEmailPass form > *, #loginEmailPass button, #addAccount form > *, #addAccount button {
  /* TODO */
  display: block;
}

/* TEMP */
#root {
  height: 100%;
  width: 100%;
  background-color: rgba(40, 44, 52, 0.6);
}

#addAccount {
  margin: 2em auto;
}

#loginOthers button {
  width: 100%;
  text-align: left;
  border: 0px;
  color: black;
  background-color: white;
  line-height: 25px;
}
#loginOthers .icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

#addAccount input[type=submit] {
  width: 100%;
  background-color: rgb(255, 209, 0);
  opacity: 0.8;
  border: 0px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
#addAccount input[type=submit]:hover {
  opacity: 1.0;
}

