@import './variables.scss';
@import './transitions.scss';

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
    background: theme(scrollbar-background);
  }

  &::-webkit-scrollbar-track {
    background: theme(scrollbar-background);
    border-radius: 13px;
    border: 1px solid $c-fiord;
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme(scrollbar-thumb-background);
    border-radius: 13px;
    max-height: 70px;
  }

  &::-moz-scrollbar-thumb {
    border-radius: 10px;
  }

  scrollbar-width: thin;
  scrollbar-color: theme(scrollbar-thumb-background) theme(scrollbar-background);
}

html {
  min-width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: theme(background-gradient);
  color: theme(text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Ubuntu Mono';
}

::placeholder {
  color:  theme(text-secondary);
  opacity: 1;
}

a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $c-titan-white;
  }
}

.error {
  color: $danger-color;
  font-weight: 400;
  text-align: center;
}

.text-center {
  text-align: center;
}

.error-message {
  padding: 16px;
  border: 1px solid $danger-color;
  background-color: mix($danger-color, $c-mirage, 10%);
  color: $danger-color;
  margin-bottom: 16px;
  border-radius: 12px;
}

.validation-error {
  font-weight: 500;
  color: $danger-color;
  text-align: left;

  svg {
    margin-right: 5px;
  }
}

#root {
  height: 100%;
  position: relative;
}

select {
  border: 0px;
  outline: 0px;
  color: $c-titan-white;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  padding-top: 25px;
  background-color: theme(background-terniary);
  box-sizing: border-box;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.align-right{
  margin-left: auto;
}

.mb-1{
  margin-bottom: 4px;
}

.mb-2{
  margin-bottom: 8px;
}

.mb-3{
  margin-bottom: 12px;
}

.mb-4{
  margin-bottom: 16px;
}

.mb-5{
  margin-bottom: 32px;
}

.mb-6{
  margin-bottom: 48px;
}

.mt-2{
  margin-top: 8px;
}

.mt-3{
  margin-top: 12px;
}

.mt-4{
  margin-top: 16px;
}
.mt-5{
  margin-top: 32px;
}

.ms-2 {
  margin-left: 8px;
}

.ms-4 {
  margin-left: 16px;
}

.notification-hollow {
  border-radius: 12px;
  padding: 13px 10px;
  background: mix($c-turquoise, $c-ebony-clay, 5%);
  border: 1px solid $c-turquoise;
  transition: .3s ease-out opacity;

  &.warning {
    background-color: #FEF5DB;
    border-left: 7px solid #FFBC00;
    color: $c-martinique-light;
  }

  &.success {
    background-color: $c-ebony-clay;
    border-left: 7px solid $c-turquoise;
  }

  &.info {
    background: mix($tertiary-accent-color, $c-ebony-clay, 5%);
    border: 1px solid $tertiary-accent-color;
    color: $tertiary-accent-color
  }


  &.action {
    cursor: pointer;

    &.warning:hover {
      opacity: .8;
    }
  }
}

.notification-banner {
  display: flex;
  align-items: center;
  gap: 16px;
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  .panel {
    gap: 1em;
    padding: 20px;
    padding-top: 20px;
  }
}
