html {
  background-color: rgb(40, 44, 52);
  min-width: 100%;
  height: 100%;
}
body {
  height: 100%;
  min-width: 100%;
  background-color: rgba(40, 44, 52, 0.8);
  background: url('https://www.ambire.com/hero.svg');
  background-size: auto 800px;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
}

button, input {
  font-size: 1em;
  border: 0px;
  background: none; /* #282c34; */
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

button, input[type=submit] {
  cursor: pointer;
}

button:active, input[type=submit]:active {
  transform: scale(0.95);
}

button {
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}


#addAccount {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  /* TODO some sort of vertical alignment */
  margin: 10em auto 0em;
}

#loginEmailPass form > *, #loginEmailPass button, #addAccount form > *, #addAccount button {
  /* TODO */
  display: block;
}

/* TEMP */
#root {
  height: 100%;
  width: 100%;
  background-color: rgba(40, 44, 52, 0.7);
}

#loginOthers button {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border: 0px;
  color: black;
  background-color: white;
  line-height: 25px;
}
#loginOthers .icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

#addAccount input[type=submit] {
  width: 100%;
  background-color: rgb(255, 209, 0);
  opacity: 0.8;
  border: 0px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
#addAccount input[type=submit]:hover {
  opacity: 1.0;
}

#loginSeparator {
  flex: 0.5;
  text-align: center;
}
#loginEmailPass { flex: 1 }
#loginOthers { flex: 0.8; }

#loginOthers button {
  margin: 1.5em 0px;
}

#addAccount input {
  margin: 2em 0px;
  border-bottom: 2px solid #b3c4e6;
  width: 100%;
}