@import './variables.scss';

:root {
  scrollbar-color: #bbb #1c1e24;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1e24;
}

::-webkit-scrollbar-thumb {
  background: #bbb;

  &:hover {
    background: #cfcfcf;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./fonts/OpenSans-Bold.ttf');
}

* > {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  min-width: 100%;
  height: 100%;
}
body {
  color: white;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: white;
  }
}
button, input {
  font-size: 1em;
  border: 0px;
  background: none; /* #282c34; */
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Open Sans';
  transition: all 0.1s ease-in-out;
}

button {
  background-color: white;
}
button, input[type=submit] {
  cursor: pointer;
}

button:not([disabled]):active, input[type=submit]:not([disabled]):active {
  transform: scale(0.95);
}

input:focus {
  outline: 0px;
}

button {
  opacity: 0.8;
}

button:not([disabled]):hover {
  opacity: 1;
}

input:disabled, button:disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.error {
  color: red;
  text-align: center;
}

#root {
  height: 100vh;
  min-width: 700px;
  position: relative;
}
#loginEmail form > *, #loginEmail button, #addAccount form > *, #addAccount button {
  /* TODO */
  display: block;
}

#loginEmail input[type=submit] {
  width: 100%;
  /*background-color: rgb(255, 209, 0);*/
  background-color: rgb(128, 255, 219);
  opacity: 0.8;
  border: 0px;
  font-size: 1.5em;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6em;
}
#loginEmail input[type=submit]:disabled {
  opacity: 0.5;
}
#loginEmail input[type=submit]:not([disabled]):hover {
  opacity: 1.0;
}

#loginEmail { flex: 0.9 }

#loginEmail input {
  margin: 2em 0px;
  border-bottom: 2px solid #b3c4e6;
  width: 100%;
  color: white;
  font-size: 1.1em;
}

#loginEmail input:not([type=submit]):focus {
  border-bottom: 3px solid #dae6fd;
}

#loginEmail .error, #loginOthers .error {
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
}

#loginOthers .error {
  max-width: 300px;
}

#loginEmail .error {
  top: -15px;
}

select {
  border: 0px;
  outline: 0px;
  color: white;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  padding-top: 25px;
  background-color: $panel-background-color;
  box-sizing: border-box;

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.slide-fade-enter {
  opacity: 0;
  transform: translateY(50px);
}

.slide-fade-enter.slide-fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.slide-fade-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

.slide-fade-exit {
  opacity: 1;
  transform: translateY(0px);
}

.slide-fade-exit.slide-fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.slide-fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-exit-done {
  opacity: 0;
}