$background-color: #282b33;
$panel-background-color: #202229;
$input-background-color: #1c1e24;
$input-background-color-darker: #191b20;

$primary-accent-color: #80ffdb;
$secondary-accent-color: #AA6AFF;
$tertiary-accent-color: #C3D4F6;
$danger-color: #da5151;
$warning-color: #ebaf40;
$info-color: #7189ff;

$ambire-dark-blue: #6000FF;
$ambire-purple: #AF50FF;

$text-dark: #202229;

$sidebar-desktop-width: 260px;
$sidebar-small-breakpoint: 1400px;
$sidebar-desktop-small-width: 120px;
$sidebar-mobile-height: 80px;
$topbar-height: 90px;
$topbar-mobile-height: 70px;
$topbar-dapp-mode-height: 60px;
$topbar-mobile-dapp-mode-height: 50px;
$mobile-breakpoint-max-width: 800px;
$small-breakpoint-max-width: 1400px;
$wide-breakpoint-min-width: 1920px;

$text-color:#FFF;
$text-container-color:mix($text-color, $panel-background-color, 60%);

$basic-transition: all 0.1s ease-in-out;
$box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.25);

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-grow-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

@mixin absolute-full-size {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$layout-spacing: 40px;
$max-container-width: 1690px;

// Redesign variables. Later we will apply them in the current variables naming pattern.
$c-ebony-clay: #24263d;
$c-titan-white: #ebecff;
$c-manatee: #88899d;
$c-martinique: #2d314d;
$c-turquoise: #27e8a7;
$c-heliotrope: #ae60ff;