$tertiary-accent-color: #C3D4F6;
$danger-color: #fd1a64;
$warning-color: #ffbc00;
$info-color: #7189ff;
$info-background-color: #EDE2FF;

$ambire-dark-blue: #6000FF;
$ambire-purple: #AF50FF;

$sidebar-desktop-width: 260px;
$sidebar-desktop-small-width: 120px;
$sidebar-small-breakpoint: 1540px;
$sidebar-mobile-height: 80px;

$topbar-dapp-mode-height: 60px;
$topbar-mobile-dapp-mode-height: 50px;
// We want to target Tablets and mobile Landscape here too, because we don't have a specific design for these resolutions.
// That's the reason we set 1300px to target both tablets and mobile.
$mobile-breakpoint-max-width: 1300px;
$small-breakpoint-max-width: 1540px;
$wide-breakpoint-min-width: 1920px;


$basic-transition: all 0.1s ease-in-out;
$box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.25);

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-grow-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

@mixin absolute-full-size {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$layout-spacing: 150px;
$max-container-width: 1690px;

// Redesign variables. Later we will apply them in the current variables naming pattern.
$c-ebony-clay: #24263d;
$c-ebony-clay-light: #282B44;
$c-mirage: #1e2033;
$c-mirage-dark: #171826;
$c-shark: #202229;
$c-fiord: #3e436b;
$c-martinique: #2d314d;
$c-martinique-light: #333757;
$c-manatee: #88899d;
$c-blue-bell: #898dcb;
$c-scampi: #6770B3;
$c-heliotrope: #ae60ff;
$c-turquoise: #27e8a7;
$c-aquamarine: #80ffdb;
$c-picton-blue: #47AEE9;
$c-half-spanish-white: #fef5db;
$c-titan-white: #ebecff;
$c-white: #ffffff;

$text-container-color:mix($c-titan-white, $c-ebony-clay, 60%);
