$background-color: #282b33;
$panel-background-color: #202229;
$input-background-color: #1c1e24;

$primary-accent-color: #80ffdb;
$secondary-accent-color: #AA6AFF;
$tertiary-accent-color: #C3D4F6;
$danger-color: #da5151;

$box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.25);

$sidebar-width: 280px;


$text-color:#FFF;
$text-container-color:mix($text-color, $panel-background-color, 60%);
$sidebar-mobile-width: 120px;
