@import 'variables.scss';

#sidebar {
  z-index: 49;
  height: 100%;
  width: $sidebar-desktop-width;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 0px;
  padding-top: calc(#{$topbar-height} + 50px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  transition: width 0.1s ease-in-out;

  .balance {
    margin-bottom: 3em;
    padding-left: 1em;

    label {
      text-transform: uppercase;
      line-height: 1.75;
      font-weight: 600;
    }

    .balanceDollarAmount {
      transition: font-size 0.1s ease-in-out;
    }
  }

  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;

    .item {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 15px 15px;
      line-height: 30px;
      cursor: pointer;
      color: #bbb;
      text-align: center;
      white-space: nowrap;
      transition: all 0.1s ease-in-out;

      svg {
        font-size: 30px;
        color: #bbb;
        transition: color 0.1s ease-in-out;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: #fff;

        svg {
          color: #fff;
        }
      }

      .badge-wrapper {
        font-weight: bold;
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid $danger-color;
        border-radius: 50%;
        background: $danger-color;
      }
    }

    .separator {
      flex-grow: 1;
    }

    #help-center {
      color: $primary-accent-color;

      svg {
        color: $primary-accent-color;
      }
    }
  }

  a.selected .item svg {
    color: $secondary-accent-color;
  }
  a.selected .item {
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
  }

  .highlight {
    color: $primary-accent-color;
  }

  .dollarSign {
    margin-right: 5px;
  }

  .balanceDollarAmount {
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $sidebar-small-breakpoint) {
  #sidebar {
    .balance {
      .balanceDollarAmount {
        font-size: 2em !important;
      }
    }
  }
}

@media screen and (max-width: $sidebar-small-breakpoint) {
  #sidebar {
    width: $sidebar-desktop-small-width;

    .balance {
      font-size: 0.8em !important;

      label {
        font-size: 1.1em !important;
      }
    }

    nav {
      .item {
        gap: 5px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
  #sidebar {
    height: $sidebar-mobile-height;
    width: 170px;
    padding: 0 10px;

    .balance {
      display: none;
    }

    nav {
      z-index: 49;
      height: $sidebar-mobile-height;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .item {
        gap: 0;
        height: 100%;
        width: 95px;
        font-size: 13px;
        font-weight: 500;
        padding: 0;

        svg {
          font-size: 25px;
        }
      }
    }
  }
}
