@import 'variables.scss';
$arrow-size: 15px;

.tooltip {
    display: contents;

    .tooltip-label {
        z-index: 50;
        position: fixed;
        max-width: 300px;
        padding: 15px 20px;
        font-size: 15px;
        font-weight: 500;
        color: white;
        background-color: $input-background-color-darker;
        box-shadow: $box-shadow;
        white-space: normal;
        opacity: 0;
        overflow: visible;
        transition: opacity 0.1s ease-in-out;
        pointer-events: none;

        .arrow {
            position: absolute;
            width: 0;
            &.top {
                top: -$arrow-size;
                border-bottom: $arrow-size solid $input-background-color-darker;
            }

            &.bottom {
                bottom: -$arrow-size;
                border-top: $arrow-size solid $input-background-color-darker;
            }

            &.right {
                right: $arrow-size / 2;
                border-left: $arrow-size solid transparent;
                border-right: 0 solid transparent;
            }

            &.left {
                left: $arrow-size / 2;
                border-left: 0 solid transparent;
                border-right: $arrow-size solid transparent;
            }
        }
    }

    &:hover {
        .tooltip-label {
            opacity: 1;
        }
    }

    @media screen and (max-width: $mobile-breakpoint-max-width) {
        .tooltip-label {          
            transition-delay: 400ms;
        }
      }
      
}