@import 'variables.scss';

.tooltip {
    position: relative;
    display: contents;

    .tooltip-label {
        z-index: 50;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 300px;
        padding: 15px 20px;
        font-size: 15px;
        font-weight: 500;
        color: white;
        background-color: $background-color;
        box-shadow: $box-shadow;
        white-space: normal;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.1s ease-in-out;
    }

    &:hover {
        .tooltip-label {
            opacity: 1;
        }
    }
}