@import 'variables.scss';
$arrow-size: .9375rem;

.tooltip {
    display: contents;

    .tooltipLabel {
        z-index: 50;
        position: fixed;
        max-width: 18.75rem;
        padding: .9375rem 1.25rem;
        font-size: .9375rem;
        font-weight: 500;
        color: theme(text-primary);
        background-color: theme(background-primary);
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        white-space: normal;
        opacity: 0;
        overflow: visible;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;

        .arrow {
            position: absolute;
            width: 0;
            &.top {
                top: -$arrow-size + 1; // +1, because of the border-radius of its parent. Otherwise there's a little space between the arrow and the label.
                border-bottom: $arrow-size solid theme(border-primary);
            }

            &.bottom {
                bottom: -$arrow-size;
                border-top: $arrow-size solid theme(border-primary);
            }

            &.right {
                right: $arrow-size / 2;
                border-left: $arrow-size solid transparent;
                border-right: 0 solid transparent;
            }

            &.left {
                left: $arrow-size / 2;
                border-left: 0 solid transparent;
                border-right: $arrow-size solid transparent;
            }
        }
    }

    &:hover, &:active, &:focus {
        .tooltipLabel {
            opacity: 1;
        }
    }

    @include lg-breakpoint {
        .tooltipLabel {
            transition-delay: 400ms;
        }
    }

}