@import "../../../variables.scss";

$tooltip-text-color: white;
$tooltip-margin: 30px;
$tooltip-arrow-size: 6px;

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  position: absolute;
//   border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  color: $input-background-color;
  // background: $primary-accent-color
  background: $primary-accent-color;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: $tooltip-arrow-size;
  margin-left: calc($tooltip-arrow-size * -1);
}

/* Absolute positioning */
.Tooltip-Tip.top {
  top: calc($tooltip-margin * -1);
}

/* CSS border triangles */
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: $primary-accent-color;
}

/* Absolute positioning */
.Tooltip-Tip.right {
  left: calc(100% + $tooltip-margin);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.right::before {
  left: calc($tooltip-arrow-size * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: $primary-accent-color
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc($tooltip-margin * -1);
}

/* CSS border triangles */
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: $primary-accent-color;
}

/* Absolute positioning */
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + $tooltip-margin);
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.Tooltip-Tip.left::before {
  left: auto;
  right: calc($tooltip-arrow-size * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: $primary-accent-color
}
