@import 'variables.scss';

.number-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    
    label {
        padding-left: 20px;
        font-weight: 400;
        color: #ebecff;
    }
    
    .input {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;

        input[type=text] {
            height: 100%;
            width: 100%;
            color: #ebecff;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            padding: 18px;
            padding-left: 20px;
            border: none;
            outline: none;
            text-overflow: ellipsis;
            background-color: #1e2033;            
            transition: all 0.1s ease-in-out;
            border-radius: 12px 0 0 12px;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus, &:focus ~ .button {
                box-shadow: 0 2px 0 0 $tertiary-accent-color;
            }
        }

        .button {
            height: 100%;
            @include flex-center-center;
            padding: 0 1.5rem;
            cursor: pointer;
            font-size: 16px;
            color: #ebecff;
            transition: all 0.1s ease-in-out;
            background-color: #1e2033;
            border-radius: 0 12px 12px 0;       
            user-select: none;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}