@import '../../../variables.scss';

.number-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    label {
        padding-left: 0.2em;
        font-weight: 500;
    }

    .input {
        position: relative;
        height: 60px;

        input[type=text] {
            height: 100%;
            width: 100%;
            color: white;
            font-family: 'Open Sans';
            font-size: 1.2em;
            padding: 1em;
            border: none;
            outline: none;
            text-overflow: ellipsis;
            background-color: $input-background-color;
            transition: all 0.1s ease-in-out;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus {
                box-shadow: 0 2px 0 0 $tertiary-accent-color;
            }
        }

        .button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            @include flex-center-center;
            padding: 0 1.5rem;
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            color: white;
            transition: all 0.1s ease-in-out;
            background-color: rgba(0, 0, 0, 0.1);
            user-select: none;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}