@import 'variables.scss';

.wrapper {
    .content {
        gap: 0.25em;

        .title {
            position: relative;
            font-size: 1.375rem;
        }
    }

    .item {
        height: 50px;
        padding-left: 1rem;
        padding-right: 1.375rem;
        background-color: $c-mirage;
        
        a {
            display: flex;
            align-items: center;
            gap: .625rem;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            color: $c-titan-white;
            white-space: nowrap;
            font-weight: 400;
        }

        &:hover {
            background-color: $c-ebony-clay;
            cursor: pointer;
        }
    }

    &:not(.viewed) {
        .title {
            &::after {
                content: "";
                position: absolute;
                top: -4px;
                right: -12px;
                height: 8px;
                width: 8px;
                border-radius: 100%;
                background-color: $c-turquoise;
            }
        }
    }
}