#help-dropdown {
    .content {
        gap: 0.25em;

        .title {
            font-size: 22px;
        }
    }

    .item {
        height: 50px;
        font-weight: 500;
        white-space: nowrap;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}