@import 'variables.scss';

#add-custom-dapp-modal {
    .content {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .dapp-input {
            gap: 8px;
            .text-input-container {
                input {
                    height: 40px;
                    font-size: 1em;
                    padding: 0.8em;
                }                
            }
        }

        .icon-input {
            display: flex;
            flex-direction: row;
            gap: 2em;
            justify-content: stretch;
            align-items: flex-end;

            .text-input {
                flex-grow: 1;
            }

            .icon-wrapper {
                border: 1px dashed #333641;
                width: 66px;
                height: 66px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 46px;
                    height: 46px;
                }
            }
        }

        .networks {
            .networks-container {
                display: flex;
                flex-direction: row;
                gap: 4px;
                .network-tag {
                    border: 2px solid $input-background-color;
                    display: block;
                    height: 20px;
                    width: 20px;
                    background-size: 16px 16px;
                    background-color: transparent;
                    background-position: center;
                    mask-repeat: no-repeat;
                    border-radius: 100px;
                    filter: grayscale(100%);
                    cursor: pointer;

                    &.selected {
                        filter: none;
                        border: 2px solid $primary-accent-color;
                    }
                }
            }
        }

        .networks, .connection-radios {
            > :first-child {
                margin-bottom: 8px;
            }
        }

        .input-err {
            margin-top: 4px;
            color: $warning-color;
        }
    }
}