@import 'variables.scss';

#swap {
    height: 100%;
    padding-top: ($layout-spacing / 2);
    @include flex-full-grow-container
}

@media screen and (max-width: $mobile-breakpoint-max-width) {
    #swap {
        padding-top: 0;
    }
}
