@import 'variables.scss';

.addresses-button {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    gap: 57px;
    padding-top: 15px;
    flex: 0 1 50%;

    .title {
        font-size: 25px;
        font-weight: 400;
    }

    .separator {
        flex: 1 0 auto;
    }

    .item {
        height: 65px;
        padding-left: 20px !important;

        &:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.025);
        }

        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .details {
            text-align: left;

            .address {
                word-break: break-all;
                text-align: left;
            }
        }

        .button {
            flex: 0 0 auto;
            width: 60px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint-max-width) {
    .wrapper {
        .item {
            padding-left: 15px !important;

            .details {
                padding-right: 5px;
            }
        }
    }
}