@import 'variables';

$body-size: 30px;
$top-item-mobile-up-distance: 5.5px;
$bottom-item-mobile-up-distance: 13px;
$item-mobile-distance: 10px;

.wrapper {
  padding-top: 29px; // The height of the checkbox + 5px gap

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 13px;

    .stepItem {
      position: absolute;
      bottom: calc(#{$body-size} + #{$top-item-mobile-up-distance});
      display: flex;
      align-items: center;
      gap: 10px;

      .stepItemIcon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      .stepItemName {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .iconWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: rgba($c-titan-white, 0.05);
      border-radius: 12px;

      .icon {
        width: 20px;
        height: 20px;
        border-radius: 12px;
      }

      .fromAmount,
      .toAmount {
        margin: 0;
        position: absolute;
        top: calc(#{$body-size} + #{$bottom-item-mobile-up-distance});
        left: 0;
      }

      .toAmount {
        left: unset;
        right: 0;
      }
    }

    .middlewareWrapper {
      height: 30px;
      // We hardcode the width in order to fix the width problems
      width: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .middlewareAssetIcon {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid $c-mirage;
        // We add transform to both icons in order to center them
        transform: translateX(2.5px);

        &:last-child {
          transform: translateX(-2.5px);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-top: 0;
    overflow: hidden;

    .body {
      flex-direction: column;
      margin-bottom: 20px;

      .stepItem {
        top: 5px;
        left: calc(#{$body-size} + #{$item-mobile-distance});
        transform: unset;
        flex-wrap: wrap;
        height: 20px;
        width: 100px;

        .stepItemIcon {
          width: 20px;
          height: 20px;
        }

        .stepItemName {
          font-size: 13px;
        }
      }

      .iconWrapper {
        .swapIcon {
          transform: rotate(90deg);
        }

        .fromAmount,
        .toAmount {
          top: 5px;
          font-size: 13px;
          left: unset;
          right: calc(#{$body-size} + #{$item-mobile-distance});
        }
      }
    }
  }
}
