@import 'variables.scss';

.checkboxLabel {
  color: theme(text-primary);
  
  a {
    color: theme(highlight-primary);
  }
}

.passwordInputWrapper {
	position: relative;
	margin: 2rem 0;

	.passwordInput {
		margin: 0;
		
		&.error {
			border-bottom-color: $danger-color;
	
			&:not([type="submit"]):focus {
				border-bottom-color: $danger-color!important;
			}
		}
	}

	.passwordStrength {
		position: absolute;
		z-index: 9;
		top: 60px;
		right: -0.625rem;
		transform: translate(100%, -50%);
		display: flex;
		flex-direction: column;
		gap: .625rem;
		padding: .9375rem;
		border-radius: .75rem;
    background-color: theme(background-terniary);
    border: 1px solid theme(border-secondary);
		
		visibility: hidden;
		opacity: 0;
		transition: .2s ease-in opacity, .2s ease-in visibility;

		&.visible {
			visibility: visible;
			opacity: 1;
		}

		.check {
			display: flex;
			align-items: center;
			gap: .5rem;

			.checkIcon, .xIcon {
				width: 1.25rem;
			}

			.checkIcon {
				color: $success-color;
			}
			.xIcon {
				color: $danger-color;
			}


			.checkLabel {
				opacity: .8;
				font-size: .875rem;
				white-space: nowrap;
			}
		}
	}
}

.confirmPassword.error {
	border-bottom-color: $danger-color;

	&:not([type="submit"]):focus {
		border-bottom-color: $danger-color!important;
	}
}

@media screen and (max-width: 1278px) {
	.passwordInputWrapper {
		.passwordStrength {
			top: 3.125rem;
			right: 1.25rem;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-width: 768px) {
	.passwordInputWrapper {
		.passwordStrength {
			padding: .625rem;
			right: 0;

			.check {
				.checkIcon, .xIcon {
					width: .9375rem;
				}

				.checkLabel {
					font-size: .75rem;
				}
			}
		}
	}
}