@import 'variables.scss';

.checkboxLabel {
  color: theme(text-primary);
  
  a {
    color: theme(highlight-primary);
  }
}

.passwordInputWrapper {
	position: relative;
	margin: 2rem 0;

	.passwordInput {
		margin: 0;
		border-bottom: 0;
	}
	
	.strengthProgressWrapper {
		position: relative;
		height: 3px;
		width: 100%;
		border-bottom: 2px solid $c-titan-white;

		&.taller {
			border-bottom-width: 3px;
		}
	
		.strengthProgress {
			position: absolute;
			width: 0;
			border-bottom: 2px solid $danger-color;

			&.taller {
				border-bottom-width: 3px;
			}
	
			&.strengthProgress0 {
				width: 10%;
				border-bottom-color: $danger-color;
			}
			&.strengthProgress1 {
				width: 20%;
				border-bottom-color: $danger-color;
			}
			&.strengthProgress2 {
				width: 40%;
				border-bottom-color: $warning-color;
			}
			&.strengthProgress3 {
				width: 60%;
				border-bottom-color: mix($warning-color, $c-turquoise, 40%);
			}
			&.strengthProgress4 {
				width: 80%;
				border-bottom-color: mix($warning-color, $c-turquoise, 20%);
			}
			&.strengthProgress5 {
				width: 100%;
				border-bottom-color: $c-turquoise;
			}
		}
	}
}
